<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!-- Primary Meta Tags -->
	<title th:text="${helper.texts.get('meta-title')}"></title>
 
	<!-- CSS -->

</head>

<body>
    


<main class="bg-gray-200">
			
		<h1 class="h1 title text-uppercase text-center" th:text="${helper.texts.title}"></h1>	
	
		<div th:if="${product.ecoscore}" class="col-lg-4">
		<!--/* Best price */-->				
		<!--th:block th:insert="~{inc/product-price.html}"></th:block-->

		<div class="p-4">
			<!--div th:if="${product.ecoscore}" class="text-center">				           
			   <img class="mt-4"  width="350px" th:alt="'Ecoscore : ' + ${product.ecoscore.letter()}" th:title="'éco-score : ' + ${product.ecoscore.letter()}" th:src="'/icons/ecoscore/scoring-'+${product.ecoscore.letter()}+'.png'">
			</div-->
			<div>						
			
			<img class="mb-4"  width="350px" th:alt="'Ecoscore : ' + ${product.ecoscore.letter()}" th:title="'éco-score : ' + ${product.ecoscore.letter()}" th:src="'/icons/ecoscore/scoring-'+${product.ecoscore.letter()}+'.png'">
			
			
			
		
				
		
		
			</div>
		</div>

	</div>
				
				
				
						
						
	
	
				

</main>


</body>

</html>