# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.start


# Local env
.env.*
!.env.examplefiles
.env
/package-lock.json
/.project
node_modules/
.nuxt/
.output/
/.husky/*
!/.husky/_/husky.sh
!/.husky/_/
!/.husky/pre-push
!/.husky/pre-commit
!/.husky/
.cursorrules
./frontend\components\shared\dev\generations

# Generated TextContent CSS
/openapitools.json
/lighthouse-report-final.json
/lighthouse-report-v2.json
/lighthouse-report-v3.json
/lighthouse-report.json
/output.html
/test-results/
