/.settings/
/.project
/.idea/
/target/
ui/src/main/resources/application-devsec.yml
/generated-images/
/code

apache-maven-*-bin.tar.gz
/frontend/components/dev/generations
/logs/
/jstack.log
/.claude/
/products_with_offers.json
/random_dishwasher.json
/random_fridge.json
/random_products.json
/random_tv.json
/random_washing_machine.json
/workspace-api.log
/api.log
