services:
####################################################################
# Elastic Search
###################################################################
       
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.2
    container_name: elastic
    environment:
      - http.max_content_length=200mb
      - node.name=elastic
      - cluster.name=es-docker-cluster
      - cluster.initial_master_nodes=elastic
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms10g -Xmx10g"
      - xpack.security.enabled=false
      - logger.level=WARN
      
    ulimits:
      memlock:
        soft: -1
        hard: -1    
      nproc: 65536
      nofile:
        soft: 65536
        hard: 65536

    volumes:
      - /opt/open4goods/elastic-data:/usr/share/elasticsearch/data

    ports:
      - "9200:9200"
    networks:
      - o4g-network

####################################################################
# Redis
###################################################################
       
#  redis:
#    image: bitnami/redis:7.4.0
#    container_name: redis
#    command: ["redis-server", "--stop-writes-on-bgsave-error","no","--protected-mode","no", "--appendonly", "no", "--maxmemory", "20mb", "--maxmemory-policy", "allkeys-lru"]
#    ports:
#      - 6379:6379        
#    environment:
#      - ALLOW_EMPTY_PASSWORD=yes
# 
#    networks:
#      - o4g-network
      
      

####################################################################
# Kibana
###################################################################

# Uncomment the below section to enable kibana 


  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: kibana
    depends_on: 
      - elastic
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://elastic:9200
      ELASTICSEARCH_HOSTS: http://elastic:9200

    networks:
      - o4g-network

    
volumes:
  elastic-data:
    driver: local

networks:
  o4g-network:
    driver: bridge
