<!--/* [# th:comment="Footer Partial" /] */-->
<footer class="footer bg-primary text-white pt-6 pb-5" role="contentinfo" aria-labelledby="footer-heading">
    <div class="container">
        <!-- Footer heading for screen readers (hidden visually) -->
        <h2 id="footer-heading" class="visually-hidden">Informations du pied de page</h2>

        <div class="row">
            <div class="col-md-4">
                <p>
                    nudger.fr est une approche ouverte pour évaluer écologiquement les biens de consommation
                    et compenser partiellement l'impact de vos achats en ligne.
                </p>

                
                <div class="h5 mt-2">
                    <a th:href="@{/blog}" class="text-white text-decoration-none">
                        Notre blog
                    </a>
                </div>

				

				<span th:if="${genericResponse != null && genericResponse.duration != 0}">
                    Page générée en <span th:text="${genericResponse.duration}"> </span> ms
                </span>
            </div>

            <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <div class="mb-4"> <b> <a th:href="@{/ecoscore}" class="h5 text-white text-decoration-none">Evaluation environnementale</a> </b></div>
                <div class="mb-4">  <b><a th:href="@{/compensation-ecologique}" class="h5 text-white text-decoration-none">Contribution écologique</a></b></div>

                <span class="h5">Comparateur de bien commun</span>
                <ul class="footer-links mt-2 list-unstyled">
                    <li class="ms-3">
                        <a th:href="@{/opendata}" class="text-white text-decoration-none">Open data</a>
                    </li>
                    <li class="ms-3">
                        <a th:href="@{/opensource}" class="text-white text-decoration-none">Open source</a>
                    </li>

					<li class="ms-3">
					   <a th:href="@{/politique-confidentialite}" class="text-white text-decoration-none">Politique de confidentialité </a>
					</li>

					<li class="ms-3">
					   <a th:href="@{/mentions-legales}" class="text-white text-decoration-none">Mentions légales </a>
					</li>

				</ul>
            </div>

            <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Vous n'êtes pas seuls</span>
                <ul class="footer-links mt-2 mb-2 list-unstyled">
                    <li class="ms-3">
                        <a th:href="@{/equipe}" class="text-white text-decoration-none">Notre équipe</a>
                    </li>
                    <li class="ms-3">
                        <a th:href="@{/partenaires}" class="text-white text-decoration-none">Nos partenaires</a>
                    </li>
                </ul>

                <span class="h5">Feedback</span>
                <ul class="footer-links mt-2 list-unstyled">
                    <li class="ms-3">
                        <a th:href="@{/feedback/idea}" class="text-white text-decoration-none">Une idée ?</a>
                    </li>
                    <li class="ms-3">
                        <a th:href="@{/feedback/issue}" class="text-white text-decoration-none">Un bug ?</a>
                    </li>
                    <li class="ms-3">
                        <a th:href="@{/contact}" class="text-white text-decoration-none">Nous contacter</a>
                    </li>

					<li class="ms-3">
					   <a target="_blank" rel="nofollow" href="https://www.linkedin.com/company/comparateur-nudger/" aria-label="twitter social link" class="icon-white me-2">
					       <span class="fab fa-linkedin"></span> Nous suivre</a></li>

				</ul>
            </div>
        </div>

        <hr class="bg-secondary my-3 my-lg-5"/>

        <div class="row">
            <div class="col mb-md-0 text-center">
                <a th:href="@{/}" class="d-flex justify-content-center mb-3">
                    <img
                        src="/assets/img/nudger_logo_v2.svg"
                        alt="Logo Nudger"
                        height="30"
                        class="me-2"
                        loading="lazy"
                    />
                </a>
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="fw-normal font-small mb-0">
                        Copyright ©
                        <span class="current-year">2025</span> open4goods.
                        Produit de bien commun.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Core scripts -->
<script defer src="/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script defer src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script defer src="/vendor/headroom.js/dist/headroom.min.js"></script>
<script defer src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script defer src="/vendor/vivus/dist/vivus.min.js"></script>

<th:block th:unless="${dev}">
<script defer src="/js/pixel.min.js"></script>
</th:block>

<th:block th:if="${dev}">
<script defer src="/assets/js/pixel.js"></script>
</th:block>


<script>
document.querySelectorAll('.star-rating').forEach(function (ratingElement) {
    const rating = parseFloat(ratingElement.dataset.rating || 0);
    const stars = ratingElement.querySelectorAll('.star');

    const fullStars = Math.floor(rating);
    const partialWidth = ((rating % 1) * 100).toFixed(2);

    stars.forEach((star, index) => {
        if (index < fullStars) {
            star.classList.add('full');
        } else if (index === fullStars) {
            star.classList.add('partial');
            star.style.setProperty('--partial-width', `${partialWidth}%`);
        }
    });
});


</script>