    <th:block th:with="
        hasNewPriceHistory=${product.price.newPricehistory != null and !#lists.isEmpty(product.price.newPricehistory)},
        hasOccasionPriceHistory=${product.price.occasionPricehistory != null and !#lists.isEmpty(product.price.occasionPricehistory)},
        colSize=${hasNewPriceHistory and hasOccasionPriceHistory ? 6 : 12}
    ">
        <div class="row text-center justify-content-center">
            <div class="col-md-8 mb-5">
            <h2>une bonne affaire ?</h2>
            </div>
        </div>

        <div id="markerPrices" class="card shadow border-gray-300 text-center">
            <div class="row align-items-center">
                <!-- First column: Messages -->
                <div th:attr="class='col-md-' + (${hasNewPriceHistory or hasOccasionPriceHistory} ? 4 : 12)">
                    <!-- Content of messages -->
                    <th:block>
                        <!-- Messages -->
                        <div class="m-4">
                            <div th:if="${newTrend.trend == 0}" class="text-center alert alert-info" role="alert">
                                😶‍🌫️ Le prix neuf est stable depuis <span th:text="${newTrend.formatedDuration()}"></span>
                            </div>
                            <div th:if="${newTrend.trend == 1}" class="text-center alert alert-tertiary" role="alert">
                                🧐 Le prix neuf a augmenté de <b><span th:text="${#numbers.formatDecimal(newTrend.variation == null ? 0 : newTrend.variation, 0, 0)}"></span>€</b> depuis le dernier pointage (<span th:text="${newTrend.formatedDuration()}"></span>)
                            </div>
                            <div th:if="${newTrend.trend == -1}" class="text-center alert alert-success" role="alert">
                                Le prix neuf a baissé de <b><span th:text="${#numbers.formatDecimal(newTrend.variation == null ? 0 : newTrend.variation, 0, 0)}"></span>€</b> depuis le dernier relevé (<span th:text="${newTrend.formatedDuration()}"></span>) 😊
                            </div>
                        </div>

                        <div class="card shadow m-4">
                            <div class="card-body text-center text-md-left">
                                <div class="row align-items-center">
                                    <div th:if="${newTrend.historicalLowestPrice != 0}" class="col-md-12">
                                        <span class="mb-3">Prix le plus bas historique ! </span>
                                        <p class="mb-0">Nous n'avons jamais relevé de prix aussi bas pour le <span th:text="${product.brandAndModel()}"></span>.</p>
                                    </div>

                                    <div th:unless="${newTrend.historicalLowestPrice != 0}" class="col-md-8">
                                        <h2 class="mb-3">Écart de prix historique</h2>
                                        <p class="mb-0">Écart de prix calculé avec le prix historique le plus bas (<span th:text="${newTrend.historicalLowestPrice}"></span>€) jamais relevé par Nudger sur le <span th:text="${product.brandAndModel()}"></span></p>
                                    </div>

                                    <div th:unless="${newTrend.historicalLowestPrice != 0}" class="col-12 col-md-4 mt-4 mt-md-0 text-md-right">
                                        <span class="d-block my-3">
                                            <span class="h3 fw-bold" th:text="${#numbers.formatDecimal(newTrend.historicalVariation == null ? 0 : newTrend.historicalVariation, 0, 1)}"></span>
                                            <span class="align-baseline font-medium">€</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <div class="card-shadow m-4">
                        <a href="#markerEcoscore" class="text-center btn btn-primary w-100">
                            <span class="me-1">
                                <span class="fas fa-euro"></span>
                            </span>
                            Meilleur prix
                        </a>
                    </div>
                </div>

                <!-- Second column: Charts -->
                <div class="col-md-8 mt-5 mt-md-0" th:if="${hasNewPriceHistory or hasOccasionPriceHistory}">
                    <div class="row">
                        <!-- New Price Chart -->
                        <div th:if="${hasNewPriceHistory}" th:attr="class='col-md-' + ${colSize}">
                            <canvas class="mt-4" id="newPriceChart"></canvas>
                            <div class="text-center">
                                <div class="btn-group my-3" role="group" aria-label="Sélection de la période">
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-new-15days">15 jours</button>
                                    <button type="button" class="btn btn-primary active-period-btn period-btn" id="btn-new-3months">3 mois</button>
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-new-6months">6 mois</button>
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-new-max">Max</button>
                                </div>
                            </div>
                        </div>
                        <!-- Used Price Chart -->
                        <div th:if="${hasOccasionPriceHistory}" th:attr="class='col-md-' + ${colSize}">
                            <canvas class="mt-4" id="usedPriceChart"></canvas>
                            <div class="text-center">
                                <div class="btn-group my-3" role="group" aria-label="Sélection de la période">
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-used-15days">15 jours</button>
                                    <button type="button" class="btn btn-primary active-period-btn period-btn" id="btn-used-3months">3 mois</button>
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-used-6months">6 mois</button>
                                    <button type="button" class="btn btn-secondary period-btn" id="btn-used-max">Max</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <form method="POST" action="/nudge" class="">
    <div class="table-responsive-sm">
        <table th:id="offres" class="table table-hover table-nudger table-nudger-price bg-white">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Marchand</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Etat</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="offer , stats: ${product.price.offers}">
                    <tr class="p-3 align-middle" th:data-token="${offer.affiliationToken}" th:data-compensation="${offer.compensation}">
                        <td class="p-0 infos-text">
                            <span class="p-3 d-inline-flex bg-brand_secondary">
                                <img height="30" th:src="'/icon/'+${offer.datasourceName}" th:title="'icône ' + ${offer.shortDataSourceName()}">
                            </span>  
                        </td>
                        <td class="p-0 infos-text" data-toggle="tooltip" data-placement="top" th:title="${offer.offerName}" nowrap>
                            <span class="h-100 d-flex align-items-center">
                                <span class="" th:text="${offer.datasourceName}"></span>
                            </span>
                            
                        </td>
                        <td class="p-0 infos-text infos-text-secondary text-center">
                            <span class="" th:text="${offer.price}"></span> 
                            <span th:text="#{'symbol.'+${offer.currency}}"></span>
                        </td>
                        <td class="p-0 pe-3 text-end">
                            <span th:text="#{'condition.'+${offer.productState}}"></span>
                        </td>
                    </tr>
                
                </th:block>
            
            </tbody>
        
        </table>
    </div>

    

    <label class="h6 d-flex align-items-center border-1" for="inlineFormCustomSelectPref"><span class="badge input-group__nudger text-black me-2">2</span>Choisissez votre association préférée</label>
    <select name="nudge" width="100%" class="form-select mb-3" id="inlineFormCustomSelectPref" aria-label="Choisissez votre cause">
        <option value="nudger" selected="selected">
            Laisser nudger choisir !
        </option>
        <th:block th:each="org : ${config.reversementConfig.contributedOrganisations}">
            <option th:value="${org.key}" th:text="${org.value.name}"></option>
        </th:block>
    </select>
            
    
    <div class="d-flex justify-content-center">
        <input th:if="${product.bestPrice()}" type ="submit" value="Nudger" formtarget="_blank" class="w-100 btn btn__nudger">
        <input  th:if="${product.bestPrice()}" type="hidden" id="token" name="token" th:value="${product.bestPrice().affiliationToken}">
    </div>
</form>
    
    
    
    
    
    
    
    
    
    
