<div class="row pt-4">


        <div id="ecoScore" class="card card__radius--mini border-0">
            <div class="card-body text-center">
                        <div>
                        <a href="#"> Impact Score : 
	                        <span class="display-5" th:text="${product.ecoscore.on20()}"></span>
	                        <span class="display-6">/20</span>
                        </a>
                        </div>
  
					  <!-- Sta rating -->
					  <div class="star-rating star-rating-lg" data-rating="3.7" aria-label="Rating: 3.7 out of 5 stars">
					    <div class="stars">
					        <span class="star"></span>
					        <span class="star"></span>
					        <span class="star"></span>
					        <span class="star"></span>
					        <span class="star"></span>
					    </div>
					</div>
					            
					            
            
            
            </div>
        </div>
            
	<!-- <div class="col-12 col-lg-6">
		<div id="ecoScore" class="card card__radius--mini border-0">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-center">
					<h2 class="text-gradiant text-gradiant_ecoscore">
						<span class="display-2" th:text="${product.ecoscore.on20()}"></span>
						<span class="display-3">/20</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6">
		<div class="card card__radius--mini border-0">
			<div class="card-body">
				<a href="#markerEcological">
					 <img 
					 	class="img-fluid"
						th:alt="'Ecoscore : ' + ${product.ecoscore.letter()}"
						th:title="'éco-score : ' + ${product.ecoscore.letter()}"
						th:src="'/icons/ecoscore/scoring-'+${product.ecoscore.letter()}+'.png'">
				</a>
			</div>
		</div>
	</div>
	 -->
</div>