<section>
             <h1 class="text-center"> Mode admin</h1>
                        <div class="text-center">
                           <a target="_blank" th:text="'Source JSON de '+ ${product.gtin()}" th:href="'https://api.nudger.fr/product/?gtin='+${product.gtin()}"></a>
                        </div>
                        <!-- Categories
                        <th:block th:insert="~{inc/product-categories.html}"></th:block>
                         -->

  

                            <!-- Offer names -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card shadow my-3">
                                        <div class="card-header">
                                            <h2 class="h5">Offernames</h2>
                                        </div>
                                        <div class="card-body">
                                            <ul>
                                                <li th:each="item, stat : ${product.offerNames}"
                                                    th:text="${item}"></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                             <!-- Mapped categories -->
                                <div class="card shadow my-3">
                                    <div class="card-header">
                                        <h2 class="h5">Categories</h2>
                                    </div>
                                    <div class="card-body">
                                        <th:block th:each="item, stat : ${product.categoriesByDatasources}">
                                            <div class="alert alert-primary" role="alert">
                                                <span th:text="${item.key + ' : ' + item.value}"></span>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>


                            <!-- Unmatched Attribute table -->
                        <th:block th:insert="~{inc/product-unmatched-attributes.html}"></th:block>
  <!-- Resources -->
                        <th:block th:insert="~{inc/product-resources.html}"></th:block>


</section>