<!-- Main widget fragment: displays price history, chart, and offers -->
<section role="main" th:aria-label="#{'product.price.' + ${widgetPrefix} + '.title'}">
    <div th:if="${priceHistory}">
        <div class="m-4 card shadow border-gray-300 text-center" >
    
            <div class="row text-center justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                    <h2 class="display-4" th:text="#{'product.price.' + ${widgetPrefix} + '.title'}">Default Title</h2>
                </div>
            </div>
    
            <th:block>
                <!-- Block for offer information -->
                <div class="row">
                    <div class="col-4">
                        <div class="ms-4 card shadow offer-link" th:data-token="${offer.affiliationToken}"
                             data-offer-type="${widgetPrefix}"
                             th:classappend="' selected'">
                            <div class="card-body text-center">
                                <h6 class="text-muted" th:text="#{'product.price.' + ${widgetPrefix} + '.bestPrice'}">Best Price</h6>
                                <div class="d-flex align-items-center justify-content-center mb-3">
                                    <img th:replace="inc/favicon :: remoteFavicon(${offer.datasourceName}, 32)" alt="Favicon"/>
                                    <h5 class="mb-0" th:text="${offer.datasourceName}">Datasource</h5>
                                </div>
                                <div class="text-success d-flex justify-content-center align-items-baseline mb-0">
                                    <h2 class="display-3 fw-bold mb-0 best-price" th:text="${offer.shortPrice()}">0</h2>
                                    <span class="ms-2" th:text="#{'symbol.' + ${offer.currency}}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-8">
                        <!-- If the offer is the historical lowest -->
                        <div th:if="${product.price.isHistoricalLowest(offer)}" class="card  me-4 card-historical">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-2 text-center">
                                        <!-- Modern icon using FontAwesome -->
                                        <i class="fas fa-medal fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-10">
                                        <h3 class="h4 mb-3" th:text="#{'product.price.' + ${widgetPrefix} + '.historicalLowest'}">Historical Lowest Price!</h3>
                                        <p class="mb-0">
                                            <span th:text="${product.brandAndModel()}">Brand &amp; Model</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- If not the historical lowest, show historical stats -->
						<div th:unless="${product.price.isHistoricalLowest(offer)}" class="card shadow me-4">
						    <div class="card-body">
						        <div class="row align-items-center">
						                <h3 class="h4 mb-3" th:text="#{'product.price.' + ${widgetPrefix} + '.historical'}">Historique</h3>
						            <div class="col-4 text-center">
						                <i style="    font-size:  2.5em;" class="fa fa-chart-line" aria-hidden="true"></i>
						            </div>
						            <div class="col-8">
						                <div class="d-block ms-auto">
						                    <!-- Lowest price -->
						                    <div class="d-flex align-items-center text-right mb-2">
						                        <span class="shape-xs rounded-circle bg-success me-2"></span>
						                        <span class="fw-normal small">
						                            <span th:text="#{historical.lowestLabel}"  >Prix le plus bas :</span>
						                            <mark>
						                            <b class="fw-bold h6 text-success">
						                                <!-- Price + currency -->
						                                <span th:text="${
						                                  product.price.getHistoryLowest(priceCondition) != null 
						                                    ? product.price.getHistoryLowest(priceCondition).price 
						                                    : 'N/A'
						                                }"></span> €
						                            </b>
						                            </mark>
						                        </span>
						                    </div>
						                    <!-- Average price -->
						                    <div class="d-flex align-items-center text-right mb-2">
						                        <span class="shape-xs rounded-circle bg-primary me-2"></span>
						                        <span class="fw-normal small">
						                            <span th:text="#{historical.averageLabel}">Prix moyen :</span>
						                            <b class="text-primary">
						                                <span th:text="${
						                                  product.price.getHistoryAverage(priceCondition) != null 
						                                    ? #numbers.formatDecimal(product.price.getHistoryAverage(priceCondition), 2, 2) 
						                                    : 'N/A'
						                                }"></span> €
						                            </b>
						                        </span>
						                    </div>
						                    <!-- Highest price -->
						                    <div class="d-flex align-items-center text-right mb-2">
						                        <span class="shape-xs rounded-circle bg-danger me-2"></span>
						                        <span class="fw-normal small">
						                            <span th:text="#{historical.highestLabel}">Prix le plus haut :</span>
						                            <b class="text-danger">
						                                <span th:text="${
						                                  product.price.getHistoryHighest(priceCondition) != null 
						                                    ? product.price.getHistoryHighest(priceCondition).price 
						                                    : 'N/A'
						                                }"></span> €
						                            </b>
						                        </span>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>
    
                    </div>
                </div>
    
                <!-- Trend messages -->
                <div class="m-4">
                    <div th:if="${trend.trend == 0}" class="text-center alert alert-info" role="alert">
                        😶‍🌫️ <span th:text="#{trend.stable}">Le prix est stable depuis</span> <span th:text="${trend.formatedDuration()}"></span>)
                    </div>
                    <div th:if="${trend.trend == 1}" class="text-center alert alert-danger" role="alert">
                        🧐 <span th:text="#{trend.increased}">Le prix a augmenté de</span> <b>
                            <span th:text="${#numbers.formatDecimal(trend.variation == null ? 0 : trend.variation, 0, 0)}"></span>€
                        </b> <span th:text="#{trend.since}">depuis</span> <span th:text="${trend.formatedDuration()}"></span>)
                    </div>
                    <div th:if="${trend.trend == -1}" class="text-center alert alert-success" role="alert">
                        <span th:text="#{trend.decreased}">Le prix a baissé de</span> <b>
                            <span th:text="${#numbers.formatDecimal(trend.variation == null ? 0 : trend.variation, 0, 0)}"></span>€
                        </b> <span th:text="#{trend.since}">depuis</span> <span th:text="${trend.formatedDuration()}"></span>) 😊
                    </div>
                </div>
    
            </th:block>
    
            <!-- Chart canvas 
            -->
            <canvas class="m-4" th:id="|${widgetPrefix}PriceChart|"></canvas>
    
			<!-- Period selection buttons -->
			<div class="text-center" role="radiogroup" aria-label="Sélection de la période">
			    <div class="btn-group my-3 period-group" role="group">
			        <button type="button" class="mx-2 btn btn__nudger period-btn"
			                th:id="|btn-${widgetPrefix}-15days|"
			                role="radio" aria-checked="false"
			                th:text="#{'product.price.' + ${widgetPrefix} + '.period.15days'}">
			            15 jours
			        </button>
			        <button type="button" class="mx-2 btn btn__nudger period-btn"
			                th:id="|btn-${widgetPrefix}-3months|"
			                role="radio" aria-checked="false"
			                th:text="#{'product.price.' + ${widgetPrefix} + '.period.3months'}">
			            3 mois
			        </button>
			        <button type="button" class="mx-2 btn btn__nudger period-btn"
			                th:id="|btn-${widgetPrefix}-6months|"
			                role="radio" aria-checked="false"
			                th:text="#{'product.price.' + ${widgetPrefix} + '.period.6months'}">
			            6 mois
			        </button>
			        <button type="button" class="mx-2 btn btn__nudger period-btn"
			                th:id="|btn-${widgetPrefix}-max|"
			                role="radio" aria-checked="false"
			                th:text="#{'product.price.' + ${widgetPrefix} + '.period.max'}">
			            Max
			        </button>
			    </div>
			</div>

    
            <h3 class="mt-4 display-4" th:text="#{'product.price.' + ${widgetPrefix} + '.allOffers'}">Toutes les offres</h3>
            
            <!-- Offers table -->
            <div class="m-4 table-responsive-sm">
                <table th:id="|${widgetPrefix}-offers|" class="table table-hover bg-white">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" th:text="#{table.merchant}">Marchand</th>
                            <th scope="col" th:text="#{table.price}">Prix</th>
                            <th scope="col" th:text="#{table.updated}">Mise à jour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="offer, stats : ${offers}">
                            <tr class="p-3 align-middle offer-link"
                                th:data-token="${offer.affiliationToken}"
                                th:data-compensation="${offer.compensation}">
                                <td class="p-0 infos-text">
                                    <span class="p-3 d-inline-flex">
                                        <img th:replace="inc/favicon :: remoteFavicon(${offer.datasourceName}, 16)" alt="Favicon"/>
                                    </span>
                                </td>
                                <td class="p-0 infos-text" data-bs-toggle="tooltip" data-bs-placement="top" th:title="${offer.offerName}" nowrap>
                                    <span class="h-100 d-flex align-items-center">
                                        <span th:text="${offer.datasourceName}"></span>
                                    </span>
                                </td>
                                <td class="p-0 infos-text infos-text-secondary text-center">
                                    <span th:text="${offer.price}"></span> 
                                    <span th:text="#{'symbol.' + ${offer.currency}}"></span>
                                </td>
                                <td class="p-0 pe-3 text-end">
                                    <span th:text="${offer.formatedDuration()}"></span>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
</section>
