<!-- Content -->
<div id="accordionScore" class="accordion accordion-flush">
	<!-- Sub scores -->
	<div class="accordion-item" th:each="score, stat : ${verticalConfig.ecoScoreDetails(product.realScores())}">
		<h2 class="accordion-header" th:id="'score-'+${stat.count}">
			<button 
				class="accordion-button collapsed" 
				type="button" 
				data-bs-toggle="collapse" 
				th:data-bs-target="'#collapse-score-'+${stat.count}"
				th:aria-expanded="${stat.first == true ? 'true' : 'false'}" 
				th:aria-controls="'collapse-score-'+${stat.count}">
			
				<span th:text="#{'score-'+${score.name}}"></span>
				
			</button>
		</h2>
		<div th:id="'collapse-score-'+${stat.count}" 
			class="accordion-collapse collapse"
			th:aria-labelledby="'collapse-score-'+${stat.count}"
			data-bs-parent="#accordionScore">
			<div class="accordion-body">
				<th:block th:insert="~{inc/score/__${score.name.toLowerCase()}__.html}"></th:block>
			</div>
		</div>
	</div>			
</div>	

<!-- End Content -->
<!-- EST-CE PERTINENT LE BOUTON GOULVEN ? -->
<!--div class="card-footer bg-white border-0 p-0">
	<div class="d-grid">
		<a href="#markerEcological" class="btn btn-primary rounded-0 rounded-bottom">Bilan écologique</a>
	</div>
</div-->