// NUDGER ELEMENTS
$brand_mainColor          : #00DE9F !default;
$brand_secondaryColor     : #00A1C2 !default;

$maincolor                : #004B64 !default;
$secondaryColor           : #5C8C9C !default;

$ecoscore_main            : #008879 !default;
$ecoscore_secondary       : #00D19F !default;
$compensation_main        : #5BDB3B !default;
$compensation_secondary   : #A6E242 !default;
$openSource_main          : #FFCD90 !default;
$openSource_secondary     : #FF8479 !default;
$numResponsable_main      : #00D1CE !default;
$numResponsable_secondary : #0088D6 !default;

$nudger_radius: 90px;
// *NUDGER ELEMENTS

