
<!--li th:with = "root = ${googleProductService.byId(googleTaxo)}" class="me-2 text-green-bg-transparent nav-item dropdown">
    <a
	th:href="${root.url(siteLanguage)}"
	class="nav-link dropdown-toggle btn btn-lg btn-outline-light btn-border"
	th:id="'vertical'+${googleTaxo}" 
	aria-expanded="false"
	data-bs-toggle="dropdown"> 
	       <img th:src="${image}" style="max-height: 75px" class="img-fluid icon-img me-2"> 
	           <span style="font-size: 1.25rem;" class="h3" th:text="${title}"></span> 
	           <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
    </a>
	<div style="width: 100%" class="dropdown-menu px-0 py-2 lg-4 p-lg-4"
		th:aria-labelledby="'vertical'+${googleTaxo}">
		<ul class="list-style-none">
			<li th:each="cat : ${googleProductService.leafs(googleTaxo)}" class="mb-2 megamenu-item">
			         <img th:src="'/images/verticals/' + ${cat.vertical.id} + '.jpg'"  style="max-height: 50px" class="img-fluid icon-img me-2">
			         <a style="font-size: 1.0rem;" class="megamenu-link" th:href="'/' + ${cat.vertical.i18n.get(siteLanguage).verticalHomeUrl}" th:text="${cat.googleNames.i18n(siteLanguage)}">
			     </a>
			 </li>
		</ul>
	</div>
</li-->

<div class="btn-group me-2 mb-2 dropstart " th:with = "root = ${googleProductService.byId(googleTaxo)}">
	<button type="button" class="btn btn-white">
		<img th:src="${image}" height="20" class="me-2">
		<span th:text="${title}"></span>
	</button>
	<button 
		type="button" 
		class="btn btn-white dropdown-toggle dropdown-toggle-split" 
		th:href="${root.url(siteLanguage)}" 
		th:id="'vertical'+${googleTaxo}" 
		data-bs-toggle="dropdown" 
		aria-haspopup="true" 
		aria-expanded="false">
		<span class="fas fa-angle-down dropdown-arrow"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	
	<div class="dropdown-menu py-0" th:aria-labelledby="'vertical'+${googleTaxo}">
		<div th:each="cat : ${googleProductService.leafs(googleTaxo)}">
			<a 
				class="dropdown-item text-primary"  
				th:href="'/' + ${cat.vertical.i18n.get(siteLanguage).verticalHomeUrl}" 
				th:text="${cat.googleNames.i18n(siteLanguage)}">
			</a>
		</div>
	</div>
</div>