<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<th:block th:if="${config}">
	<th:block th:if="${config.webConfig.useHotScss}">
		<link type="text/css" href="/css/dev/pixel.css" rel="stylesheet">
	</th:block>
	
	
	<th:block th:unless="${config.webConfig.useHotScss}">
	    <link type="text/css" href="/css/prod/pixel.css" rel="stylesheet">
	</th:block>
</th:block>
<th:block th:unless="${config}">
     <link type="text/css" href="/css/pixel.css" rel="stylesheet">
</th:block>
<link rel="stylesheet" href="/css/custom.css" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap" media="print" onload="this.media='all'">

<!-- 
<link rel="stylesheet" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" media="print" onload="this.media='all'">
 -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" media="print" onload="this.media='all'">


<link rel="search" type="application/opensearchdescription+xml" th:title="#{opensearch.title}" th:href="${baseUrl} + 'opensearch.xml'">

<th:block th:unless="${dev}">
    <script async data-domain="nudger.fr" src="https://plausible.nudger.fr/js/script.js"></script>
</th:block>

