<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="carousel(items, external)">
    <!-- Carousel -->
    <div
      id="carousel-tv"
      class="carousel slide"
      data-bs-ride="carousel"
      aria-roledescription="carousel"
      aria-live="polite">

      <div class="carousel-inner">
        <div
          th:each="item, stat : ${items}"
          th:class="'carousel-item' + (${stat.first} ? ' active' : '')"
          th:attr="data-index=${stat.index}">
          <a
            th:href="@{/#}"
            th:attr="data-src=${external} ? ${item} : ${item.path()}"
            th:if="${external} == true"
            class="d-flex justify-content-center align-items-center"
            style="min-height: 300px;">
            <img
              class="img-fluid"
              th:src="${item}"
              th:alt="'Image relative au ' + ${product.bestName()}"
              loading="lazy"
              onerror="removeBrokenImage(this)" />
          </a>
          <a
            th:href="@{/#}"
            th:if="${external} == false"
            th:attr="
              data-lg-size=${item.imageInfo.width + '-' + item.imageInfo.height},
              data-src=${item.path()},
              data-sub-html='&lt;h4&gt;' + ${item.fileName} + '&lt;/h4&gt;&lt;p&gt;' + ${item} + '&lt;/p&gt;'"
            class="d-flex justify-content-center align-items-center"
            style="min-height: 300px;">
            <img
              class="img-fluid"
              th:src="${item.path(360)}"
              th:alt="'Image relative au ' + ${product.bestName()}"
              loading="lazy"
              onerror="removeBrokenImage(this)" />
          </a>
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel-tv"
        data-bs-slide="prev"
        aria-label="Previous Slide">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel-tv"
        data-bs-slide="next"
        aria-label="Next Slide">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>

    <!-- Thumbnails -->
    <div class="text-center thumbnail-bar">
      <span th:each="item, stat : ${items}">
        <img
          class="thumbnail"
          th:attr="data-index=${stat.index}"
          loading="lazy"
          th:src="${external} ? ${item} : ${item.path(100)}"
          th:alt="'Miniature de ' + ${product.brandAndModel()}"
          th:onclick="|showSlide(${stat.index})|"
          onerror="removeBrokenImage(this)" />
      </span>
    </div>
  </div>
</html>
