<section id="markerCaracteristiques" class="container container-semi-fluid section">
		<div class="row text-center justify-content-center">
              <div class="col-md-8 mb-5">
                  <h2 class="display-3">Caractéristiques détaillées</h2>
              </div>
        </div>	   

		<div class="row">
			<!--  Features -->
			<div th:with="features = ${product.attributes.features()}" class="col-lg-3">
				<div class="mt-3"
					th:if="${features.size > 0}"
					th:insert="~{inc/product-features.html}">
				</div>
			</div>
		

			<!-- All attributes -->
			<div class="col-lg-5">
				<div class="row">
					<div class="col-6" th:each="featureGroup, stat : ${features}">
								<table class="table">
									<th:block th:each="attr,stat : ${featureGroup.attributes}">
										<tr th:if="${stat.first}">
											<th colspan="2" class="h4"><strong th:text="${featureGroup.name}"></strong></th>			
										</tr>
									
										<tr>
											<td class="align-middle"><span th:text="${attr.name}"></span></td>
											<td  class="align-middle"> <b><th:block th:utext="${attr.value}"></th:block></b></td>
										</tr>
									</th:block>
								</table>
					</div>
				</div>
				
			</div>

		</div>




		
</section>