<div  th:if="${item}" class="card shadow p-0">
    <div class="card-body p-3" th:if="${item.ecoscore()}">
        <div class="row align-items-center">
            <div class="text-center ">
                <a th:href="${item.names.url.i18n(siteLanguage)}" class="text-center" >
                    <h3 class="h4" th:text="${item.brandAndModel()}" ></h3>  
                    <p class="mb-0 mt-3">Ecoscore :</p>                   
                    <div class="d-flex align-items-center justify-content-center chiffre__xl">
                        <strong class="text-gradiant text-gradiant_ecoscore pe-3">
                            <span th:text="${item.ecoscore().relValue()}"></span>
                            / 5
                        </strong>
                        <span class="fa fa-medal"></span>
                        <span class="fa fa-trophy"></span>
                    </div>                     
                    <img height="200" th:src="${item.coverImagePath}">
                </a>
            </div>
            <div class="text-center mb-3">
                <span th:if="${item.bestPrice()}" class="h5 mb-2 text-danger me-2">
                    <span th:text="${item.bestPrice().price}"></span>
                    <span th:text="${item.bestPrice().currency}"></span>
                </span>
            </div> <!-- info-price-detail // -->
        </div> 
    </div>
    <div class="card-footer bg-white border-0 px-0 py-0">     
        <div class="d-grid">
            <a class="btn btn-secondary rounded-0 rounded-bottom" th:href="${item.names.url.i18n(siteLanguage)}">
                Details
            </a>
        </div>
                 
    </div> 
</div>