  <!-- Tabed Pans -->
            <div class="sticky-top sticky-lg-top card-header nav nav-tabs shadow border-soft bg-white rounded justify-content-center p-2 p-lg-4">
                  
                <!-- Navigation pills header -->
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-presentation-tab" data-bs-toggle="pill" data-bs-target="#pills-presentation" type="button" role="tab" aria-controls="pills-presentation" aria-selected="true">Avis général</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-ecological-tab" data-bs-toggle="pill" data-bs-target="#pills-ecological" type="button" role="tab" aria-controls="pills-ecological" aria-selected="false">Impact écologique</button>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-price-tab" data-bs-toggle="pill" data-bs-target="#pills-price" type="button" role="tab" aria-controls="pills-price" aria-selected="false">Prix</button>
                    </li>
                    
                    <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-technical-tab" data-bs-toggle="pill" data-bs-target="#pills-technical" type="button" role="tab" aria-controls="pills-technical" aria-selected="false">Caractéristiques techniques</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-resources-tab" data-bs-toggle="pill" data-bs-target="#pills-resources" type="button" role="tab" aria-controls="pills-resources" aria-selected="false">Ressources et documentation</button>
                    </li>
                    <li th:if="${user}" class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-admin-tab" data-bs-toggle="pill" data-bs-target="#pills-admin" type="button" role="tab" aria-controls="pills-price" aria-selected="false">Admin</button>
                    </li>
                    
                </ul>
            </div>