<section class="card shadow p-4" th:if="${product.attributes.all.size()} > 0">
<div class="card-header"><h3 class="h5">Toutes les caracteristiques</h3></div>

	<div class="table-responsive table-caracteristics-fs">
		
		<table id="allAttributes" class="table">
			<thead>
				<th th:if="${user}" >Taxo</th>
				<th>Nom</th>
				<th>Valeur</th>
				<th>Sources</th>
			</thead>

			<th:block th:each="attribute : ${product.attributes.all.values()}">
				<th:block t:if="${attribute.icecatTaxonomyIds.size() == 0">
					<tr th:class="${attribute.bgRow()}">
						<td th:if="${user}" class="align-middle">
							<ul>
							  <li th:each="iid : ${attribute.icecatTaxonomyIds}">
							      <a target="_blank" th:href="'https://api.nudger.fr/features/' + ${iid}+'/'" th:text="${iid}"></a> 
							  </li>
							</ul>
						</td>					
						
						
						<td class="align-middle"><span th:text="${attribute.name}"></span></td>					
						<td class="align-middle"><span th:text="${attribute.value}"></span></td>
						<td class="align-middle">
							<th:block th:insert="~{inc/attribute-sourcing.html}"></th:block>
						</td>
					</tr>
				</th:block>
			</th:block>
		</table>
	</div>
</section>