<div class="card accordion" id="priceAccordionFilter" th:with="accordionId=priceAccordionFilter">



	<!-- The price condition 
	-->	
	<th:block th:with="title='Prix d\'achat', 
					   id='price.minPrice.price',
					   icon='fa-euro-sign',
					   min=${products.minPrice},
					   max=${products.maxPrice},
	                   interval=100,
					   includeUndefined=false,
                       showIncludeUndefinedButton=false,
                       showPriceTrend=-1">
		<th:block th:insert="~{inc/vertical-filter-item-numeric.html}"></th:block>
	</th:block>	
	
	<!-- The num offers condition -->
	<th:block th:with="title='Concurrence',
	                   id='offersCount',
					   label='La concurrence correspond au nombre d\'offres disponibles pour le produit. Plus elle est élevée, plus vous avez de chances d\'obtenir un prix juste et intéressant.',
					   labelType='alert-success',	
					   icon='fa-cart-plus',                   
	                   min=${products.minOffers},
	                   max=${products.maxOffers},
	                   interval=1,   
                       includeUndefined=false,
                       showIncludeUndefinedButton=false">
		<th:block th:insert="~{inc/vertical-filter-item-numeric.html}"></th:block>
	</th:block>	

</div>

            
            