<script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>


<script defer src="/webjars/mustache/mustache.min.js"></script>
<script src="/vendor/nouislider/dist/nouislider.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>    


<!-- Ajax loaded table template -->
<div id="tpl_place" class="hidden"></div>

<!-- Setting up variables -->
<script th:inline="javascript">
    /*<![CDATA[*/
    
        const vertical = /*[[${verticalConfig.id}]]*/ '';
    
        const siteLanguage = /*[[${siteLanguage}]]*/'';
        const baseUrl = /*[[${baseUrl}]]*/'';
        const verticalPath = /*[[${verticalPath}]]*/'';
        const additionalAttributes = /*[[${filters}]]*/'';
        const tpl = /*[[${tpl}]]*/'';
        const chartIntervals = /*[[${products.numericFilters}]]*/'';
        const subsets = JSON.stringify(/*[[${products.request.subsets}]]*/'');
        const brandsSubset = JSON.stringify(/*[[${products.request.brandsSubset}]]*/'');
        
                        
    /*]]>*/
</script>

<script>

   var dummyRender = function(cell, type, data) {return  "" ;}
   
   function description (data) {
    
    if (data.genaiTexts == null) {
        return "";
    }
    
    // TODO : I18n
    // TODO : Ugly, ugly....
    if (data.genaiTexts['fr'] == null) {
        return "";
    }
    

    if (data.genaiTexts['fr'].descriptions['ecological-description'] != null) {
        ret = data.genaiTexts['fr'].descriptions['ecological-description'].content;
        
        if (ret == null) {
           return "";
        }
        
        if (ret.length > 200) {
            return ret.slice(0, 200) + "...";
        } else {
            return ret;
        }
    } 
    
    return "";
   }
   
   
   ////////////////
   // To handle list / cards view state and layout buffers
   ///////////////
   const cardsContentMap = new Map();
   const listContentMap = new Map();
   
   
   var viewState="list";
   
   function getViewState() {
       return viewState;    
   }
   
   var columns = [
       { 
        "data": "attributes.referentielAttributes.MODEL", 
        "name" : "Modèle",
        "title" : "Modèle",
        render: function(cell, type, data) {


                
                //////////////////////////////////
                // setting in the card dictionary 
                //////////////////////////////////
                
                
                template = $('#template-product-card').html();
                Mustache.parse(template);

                cartContent =  Mustache.render(template, {
                    data : data,
                    vertical: vertical,
                    // TODO : I18n
                    productUrl : baseUrl+verticalPath+'/'+data.names.url['fr'],
                    ecoscore: data.scores?.ECOSCORE?.value != null ? Math.round((data.scores.ECOSCORE.value + Number.EPSILON) * 100) / 100 : "",
                    ecoscoreInt: data.scores?.ECOSCORE?.value != null ? Math.round(data.scores.ECOSCORE.value) : -1,
                    compensation: data.price?.minPrice?.compensation != null ? Math.round((data.price.minPrice.compensation + Number.EPSILON) * 100) / 100 : null,                      
                    
// TODO : Default as a hack until full i18n is implemented
                    desc:   description(data),
                    imageUrl : (data.coverImagePath),                               
                    name : (data.attributes.referentielAttributes.MODEL == null ? data.names.name : data.attributes.referentielAttributes.MODEL)
                 }
                );    
                cardsContentMap.set(cell, cartContent);
                
                //////////////////////////////////
                // setting in the list dictionary 
                //////////////////////////////////
                
                
                template = $('#template-product-list').html();
                Mustache.parse(template);

                
                listContent = Mustache.render(template, {
                    data : data,
                    vertical: vertical,
                    // TODO : I18n
                    productUrl : baseUrl+verticalPath+'/'+data.names.url['fr'],
                    ecoscore: data.scores?.ECOSCORE?.value != null ? Math.round((data.scores.ECOSCORE.value + Number.EPSILON) * 100) / 100 : "",
                    ecoscoreInt: data.scores?.ECOSCORE?.value != null ? Math.round(data.scores.ECOSCORE.value) : -1,
                    ecoscore20: data.scores?.ECOSCORE?.value != null ? Math.round((data.scores.ECOSCORE.value * 4 + Number.EPSILON) * 100) / 100 : "",
                    compensation: data.price?.minPrice?.compensation != null ? Math.round((data.price.minPrice.compensation + Number.EPSILON) * 100) / 100 : null,                      
                    
// TODO : Default as a hack until full i18n is implemented
                    desc:   description(data),
                    imageUrl : (data.coverImagePath),                               
                    name : (data.attributes.referentielAttributes.MODEL == null ? data.names.name : data.attributes.referentielAttributes.MODEL)
                 }
                );    
                listContentMap.set(cell, listContent);
                
                
                // Returning wether
                if (getViewState()=="list") {
                    return listContent;
                } else {
                    return cartContent;
                } 
        }
       },
       
       { 
        "data": "attributes.referentielAttributes.BRAND", 
        "name" : "Marque",
        "title" : "Marque",
        render: function(cell, type, data) {
               return  "" ;
           }
       },
       { "data": "scores.ECOSCORE.value", "name" : "Ecoscore", "title" : "Ecoscore", defaultContent:""  },
       { "data": "price.minPrice.price", "name" : "Prix", "title" : "Prix"  },
       { "data": "offersCount", "name" : "Concurrence", "title" : "Concurrence"  }
           ];

    /* Adding additional attributes columns with hidden titles
       for (var i = 0; i < additionalAttributes.length; i++) {
           columns.push({
               data: "attributes.indexed." + additionalAttributes[i]['key'] + ".value",
               name: additionalAttributes[i]['name'][siteLanguage],
               title: "", // Set an empty title to hide the header text
               render: dummyRender
           });
       }
        **/
    <!-- Datatable init function -->
    var table;

    
    
    function initDatatable () {
        
        return $('#tableProducts').DataTable({
            
            order: [ [2, 'desc'] ],
            searching: false,
            "bLengthChange": false,  
            "processing": true,
            "serverSide": true,
            "showHeader": false,
            "orderMulti": false,
            "pageLength": 10,
            "drawCallback": function() {
            	  $(this.api().table().header()).hide();
            	},
            "ajax": {
                "url": "/"+verticalPath+"/paginated",
                "dataSrc": "data",
                "data": function ( data ) {
                    // Adding slider rangers attributes
                    var sliderParameters = new Array();
                    $('.input-slider-range-container').each (function (e) {
                        sliderParameters.push( $(this).attr("id") + ":" + $(this).attr('data-range-value-min') + ":" + $(this).attr('data-range-value-max')+":"+$('[id="include-undefined-'+$(this).attr("id") + '"]').is(':checked') + ":" + $(this).attr('data-chart-interval'));                     
                        } 
                    );                  
                    data.sliders=sliderParameters;
                    
                    // Adding checkboxes attributes
                    var checkboxesParameters = new Array();
                    $('input.changeableBox:checked').each (function (e) {
                            val = $(this).attr("data-id")+":"+$(this).attr("data-value");
                            checkboxesParameters.push( val);                                                
                        } 
                    );                      
                    
                    data.checkboxes=checkboxesParameters;

                    data.brandsSubset = brandsSubset;
                    data.subsets = subsets;
                    
                    
                    return data;
             }},
             
             createdRow: function(row, data, dataIndex){
                     // Add COLSPAN attribute
                     $('td:eq(0)', row).attr('colspan', 5);                  
                     for ( i = 1; i < 5 ; i++) {                        
                        $('td:eq('+i+')', row).css('display', 'none');
                     }
                     
                     
                     // Toggle the “card” class on the table
                     
                     if (getViewState() == 'card') {
                         $("td:eq(0)", row).addClass("cardTd");
                         $(row).addClass("cardTr");                                      
                     }
             }, 
             
            columns: columns,
            

        });
    };

    // On document Load
    $(document).ready(function() {
        
    	 
    	 
        // Switch view / lit
        $("#cv").on("click", function (e) {
		        	 e.preventDefault();
		             const icon = $(this).find('i');

		             // Toggle between grid view and list view icons
		             if (icon.hasClass('fa-th')) {
		                 icon.removeClass('fa-th').addClass('fa-list'); // Switch to list view
		                 $(this).attr('title', 'Vue liste'); // Update the tooltip
		             } else {
		                 icon.removeClass('fa-list').addClass('fa-th'); // Switch to grid view
		                 $(this).attr('title', 'Vue carte'); // Update the tooltip
		             }
		             
		             // Handle the view class 

                    if ($("#tableProducts").hasClass("card")) {
                        viewState="list";
                    } else {
                        viewState="card";
                    }
                    
                    $("#tableProducts").toggleClass("card")
                    
                    // Force reload, to take new teplate
                    table.ajax.reload(null, false);
         });
        
        
        
        // Loading templates 
        $.ajax({
            url : '/tpl_table'+tpl+'.html',
            dataType : 'html',
            cache : true, // otherwise will get fresh copy every page load
            success : function(e) {
                // script loaded, do stuff!
                $("#tpl_place").html(e);

                // Init table           
                table = initDatatable();
                
                table.on('draw', function () {
                    // Update stars
                    updateStarsRating();
                    console.log('Redraw occurred at: ' + new Date().getTime());
                });
                
            }
        });

        
        // Event listener for the sort combobox
        $('#sort-combobox').on('change', function () {
            var value = $(this).val();
            
            if (value === "none") {
                // Reset sorting
                table.order([]).draw();
            } else {
                // Parse value for column index and direction
                var parts = value.split("-");
                var column = parseInt(parts[0]);
                var direction = parts[1];
                
                // Apply sorting
                table.order([column, direction]).draw();
                // Update stars
                updateStarsRating();
            }
        });        
        
        
        
        
        
        
        
        // Range sliders listener
        var slidersCounter = $('.input-slider-range-container').length;
        $('.input-slider-range-container').on('change', function(e) {
                        
            // this change function is called on page load (component js init)
            // This counter ensure the datatble is not drawn on page load
            if (slidersCounter <= 0) {              
                table.draw();               
            } else {
                slidersCounter--;
            }
            
        });

        // Checkboxes listener
        $('input:checkbox').click(function() { 
            table.draw();                           
        });
        
        
        
        // Show more feature, on checkboxes filters
        
        $('.show-more-link').on('click', function() {
            let hiddenItems = $(this).siblings('.hidden-item').filter(function() {
              return $(this).css('display') === 'none';
            });

            
            hiddenCount = hiddenItems.length;
            
            hiddenItems.slice(0, 5).slideDown();

            // Removing show more links if no more..
            if (hiddenCount <= 5) {
              $(this).hide();
            }

          });
        
        
        
        // Init the chart.js intervals charts, on numeric attributes
        
     // Iterate over the keys in chartIntervals and call processInterval for each
        Object.keys(chartIntervals).forEach((key) => {
			if (null != chartIntervals[key]) {
			            createChartInterval(key, chartIntervals[key], vertical);
			}
        });
        
        
        
    } );
</script>

<script>
function createChartInterval(chartId, intervalDatas, verticalName) {
    ///////////////////////
    // Chart.js interval charts initialization
    //////////////////////
    var elem = document.getElementById('chart-' + chartId);
    if (null == elem) {
        return;
    }
    
    const ctx = elem.getContext('2d');
    const priceData = intervalDatas.priceBuckets;

    const labels = priceData.map(bucket => {
        const parsedName = parseFloat(bucket.name);
        return Number.isInteger(parsedName) ? parsedName : parsedName.toFixed(1);
    }); // X-axis labels

    const data = priceData.map(bucket => {
        const parsedCount = parseFloat(bucket.count);
        return Number.isInteger(parsedCount) ? parsedCount : parsedCount.toFixed(1);
    }); // Y-axis data
    
    return new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                data: data,
                borderWidth: 0
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false // Hide legend for the dataset
                },
                title: {
                    display: false // Hide chart title
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return verticalName + ": " + parseInt(context.raw); // Custom tooltip text
                        }
                    }
                }
            },
            scales: {
                x: {
                    title: {
                        display: false // Hide X-axis title
                    },
                    grid: {
                        display: false, // Disable vertical grid lines
                        drawTicks: false, // Disable ticks on X-axis
                        drawBorder: false // Disable border on X-axis
                    }
                },
                y: {
                    display: false, // Hide Y-axis completely
                    grid: {
                        display: false // Optionally hide horizontal grid lines
                    }
                }
            },
            barPercentage: 1.0, // Make bars occupy full width of the category
            categoryPercentage: 1.0 // Remove spacing between categories
        }
    });
}



    
</script>
