<div class="accordion-item">
		  <h2 class="accordion-header  border-bottom border-2" th:id="'heading'+${id}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapse'+${id}, aria-controls='collapse'+${id}" aria-expanded="false">
				<span th:if="${icon}" class="fas me-2" th:classappend="${icon}"></span>
				<span th:unless="${icon}" class="fas me-2 fa-question-circle"></span>
				<th:block th:text="${title}"></th:block>
			</button>
		  </h2>
		  <div th:id="'collapse'+${id}" class="accordion-collapse collapse" th:attr="aria-labelledby='heading'+${id},data-bs-parent='#'+${accordionId}">
			<div class="accordion-body">
			   
			   <div th:if="${label}" th:text="${label}" class="mb-6 alert" th:classappend="${labelType}" role="alert"></div>
	            
	            
	           <!-- interval Chart -->
			<div >
				<canvas class="intervalChart" th:id="'chart-'+${id}"></canvas>
			</div>

			<!-- Input fields for min and max values below the chart -->
			<div class="slider-input-container mx-5 mt-2">
			    <div class="row">
			        <div class="col-6">
			            <input th:id="'slider-min-'+${id}" type="number" class="form-control slider-input-low text-start small-input" th:attr="value=${min}" />
			        </div>
			        <div class="col-6">
			            <input th:id="'slider-max-'+${id}" type="number" class="form-control slider-input-high text-start small-input" th:attr="value=${max}" />
			        </div>
			    </div>
			</div>




			<!--/* Range slider container */-->							
				<div class="input-slider-range-container mx-3 mt-5" th:id="${id}" th:attr="data-range-value-min=${min},data-range-value-max=${max}, data-chart-interval=${interval}">
					<!-- Range slider values -->
					<div class="row d-none">
						<div class="col-6">
							<span class="range-slider-value value-low" th:attr="data-range-value-low=${min}" ></span>
						</div>
						<div class="col-6 text-right">
							<span class="range-slider-value value-high" th:attr="data-range-value-high=${max}"></span>
						</div>

				
				</div>
				<!--/* End of range slider values */-->				
			</div>
			
	        <div th:if="${showPriceTrend}" class="float-end mt-3 form-check form-switch">
                <input class="changeableBox form-check-input"  data-id="price.trend"  data-value="-1" th:checked="${includeUndefined}" type="checkbox" id="price.trend">
                <label class="form-check-label" th:for="price.trend" >Prix en baisse (<span th:text="${products.priceDecreasing}"></span>)</label>
            </div>		
			
	        <div th:if="${showIncludeUndefinedButton}" class="float-end mt-3 mb-2 form-check form-switch">
	            <input class="form-check-input"  th:checked="${includeUndefined}" type="checkbox" th:id="'include-undefined-'+${id}">
	            <label class="form-check-label" th:for="'include-undefined-'+${id}" th:text="${includeUndefinedLabel}"></label>
	        </div>
            
            <input style="display:none" th:unless="${showIncludeUndefinedButton}" th:checked="${includeUndefined}" type="checkbox" th:id="'include-undefined-'+${id}">

		</div>

		</div>
</div>