<div class="card accordion" id="technicalAccordionFilter" th:with="accordionId=technicalAccordionFilter">

	<!-- The custom filters -->
	
	<th:block th:each="filterName : ${verticalConfig.technicalFilters}">
         <th:block th:with="filter = ${products.resolveFilter(filterName)}">
			   <th:block th:if="${filter}" th:insert="~{inc/vertical-filter-item.html}">	   </th:block>
         </th:block>       
	</th:block>
	
	
	<!-- The brand condition -->
	<th:block th:with="id='brand',
					   title='Marque',
					   icon='fa-copyright',					   
					   visibleSection=10,
					   terms=${products.brands}"
					   >
		<th:block th:insert="~{inc/vertical-filter-item-terms.html}"></th:block>
	</th:block>	
	
	
	<th:block th:each="filterName : ${verticalConfig.globalTechnicalFilters}">
         <th:block th:with="filter = ${products.resolveFilter(filterName)}">
               <th:block th:if="${filter}" th:insert="~{inc/vertical-filter-item.html}">       </th:block>
         </th:block>       
    </th:block>
    
    
</div>

            
            