<div class="card accordion" id="mainAccordionFilter" th:with="accordionId=mainAccordionFilter">



	<!-- The price condition 
	-->	
	<th:block th:with="title='Prix', 
					   id='price.minPrice.price',
					   icon='fa-euro-sign',
					   min=${products.minPrice},
					   max=${products.maxPrice},
	                   interval=100,
					   includeUndefined=false,
                       showIncludeUndefinedButton=false">
		<th:block th:insert="~{inc/vertical-filter-item-numeric.html}"></th:block>
	</th:block>	
	
	<!-- The num offers condition -->
	<th:block th:with="title='Concurrence',
	                   id='offersCount',
					   label='La concurrence correspond au nombre d\'offres disponibles pour le produit. Plus elle est élevée, plus vous avez de chances d\'obtenir un prix juste et intéressant.',
					   labelType='alert-success',	
					   icon='fa-cart-plus',                   
	                   min=${products.minOffers},
	                   max=${products.maxOffers},
	                   interval=1,   
                       includeUndefined=false,
                       showIncludeUndefinedButton=false">
		<th:block th:insert="~{inc/vertical-filter-item-numeric.html}"></th:block>
	</th:block>	


	
	<hr class="bg-light border-2 border-top border-light">
	
	<!-- The custom filters -->
	
	<th:block th:each="filter : ${products.customFilters}">
	
		<th:block th:with="title=${filter.key.name.get(siteLanguage)},
		               id='attributes.indexed.'+${filter.key.key}+'.value',
					   icon=${filter.key.faIcon},		                   
					   visibleSection=10,
					   terms=${filter.value}">
			<th:block th:insert="~{inc/vertical-filter-item-terms.html}"></th:block>
		</th:block>		
	
	
	</th:block>
	
	
	
	
	
	<hr class="bg-light border-2 border-top border-light">
		
	
	<!-- The brand condition -->
	<th:block th:with="id='brand',
					   title='Marque',
					   icon='fa-copyright',					   
					   visibleSection=10,
					   terms=${products.brands}"
					   >
		<th:block th:insert="~{inc/vertical-filter-item-terms.html}"></th:block>
	</th:block>	
	
</div>

            
            