

<div>
<div class="row">
    <span>
        <button type="button" class="mt-2 btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Filtrer</button>
        <button id="cv" class="float-end btn btn-light" title="Vue carte"><i class="fas fa-th fa-2x"></i> <!-- Default icon: Grid view -->    </button>
    </span>

</div>
                            




    <table id="tableProducts" class="table table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th><small>Nom</small></th>
                <th><small>Marque</small></th>
                <th><small>Eco-score</small></th>
                <th><small>Prix</small></th>
                <th><small>Offres</small></th>
                
                <!--  
                 <th:block th:each="filter : ${products.customFilters}">
	                <th th:text="${filter.key.name.get(siteLanguage)}"></th>            
                </th:block>
                 -->
            </tr>
        </thead>
        <tbody style="display: table-caption;">
            <tr th:each="p : ${products.limitedDatas(20)}">
                <td colspan="5">
                    <div  >
                        
                            <p th:if="${p.model()}"><a th:text="${p.model()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                            <p th:unless="${p.model()}"><a th:text="${p.bestName()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                        
                        
                        
                            <p th:text="${p.brand()}"></p>
                            <p></p>
                            <p th:if="${p.bestPrice() != null}" th:text="${p.bestPrice().price}"></p>
                            <p th:text="${p.offersCount}"></p>
                            
                             <!--  
                            <th:block th:each="filter : ${products.customFilters}">
                                <p th:if="${p.attributes.indexed.get(filter.key.key)}" th:text="${p.attributes.indexed.get(filter.key.key).value }"></p>            
                                <p th:unless="${p.attributes.indexed.get(filter.key.key)}"></p>            
                            </th:block>
                             -->

                       
                    </div>
                </td>

                
            </tr>
 
        </tbody>

    </table>
</div>