<div class="d-flex mb-3">
    <div class="d-flex flex-column col-md-2">
        <label class="my-1 me-2" for="sort-combobox">Trier</label>
        <div>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-default">Filtrer</button>
        </div>
    </div>
    <div class="col-md-2 mx-3">
        <label class="my-1 me-2" for="sort-combobox">Trier</label>
        <select class="form-select" id="sort-combobox">
            <option value="2-asc">ImpactScore (-)</option>
            <option value="2-desc">ImpactScore (+)</option>
            <option value="3-asc">Prix (-)</option>
            <option value="3-desc">Prix (+)</option>
            <option value="4-asc">Concurrence (-)</option>
            <option value="4-desc">Concurrence (+)</option>
        </select>
    </div>
    <!--div class="ms-auto text-right d-flex flex-column col-md-2">
        <label class="my-1 me-2" for="cv">vue Grille</label>
        <div>
            <button id="cv" class="btn btn-light" title="Vue carte">
                <i class="fas fa-th fa-2x"></i>
            </button>
        </div>
    </div-->
</div>
                        
<table id="tableProducts" class="table table-responsive">
    <tbody>
        <tr th:each="p : ${products.limitedDatas(20)}">
            <td colspan="5">
                <div th:each="p : ${products.limitedDatas(20)}" >
                    <p th:if="${p.model()}"><a th:text="${p.model()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                    <p th:unless="${p.model()}"><a th:text="${p.bestName()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                    <p th:text="${p.brand()}"></p>
                    <p></p>
                    <p th:if="${p.bestPrice() != null}" th:text="${p.bestPrice().price}"></p>
                    <p th:text="${p.offersCount}"></p>
                    <!--  
                    <th:block th:each="filter : ${products.customFilters}">
                        <p th:if="${p.attributes.indexed.get(filter.key.key)}" th:text="${p.attributes.indexed.get(filter.key.key).value }"></p>            
                        <p th:unless="${p.attributes.indexed.get(filter.key.key)}"></p>            
                    </th:block>
                    -->
                </div>
                <div>
                    
                        <p th:if="${p.model()}"><a th:text="${p.model()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                        <p th:unless="${p.model()}"><a th:text="${p.bestName()}" th:href="'/'+${verticalPath}+ '/'+${p.url(siteLanguage)}"></a></p>
                    
                    
                    
                        <p th:text="${p.brand()}"></p>
                        <p th:if="${p.bestPrice() != null}" th:text="${p.bestPrice().price}"></p>
                        <p th:text="${p.offersCount}"></p>
                        
                            <!--  
                        <th:block th:each="filter : ${products.customFilters}">
                            <p th:if="${p.attributes.indexed.get(filter.key.key)}" th:text="${p.attributes.indexed.get(filter.key.key).value }"></p>            
                            <p th:unless="${p.attributes.indexed.get(filter.key.key)}"></p>            
                        </th:block>
                            -->

                    
                </div>
            </td>
        </tr>
    </tbody>
</table>