<div style="width:100%" class="text-center container-fluid alert alert-danger alert-dismissible fade show"
    role="alert">
    <span class="fas fa-bullhorn me-1"></span> <strong>Nudger est un prototype !</strong> En développement actif, n'hésitez pas à nous <a href="/contact"> contacter</a> ou à nous suivre sur <a rel="nofollow" href="https://www.linkedin.com/company/105517334/"> LinkedIn</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
</div>