<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags 
	<title th:text="#{search.title}"></title>
	<meta name="title" th:content="#{search.meta.title}">
	<meta name="description" th:content="#{search.meta.description}">
	-->
		
	<!-- Open Graph / Facebook 
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{search.title}">
	<meta property="og:description" th:content="#{search.meta.description}">
	<meta property="og:image"  th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	-->
	
	<!-- Twitter 
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{search.title}">
	<meta name="twitter:description" th:content="#{search.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	-->
	
</head>

<body>
    
    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>  
    

	
    <main>	


	
        <!-- Hero section -->
        <section class="bg-green-transparent ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-10 text-center p-4">


                        <th:block>
	                        <th:block th:if="${category.googleCategoryId == 0}">
	                            <h1 class="display-2  mb-3">Nos catégories produits</h1>
	                        </th:block>
	                        <th:block th:unless="${category.googleCategoryId == 0}">
    	                        <h1 class="display-2  mb-3" th:text="${category.googleNames.i18n(siteLanguage)}"></h1>
	                        </th:block>
	                        
	
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
	                                <li   class="breadcrumb-item" aria-current="page"><a href="/categories" >🏠</a></li>
									<th:block th:each="item,stat : ${category.parents()}">
                                        <li th:unless="${item.googleCategoryId == 0}"   class="breadcrumb-item" aria-current="page">
                                          <a th:href="'/categories/'  + ${item.url(siteLanguage)}" th:text="${item.googleNames.i18n(siteLanguage)}"></a>
                                        </li>									
                                    </th:block>
									<li th:unless="${category.googleCategoryId == 0}" class="breadcrumb-item active" aria-current="page">
									   <a th:href="'/categories/'  + ${category.url(siteLanguage)}" th:text="${category.googleNames.i18n(siteLanguage)}"></a>
									</li>
                                    <li th:if="${category.googleCategoryId == 0}" class="breadcrumb-item active" aria-current="page">
                                    </li>


	
								</ol>
							</nav>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Categories tree links  -->
        <section class="pt-0">
            <div class="container  ">
                <div class="row mt-4">
					<div th:each="child, stat : ${category.children(havingVertical)}" th:classappend="${stat.first ? 'col-md-6 col-lg-4' : 'col-md-6 col-lg-4'} " class="col-12 mb-5 mb-lg-0">
					     <div class="card shadow border-gray-300">
					         
					         <div class="card-body">
					             
					             
					             <!-- Name 
					             TODO : I18n
					             -->
                                 <a th:if="${child.vertical == null}" th:href="'/categories/' + ${child.url(siteLanguage)}"><h2 class="text-center h4 card-title " th:text="${child.googleNames.i18n(siteLanguage)}"></h2></a>
                                 <a th:unless="${child.vertical == null}" th:href="'/'+ ${child.vertical.i18n.get(siteLanguage).verticalHomeUrl}"><h2 class="text-center h4 card-title" th:text="${child.googleNames.i18n(siteLanguage)}"></h2></a>
					             <!-- Title -->
					             <img th:if="${child.vertical}" th:src="'/images/verticals/' + ${child.vertical.id} + '.jpg'" class="image-fluid p-4 card-img-top rounded-top" th:alt="${child.googleNames.i18n(siteLanguage)}">
					            
					             
					             <th:block th:if="${child.isLeaf() == false}" th:with="children = ${child.children(true)}">
					                   <ul th:if="${children.size() > 0}">

									    <li th:each="item : ${children}" th:if="${item.vertical == null}">
									
									       <a th:if="${item.vertical == null}" th:href="'/categories/' + ${item.url(siteLanguage)}" th:text="${item.googleNames.i18n(siteLanguage)}"></a>
									       <!-- 
									       <a th:unless="${item.vertical == null}" th:href="'/'+ ${item.vertical.i18n.get(siteLanguage).verticalHomeUrl}"><b  th:text="${item.googleNames.i18n(siteLanguage)}"></b></a>
									        -->
									
									</ul>
								</th:block>
					              
					             
					             <!-- 
					             <div class="text-center card-subtitle text-gray fw-normal"><strong>blabla</strong></div>
					             
					             <p class="card-text my-3">
					             </p>
					              -->
					             <!-- 
					             <div class="text-center">
					                     <a th:href="${member.linkedInUrl}" target="_blank" aria-label="linkedin social link" class="text-facebook me-3">
					                         <span class="fab fa-2xl fa-linkedin"></span>
					                     </a>
					             </div>
					              -->
					         </div>
					     </div>
					 </div>
                </div>
            </div>
        </section>
        
        
        <!-- All leaf categories  -->
        <section class="section bg-green-transparent section-lg pt-0">
          <div class="container ">
                <div class="row mt-4">
                    <div th:each="child, stat : ${category.verticals()}" th:classappend="${stat.first ? 'col-md-3 col-lg-3' : 'col-md-3 col-lg-3'} " class="col-12 mb-lg-0">
                         <div th:unless="${category.children.contains(child)}" class="card shadow border-gray-300 mt-2">
                             
                             <div class="card-body text-center">                                 
		                                <a th:unless="${child.vertical == null}" th:href="'/'+ ${child.vertical.i18n.get(siteLanguage).verticalHomeUrl}">
		                                    <span class="text-center h4 card-title" th:text="${child.googleNames.i18n(siteLanguage)}"></span>
		                                 <!-- Title -->
		                                    <img th:if="${child.vertical}" th:src="'/images/verticals/' + ${child.vertical.id} + '.jpg'" class="image-fluid p-4 card-img-top rounded-top" th:alt="${child.googleNames.i18n(siteLanguage)}">
		                                </a>
                                        <div th:if="${user}">
								            <a type="submit" class="btn text-center btn-warning btn-sm" th:href="'/images/verticals/' + ${child.vertical.id} + '.jpg/delete'">Changer l'image</a>
								       </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </section>
        

    </main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="/vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/vivus/dist/vivus.min.js"></script>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<!-- pixel JS -->
<script src="/assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="/assets/js/pixel-custom.js"></script>
</body>

</html>
