<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>La contribution écologique | Nudger</title>
	<meta name="description" content="Nudger vous présente le principe de la contribution écologique (ou environnementale), et vous explique tout en détail !">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{compensation.title}">
	<meta property="og:description" th:content="#{compensation.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{compensation.title}">
	<meta name="twitter:description" th:content="#{compensation.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    

	<!--/* Navbar */-->
	<div class="bg-green-transparent">
    	<th:block th:with="page = 'contribution écologique'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>
	</div>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>
        <!-- Hero -->
        <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-7  bg-green-transparent">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                        <h1 class="display-2 mb-4">La contribution écologique</h1>
	                    <th:block th:with="path='pages/contribution/hero/'">
	                            <th:block th:insert="~{inc/wiki.html}"></th:block>
	               		</th:block> 
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4"><path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path></svg></figure>
        </section>

        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center justify-content-around">
                    <div class="col-lg-5 mb-5">
                        <img class="organic-radius img-fluid" src="../../assets/img/illustrations/compensation-carbone.jpg" alt="Compensation carbone">
                    </div>
                    <div class="col-lg-7 ">
                        
                        <blockquote class="blockquote text-center">
	                        <th:block th:with="path='pages/contribution/baseline',plaintext=true">
	                                <th:block th:insert="~{inc/wiki.html}"></th:block>
	                        </th:block> 
	                        
                           
		              	</blockquote>
                        
                        <th:block th:with="path='pages/contribution/compensation-2/'">
                            <th:block th:insert="~{inc/wiki.html}"></th:block>
	                   	</th:block> 
                    </div>
                </div>
            </div>
        </section>
        
        
        <!-- End of section -->
        
        
        <!-- Section -->        

        
        <section >
        
                <div class="bg-green-transparent text-center py-4 mb-2">
	            <h2> <span class="h1 mb-3">L'action de Nudger en chiffres</span></h2>
	            <p class="lead mb-0">Ce n'est qu'un début !</p>
	        </div>
        
            <div class="container text-center">
	        
	            <div class="row justify-content-center">
	                <h2 class="h1 mb-5 text-center"></h2>            
	                
	                <div class="row justify-content-center">
	                    <div class="col-12 col-md-6 col-lg-4 py-3">
	                        <!-- Box -->
	                        <div class="icon-box mb-4">
	                            <div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
	                                <span class="fas fa-user"></span>
	                            </div>
	                            <h3 class="h5">Organismes</h3>
	                            <span class="counter display-3 text-gray d-block" th:text="${config.reversementConfig.getDistingReversementsOrganisation()}"></span>
	                        </div>
	                        <!-- End of Box -->
	                    </div>
	                    <div class="col-12 col-md-6 col-lg-4 py-3">
	                        <!-- Box -->
	                        <div class="icon-box mb-4">
	                            <div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
	                                <span class="fas fa-money-check"></span>
	                            </div>
	                            <h3 class="h5">Versements effectués</h3>
	                            <span class="counter display-3 text-gray d-block">2</span>
	                        </div>
	                        <!-- End of Box -->
	                    </div>
	                    <div class="col-12 col-md-6 col-lg-4 py-3">
	                        <!--  Box -->
	                        <div class="icon-box mb-4">
	                            <div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
	                                <span class="fas fa-euro-sign"></span>
	                            </div>
	                            <h3 class="h5">Montant reversé</h3>
	                            <span><span class="display-3 text-gray d-block" th:text="${config.reversementConfig.getTotalReversements()}"></span>€</span>
	                        </div>
	                        <!-- End of Box -->
	                    </div>
	                </div>
	            </div>
            </div>
        </section>
        
        <!-- End of section -->
        
       <section>
        
            <div id="vote" class="bg-green-transparent text-center py-4 mb-5">
                <h2> <span class="h1 mb-3">Vous décidez !</span></h2>
            </div>
            
            
            <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-12 col-lg-6">    
                            <div class="d-flex flex-wrap justify-content-lg-start">
                                <h2 class="h3 text-center text-lg-left mb-5">Système de vote de Nudger</h2>
                                <div class="my-4">
                                    <div class="d-flex">
                                        <div class="me-3 me-md-4">
                                            <div class="icon icon-shape icon-shape-secondary organic-radius">
                                                <span class="fas fa-user-circle"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="h4">Vous choisissez l'organisation</h3>
                                            <p>
                                                <th:block th:with="path='pages/contribution/vote-1'">
					                                    <th:block th:insert="~{inc/wiki.html}"></th:block>
					                            </th:block> 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-4">
                                    <div class="d-flex">
                                        <div class="me-3 me-md-4">
                                            <div class="icon icon-shape icon-shape-secondary organic-radius">
                                                <span class="fas fa-shield-alt"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="h4">Fonctionnement du vote</h3>
                                            <p>
                                                <th:block th:with="path='pages/contribution/vote-2'">
                                                        <th:block th:insert="~{inc/wiki.html}"></th:block>
                                                </th:block>                                                 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="my-4">
                                    <div class="d-flex">
                                        <div class="me-3 me-md-4">
                                            <div class="icon icon-shape icon-shape-secondary organic-radius">
                                                <span class="fas fa-chart-pie"></span>
                                            </div>
                                        </div>
                                        <div>
                                            <h3 class="h4">Répartition des revenus</h3>
                                            <p>                                                                                                
                                                <th:block th:with="path='pages/contribution/vote-3'">
                                                        <th:block th:insert="~{inc/wiki.html}"></th:block>
                                                </th:block>                                                                                              
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                            </div>  
                        </div>
    
    
                        <div class="col-12 col-md-12 col-sm-12 col-lg-4 mb-5 mb-lg-0">
                        
                        
                        
                                <div class="my-4">
                                    <div class="d-flex">
                   
                                        <div>
                                            <h3 class="h4">En toute transparence</h3>
                                            <p>
                                                
                                                <th:block th:with="path='pages/contribution/vote-4'">
                                                        <th:block th:insert="~{inc/wiki.html}"></th:block>
                                                </th:block>                                                                                          
                                            </p>
                                        </div>
                                    </div>
                                </div>                  
                        
                        
                        
                        
                        
                        
                        
                        
                        
                            <div class="card shadow text-center">
                                <!-- Header -->
                                <div class="card-header bg-white p-3">
                                    <h3 class="text-primary mb-4">Votes</h3>
                                    <span class="d-block">
                                        <span class="display-1 text-dark fw-bold" th:text="${votes}"></span>
                                    </span>
                                    <p> Depuis le dernier reversement</p>
                                </div>
                                <!-- End Header -->
                                <!-- Content -->
                                <div class="card-body">
                                    <canvas class="mt-4" id="voteChart"></canvas>
                                    
                                    <p th:unless="${duplicateVotes} == 0" class="mt-2"> <b><span th:text="${duplicateVotes}"></span></b> votes en double, exclus des données ci-dessus</p>
                                                                   
                                </div>
                                <!-- End Content -->
                            </div>
                            
                        </div>
    
                    </div>
                </div>
                
            </section>
                
            
        <!-- Section -->
        <section class="mt-3 pt-0">
	        <div class="bg-green-transparent text-center py-4 mb-5">
	            <h2> <span class="h1 mb-3">Détails des dons</span></h2>
	        </div>

           <div class="container container-semi-fluid">

                <div class="row">
                
                    <div class="row">
                        <div class="col-lg-6 px-5">

                            <h3 class="h5 text-center">Choix des organisations</h3>
							
							<div th:each="org : ${config.reversementConfig.contributedOrganisations.values()}" class="card shadow p-4 mb-5">
								<div class="row align-items-center">
									<div class="col-4">
										<a th:href="${org.url}"><img th:src="${org.img}" th:alt="${org.name}"></a>
									</div>
									<div class="col-8">
										<p th:text="${org.description}"></p>
										
									</div>
								</div>
							</div>


						</div>
                        
                        
                        <!-- Reversed amount  -->
                         <div class="col-lg-6 px-5">
                        
                                 <h3 class="h5 text-center">Dons effectués</h3>
                                                            
                                 <div class="card bg-white border-gray-300 ">
                                        <div th:each="reversement : ${config.reversementConfig.reversements}" class="border-bottom px-4 py-4">
                                            <div th:with="org = ${config.reversementConfig.contributedOrganisations.get(reversement.orgKey)}"  class="row align-items-center text-center">
                                                <div class="col-12 col-md-3 pb-3 pb-md-0">
                                                    <img th:src="${org.img}" th:alt="${org.name}">
                                                </div>
                                                <div class="col-md-5 pb-2 pb-md-0">
                                                    <span class="h5 mb-3"><span th:text="${reversement.amount}"></span> €</span>
                                                </div>
                                                <div class="col-md-4 text-md-right"><span class="badge bg-primary" th:text="${reversement.date}"></span></div>
                                            </div>
                                        </div>
                                </div>
                                
                                <!--  Disclaimer-->  
                                <div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
                                        <strong>Que ça depuis 2021 ???</strong> 
                                        Vous êtes vigilants, et vous faîtes bien ! L'aventure Nudger était initialement un projet "geek" annexe, connu et testé sous le nom de comparatif-tv.fr. Il a permis de prouver le modèle financier et technique, mais a ensuite été mis en sommeil pendant plus de 2 ans... 
                                        Mais tel le Phénix, Nudger revient en 2024 avec l'ambition de passer à l'échelle ! 
                         
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                                 </div>
                        
                        </div>
                        
                        
                    </div>
                
                </div>
                
    
            </div>
            
            
            
            
            
            
            
        </section>
        
 
        
        
       <section >
			        <div class="bg-green-transparent text-center py-4 mb-5 ">
			            <h2> <span class="h1 mb-3">La contribution écologique en détail</span></h2>
			        </div>
        
		            <div class="container container-semi-fluid">
		                <div class="row d-flex flex-wrap align-items-center justify-content-around">
		
		                    <div>
		                        <h2 class="h2 mb-3">Contribution écologique, compensation carbone. Quelles différences ?</h2>
								<div>
		                        <th:block th:with="path='pages/contribution/differences-carbone/'">
									<th:block th:insert="~{inc/wiki.html}"></th:block>
								</th:block>   
									</div>
		                    </div>
							
							
							
							
							<div>
		                        <h2 class="h2 mb-3">Comment sont calculés les dons ?</h2>
								<div>
		                        <th:block th:with="path='pages/contribution/calcul/'">
									<th:block th:insert="~{inc/wiki.html}"></th:block>
								</th:block>   
									</div>
		                    </div>			
		                    
		                    
                
                            
                            
                            <div>
                                <h2 class="h2 mb-3">Puis je vérifier ?</h2>
                                <div>
                                <th:block th:with="path='pages/contribution/check-opensource',plaintext=true">
                                    <th:block th:insert="~{inc/wiki.html}"></th:block>
                                </th:block>   
                                </div>
                            </div>          
                            
		               </div>
		            </div>
        </section>
    </main>
    

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

    <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="../../vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../../vendor/@glidejs/glide/dist/glide.min.js"></script>
<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>

<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<!-- Setting up variables -->
<script th:inline="javascript">
    /*<![CDATA[*/
    
        const repartition = /*[[${repartition}]]*/ {};    
                        
    /*]]>*/
</script>

<script>
$(document).ready(function() {

    ///////////////////////////////////
    // Vote chart
    ///////////////////////////////////

    // Extracting labels and data from the repartition map
    const labels = Object.keys(repartition);
    const dataValues = Object.values(repartition);

    // Chart configuration
    const data = {
        labels: labels,
        datasets: [
            {
                label: 'Dataset 1',
                data: dataValues,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 205, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(201, 203, 207, 1)'
                ],
                borderWidth: 1
            }
        ]
    };

    const ctx = document.getElementById('voteChart').getContext('2d');
    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Répartition des votes'
                }
            }
        },
    });

});
</script>

</body>

</html>
