<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    

	
	<style>
	tbody, td, tfoot, th, thead, tr {
    	 border-style: none;
	}	
	
	</style>
	
</head>

<body>

    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>  
    

	
    <main>	
  		<section
			class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark"
			data-background="../../assets/img/pages/form-image.jpg"
			style="background: url(&quot;../../assets/img/pages/form-image.jpg&quot;);">
			<div class="container">
				<div class="row justify-content-center">
					<div
						class="col-12 d-flex align-items-center justify-content-center">
						<div
							class="col-10 signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 ">
							<div class="text-center text-md-center mb-4 mt-md-0">
								<h1 class="mb-0 h3"><span><img class="mt-2" width="150" src="/icons/bug.jpg"></span> Feedback envoyé ! </h1>
							</div>
							
							<div class="mt-3 mb-4 text-center">
								<span class="fw-normal">Merci pour votre participation ! Rendez vous sur <a target="_blank" href="https://github.com/open4good/open4goods/issues">github</a> pour suivre votre feedback. Vous pourrez aussi <a th:href="${backUrl}"> reprendre votre navigation là ou vous en étiez</a></span>
							</div>
							
							
							
						</div>
					</div>
				</div>
			</div>
		</section>



	</main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

</body>

</html>
