<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
    <th:block th:insert="~{inc/header-meta.html}"></th:block>
    <title>Base de données ISBN en libre accès | Nudger</title>
    <meta name="description" content="Accédez à notre base de données de livres ISBN gratuitement et librement. Découvrez l'importance des ISBN pour l'industrie du livre et de l'édition.">
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" content="Base de données ISBN (codes barres livres) en libre accès">
    <meta property="og:description" content="Accédez à notre base de données ISBN gratuitement et librement. Découvrez l'importance des ISBN pour l'industrie du livre et de l'édition.">
    <meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" th:content="${url}">
    <meta name="twitter:title" content="Base de données ISBN en libre accès">
    <meta name="twitter:description" content="Accédez à notre base de données ISBN gratuitement et librement. Découvrez l'importance des ISBN pour l'industrie du livre et de l'édition.">
    <meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
</head>

<body>
<th:block th:with="page = 'opendata'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>
<th:block th:insert="~{inc/preloader.html}"></th:block>
<main>
    <section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-2 mb-3">Open Data : base de données de livres (ISBN)</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card shadow border-gray-300 p-2 p-lg-5">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img height="200" src="/assets/img/isbn.webp" alt="codes barres ISBN en opendata">
                            </div>
                            <div class="col-lg-9 my-auto">
                                <p class="lead"><strong>Accédez à notre base de données ISBN.</strong> Ces données sont mises à jour <b>une fois par semaine</b> et proviennent de notre agrégation de contenu autour des données sur les livres auxquels nous avons accès.</p>
                            </div>
                        </div>
                        <h2 class="h3 mt-3">ISBN ?</h2>
                        <p>
                            L'<strong>ISBN (International Standard Book Number)</strong> est un identifiant unique pour les livres et autres publications. Il est essentiel dans le monde de l'édition pour identifier, gérer, et suivre les publications à travers les librairies, éditeurs et distributeurs.
                        </p>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-book"></i>&nbsp;&nbsp;&nbsp;Utilisé mondialement dans l'édition</li>
                            <li><i class="fas fa-tags"></i>&nbsp;&nbsp;&nbsp;Identification unique pour les publications</li>
                            <li><i class="fas fa-truck"></i>&nbsp;&nbsp;Facilite la distribution et la gestion des stocks</li>
                        </ul>
                        <h2 class="h3 mt-3">Conditions d'utilisation</h2>
                        <ul class="text-secondary">
                            <li class="pb-2">Ces données sont délivrées sous <a href="/assets/ETALAB-Licence-Ouverte-v2.0.pdf" target="_blank">licence ouverte</a>, et sont donc librement utilisables, sans restrictions d'usages.</li>
                            <li class="pb-2">Vous devez indiquer la provenance des données, en mentionnant la page produit quand disponible, ou en ajoutant un lien vers la page d'accueil de <a href="https://nudger.fr">nudger.fr</a>.</li>
                        </ul>
                        <div class="card shadow px-4 py-1 mb-3">
                            <div class="card-body text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h2 class="mb-3">Obtenir les données</h2>
                                        <table class="table table-hover">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Mise à jour</th>
                                                <td scope="row" th:text="${#dates.format(lastUpdated, 'dd MMM yyyy, HH:mm')}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><b>Taille du fichier</b></th>
                                                <td scope="row" th:text="${fileSize}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><b>Nombre de publications</b></th>
                                                <td scope="row" th:text="${#numbers.formatDecimal(countISBN, 0, 'COMMA', 0, 'POINT')}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-center">
                                       <a href="https://www.data.gouv.fr/fr/organizations/open4good/" style="width:95%" class="btn btn-primary">
                                                <span class="me-1">
                                                    <span class="fas fa-download"></span>
                                                </span>
                                            Télécharger (data.gouv.fr, rapide)
                                        </a>
                                        
                                        <a href="/opendata/isbn-open-data.zip" style="width:95%" class="mt-3 btn btn-tertiary">
                                                <span class="me-1">
                                                    <span class="fas fa-download"></span>
                                                </span>
                                            Télécharger (lent)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="h3">Format des données</h2>
                        <div class="alert alert-info" role="alert">
                            Les données sont au format <b>CSV</b>, compressées au format <b>zip</b>.
                            <ul>
                                <li>Séparateur de champs : <b>,</b> </li>
                                <li>Séparateur de texte : <b>"</b> </li>
                            </ul>
                        </div>
                        <div class="mb-5">
                            <div class="mb-4">
                                <span class="h5">Colonnes</span>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th scope="row"><b>isbn</b></th>
                                    <td scope="row">Le code ISBN de la publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>title</b></th>
                                    <td scope="row">Titre de la publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>last_updated</b></th>
                                    <td scope="row">Dernière mise à jour de cette publication, au format epoch en millisecondes</td>
                                </tr>
                             
                                <tr>
                                    <th scope="row"><b>offers_count</b></th>
                                    <td scope="row">Nombre d'offres commerciales pour cette publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>min_price</b></th>
                                    <td scope="row">Prix le plus faible pour cette publication</td>
                                </tr>
                                
                                <tr>
                                    <th scope="row"><b>min_price_compensation</b></th>
                                    <td scope="row">Compensation carbone reversée, correspondant au prix le plus faible trouvé pour ce livre</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>currency</b></th>
                                    <td scope="row">Devise du prix le plus faible</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>url</b></th>
                                    <td scope="row">URL de la fiche produit, uniquement si des offres commerciales sont disponibles</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>editeur</b></th>
                                    <td scope="row">Éditeur de la publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>format</b></th>
                                    <td scope="row">Format de la publication (ex. broché, numérique)</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>nb de pages</b></th>
                                    <td scope="row">Nombre de pages de la publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>classification decitre 1</b></th>
                                    <td scope="row">Classification principale de Decitre pour cette publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>classification decitre 2</b></th>
                                    <td scope="row">Deuxième niveau de classification de Decitre</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>classification decitre 3</b></th>
                                    <td scope="row">Troisième niveau de classification de Decitre</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>souscategorie</b></th>
                                    <td scope="row">Sous-catégorie principale pour cette publication</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>souscategorie2</b></th>
                                    <td scope="row">Deuxième sous-catégorie pour cette publication</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


							<div class="row justify-content-center mt-4">
								<div class="accordion" id="accordionExample1">
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingOne">
											<button class="accordion-button" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseOne"
												aria-expanded="true" aria-controls="collapseOne">
												<b>Qu'est-ce qu'un ISBN ?</b>
											</button>
										</h2>
										<div id="collapseOne" class="accordion-collapse collapse show"
											aria-labelledby="headingOne"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">Un ISBN (International
												Standard Book Number) est un numéro unique qui permet
												d'identifier un livre à l'échelle mondiale. C’est un
												identifiant essentiel pour les éditeurs, librairies,
												bibliothèques, et toutes les plateformes de vente de livres.
												L'ISBN facilite la gestion des stocks, la distribution, et
												la vente des livres. Chaque livre ou édition d'un même livre
												dispose de son propre ISBN, garantissant une identification
												unique dans les bases de données et les catalogues. Les ISBN
												sont utilisés aussi bien pour les livres imprimés que pour
												les livres numériques (e-books), et permettent aux lecteurs
												de retrouver facilement l’ouvrage qu’ils cherchent,
												notamment dans les systèmes de bibliothèques et sur les
												plateformes de vente en ligne.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseTwo"
												aria-expanded="false" aria-controls="collapseTwo">
												<b>Quelle est la signification d'ISBN ?</b>
											</button>
										</h2>
										<div id="collapseTwo" class="accordion-collapse collapse"
											aria-labelledby="headingTwo"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">ISBN signifie
												"International Standard Book Number", un numéro
												international normalisé pour les livres. Ce numéro sert à
												identifier de manière unique une publication dans le monde
												entier. Il permet de simplifier la gestion des livres dans
												les systèmes de stockage, de distribution et de vente. Le
												système ISBN est utilisé dans de nombreux pays et est géré
												par des agences nationales. Chaque ISBN est attribué
												spécifiquement à un titre et à une édition particulière, ce
												qui permet une gestion précise et évite toute confusion
												entre différentes éditions ou formats d'un même ouvrage (par
												exemple, entre une version reliée et une version broché).</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseThree"
												aria-expanded="false" aria-controls="collapseThree">
												<b>Comment un ISBN est-il structuré ?</b>
											</button>
										</h2>
										<div id="collapseThree" class="accordion-collapse collapse"
											aria-labelledby="headingThree"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">Un ISBN est composé de 13
												chiffres (ou 10 dans l’ancien système), répartis en cinq
												segments. Ces segments incluent : un préfixe (qui identifie
												le système de numérotation), un groupe d’enregistrement (qui
												représente le pays ou la région linguistique), un numéro
												d'éditeur, un numéro de titre (qui identifie un ouvrage
												spécifique), et enfin, un chiffre de contrôle qui valide la
												structure de l’ISBN. Cette structure permet une
												identification rapide et précise des livres, facilitant leur
												gestion à l’échelle mondiale. Le passage à l'ISBN-13 en 2007
												s'est aligné sur les normes mondiales des codes-barres,
												rendant la distribution des livres encore plus efficace à
												travers différents systèmes de commerce et de bibliothèque.
											</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingFour">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseFour"
												aria-expanded="false" aria-controls="collapseFour">
												<b>Quelle est la différence entre un ISBN-10 et un
													ISBN-13 ?</b>
											</button>
										</h2>
										<div id="collapseFour" class="accordion-collapse collapse"
											aria-labelledby="headingFour"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">L'ISBN-10 était le format
												d'origine utilisé jusqu'en 2007. Il se composait de 10
												chiffres. Cependant, pour s'aligner avec les standards
												mondiaux des codes-barres EAN-13, le système est passé à un
												format à 13 chiffres, l'ISBN-13. Ce changement a permis de
												standardiser les processus de vente et de distribution à
												l’échelle mondiale, car les ISBN-13 sont compatibles avec
												les systèmes de codes-barres commerciaux utilisés dans
												divers secteurs. Bien que les ISBN-10 existent encore pour
												les anciens ouvrages, les nouveaux livres publiés depuis
												2007 utilisent exclusivement le format ISBN-13, qui offre
												une plus grande capacité pour les identifications futures.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingFive">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseFive"
												aria-expanded="false" aria-controls="collapseFive">
												<b>Comment un ISBN est-il attribué à un livre ?</b>
											</button>
										</h2>
										<div id="collapseFive" class="accordion-collapse collapse"
											aria-labelledby="headingFive"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">Un ISBN est attribué par
												une agence nationale ISBN dans chaque pays, qui gère la
												distribution et l'enregistrement des numéros ISBN. L'éditeur
												ou l'auteur doit contacter cette agence pour obtenir un ISBN
												pour son livre. Lors de la demande, des informations sur
												l'ouvrage sont fournies, telles que le titre, l’auteur, le
												format et l’édition. Une fois attribué, l'ISBN est unique
												pour cette édition et ne peut être réutilisé pour une autre.
												Cela garantit une gestion efficace des livres dans les
												systèmes de bibliothèques, de vente, et de distribution. Il
												est essentiel pour toute œuvre destinée à une large
												diffusion ou à la vente.</div>
										</div>
									</div>
									<div class="accordion-item">
										<h2 class="accordion-header" id="headingSix">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#collapseSix"
												aria-expanded="false" aria-controls="collapseSix">
												<b>Pourquoi un ISBN est-il important pour un livre ?</b>
											</button>
										</h2>
										<div id="collapseSix" class="accordion-collapse collapse"
											aria-labelledby="headingSix"
											data-bs-parent="#accordionExample1">
											<div class="accordion-body">Un ISBN est important car
												il permet d'identifier un livre de manière unique et
												standardisée dans les systèmes de gestion, de vente, et de
												distribution. Sans ISBN, un livre peut être difficile à
												trouver dans les catalogues en ligne ou en librairie, car
												les systèmes de distribution reposent en grande partie sur
												cet identifiant. L'ISBN facilite aussi le référencement dans
												les bases de données des bibliothèques et des librairies, ce
												qui améliore sa visibilité et son accessibilité pour le
												public. Il est essentiel pour qu'un livre puisse être
												largement distribué, que ce soit sous format imprimé ou
												numérique.</div>
										</div>
									</div>
									<!-- Ajoutez d'autres questions sous la même structure ici -->
								</div>
							</div>



						</div>
                </div>
            </div>
        </div>
    </section>
</main>
<th:block th:insert="~{inc/footer.html}"></th:block>
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="../../assets/js/pixel.js"></script>
<script src="../../assets/js/pixel-custom.js"></script>
<script>
    $(document).ready(function() {
        $('#searchInput').on("change", function(e) {
            $('#searchForm').attr("action", "/recherche/" + encodeURIComponent($('#searchInput').val()));
        });
    });
</script>
</body>

</html>