<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
    <!-- Importing meta tags and CSS files -->
    <th:block th:insert="~{inc/header-meta.html}"></th:block>

    <!-- Primary Meta Tags -->
    <title th:text="${helper.getMetaTitle()}"></title>
    <meta name="description" th:content="${helper.texts.get('meta-description')}">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" th:content="${helper.texts.get('opengraph-title')}">
    <meta property="og:description" th:content="${helper.texts.get('opengraph-description')}">
    <meta property="og:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- No indexing if not a verticalized page -->
    <meta th:unless="${product.vertical}" name="robots" content="noindex">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" th:content="${url}">
    <meta name="twitter:title" th:content="${helper.texts.get('twitter-title')}">
    <meta name="twitter:description" th:content="${helper.texts.get('twitter-description')}">
    <meta name="twitter:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables-responsive/css/responsive.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <th:block th:insert="~{inc/product-css.html}"></th:block>


      <script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
      <script src="/js/product-price-widget.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!--/* TODO: place this in your <head> or just before the chart script */-->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@latest/dist/chartjs-plugin-annotation.min.js"></script>







</head>

<body>

    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar
        */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>


    <main th:with="images = ${product.images()}" class="bg-gray-200">

    <div class="">
        <div class="container">

            <div class="">
                <!-- Header
                -->
                <th:block th:insert="~{inc/product-header.html}"></th:block>


            </div>
        </div>
    </div>

    <div class="bg-primary">

            <div class="mt-4">

                <!-- The navbar
                -->
<th:block>

                    <div class="sticky-top bg-white px-6 shadow-sm pt-3 pb-0"
                         role="tablist"
                         aria-label="Product Tabs Variation 2">
                        <ul class="nav nav-pills nav-fill fs-5">
                            <li class="nav-item">
                                <button class="active nav-link d-flex align-items-center justify-content-center"
                                        id="pills-ecological2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-ecological"
                                        type="button" role="tab"
                                        aria-controls="pills-ecological"
                                        aria-selected="false">
                                    <i class="fas fa-leaf me-2"></i>
                                    Impact écologique
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link  d-flex align-items-center justify-content-center"
                                        id="pills-presentation2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-presentation"
                                        type="button" role="tab"
                                        aria-controls="pills-presentation"
                                        aria-selected="true">
                                    <i class="fas fa-info-circle me-2"></i>
                                    Synthèse des tests
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link d-flex align-items-center justify-content-center"
                                        id="pills-price2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-price"
                                        type="button" role="tab"
                                        aria-controls="pills-price"
                                        aria-selected="false">
                                    <i class="fas fa-euro me-2"></i>
                                    Prix
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link d-flex align-items-center justify-content-center"
                                        id="pills-technical2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-technical"
                                        type="button" role="tab"
                                        aria-controls="pills-technical"
                                        aria-selected="false">
                                    <i class="fas fa-cogs me-2"></i>
                                    Caractéristiques
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link d-flex align-items-center justify-content-center"
                                        id="pills-resources2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-resources"
                                        type="button" role="tab"
                                        aria-controls="pills-resources"
                                        aria-selected="false">
                                    <i class="fas fa-book me-2"></i>
                                    Documentation
                                </button>
                            </li>
                            <li th:if="${user}" class="nav-item">
                                <button class="nav-link d-flex align-items-center justify-content-center"
                                        id="pills-admin2-tab"
                                        data-bs-toggle="pill"
                                        data-bs-target="#pills-admin"
                                        type="button" role="tab"
                                        aria-controls="pills-admin"
                                        aria-selected="false">
                                    <i class="fas fa-user-shield me-2"></i>
                                    Admin
                                </button>
                            </li>
                        </ul>
                    </div>
                </th:block>

            </div>


			<!-- Tabs -->
			<div class="tab-content" id="pills-tabContent">

				<div class="tab-pane fade show active" id="pills-ecological" role="tabpanel" aria-labelledby="pills-ecological-tab">
                       <!-- Ecological -->
                       <th:block th:insert="~{inc/product-ecological.html}"></th:block>
				</div>

				<div class="tab-pane fade" id="pills-presentation" role="tabpanel" aria-labelledby="pills-presentation-tab">
				   <!-- Presentation -->

                    <th:block th:insert="~{inc/product-presentation.html}"></th:block>

                    <!--
                  <th:block th:with="fixed=4 ">
	                  <th:block th:with="varValue=${param.var != null ? param.var[0] : '0'},  fragmentName=${fixed >= 0 ? fixed : varValue}">
	                        <div th:replace="~{inc/product-presentation-variations :: 'product-presentation-variations-' + ${fragmentName}}"></div>
	                  </th:block>
                  </th:block>
                     -->




				</div>


				<div class="tab-pane fade" id="pills-price" role="tabpanel" aria-labelledby="pills-price-tab">
		            <!-- Product prices
		            -->
		            <th:block th:insert="~{inc/product-price.html}"></th:block>




		            <!-- Variation include snippet
					<th:block th:with="varValue=${param.var != null ? param.var[0] : '1'}">
					    <div th:replace="~{inc/product-price-variations :: 'product-price-variation-' + ${varValue}}"></div>
					</th:block>
		            -->

				</div>

                      <div class="tab-pane fade" id="pills-technical" role="tabpanel" aria-labelledby="pills-technical-tab">
                          <!-- Product attributes details
                           -->
                          <th:block th:insert="~{inc/product-attributes-details.html}"></th:block>
                      </div>


                      <div class="tab-pane fade" id="pills-resources" role="tabpanel" aria-labelledby="pills-resources-tab">
                          <!-- Product resources details -->

                             <th:block th:insert="~{inc/product-documentation.html}"></th:block>


                      </div>


				    <div th:if="${user}" class="tab-pane fade" id="pills-admin" role="tabpanel" aria-labelledby="pills-admin-tab">

				       <th:block th:insert="~{inc/product-admin.html}"></th:block>

                    </div>



			</div>
    </div>
</main>

<!-- Footer -->
<th:block th:insert="~{inc/footer.html}"></th:block>



<script defer src="/vendor/countUp.umd.js"></script>
<script defer src="/vendor/nouislider/dist/nouislider.min.js"></script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Footer -->
<th:block th:insert="~{inc/product-js.html}"></th:block>



</body>

</html>