<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
    <!-- Importing meta tags and CSS files -->
    <th:block th:insert="~{inc/header-meta.html}"></th:block>

    <!-- Primary Meta Tags -->
    <title th:text="${helper.getMetaTitle()}"></title>
    <meta name="description" th:content="${helper.texts.get('meta-description')}">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" th:content="${helper.texts.get('opengraph-title')}">
    <meta property="og:description" th:content="${helper.texts.get('opengraph-description')}">
    <meta property="og:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- No indexing if not a verticalized page -->
    <meta th:unless="${product.vertical}" name="robots" content="noindex">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" th:content="${url}">
    <meta name="twitter:title" th:content="${helper.texts.get('twitter-title')}">
    <meta name="twitter:description" th:content="${helper.texts.get('twitter-description')}">
    <meta name="twitter:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables-responsive/css/responsive.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/css/lightgallery-bundle.min.css" integrity="sha512-fXavT4uA4L0uTUFHC275D7zd751ohbSuD6VUMc5JysWfmR+NxTI3w7etE7N9hjTETcoh0w0V+24Cel4xXnqvCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


      <script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script defer type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
      <script src="/js/product-price-widget.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!--/* TODO: place this in your <head> or just before the chart script */-->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@latest/dist/chartjs-plugin-annotation.min.js"></script>

</head>

<body>

    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar
        */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>


    <main th:with="images = ${product.images()}" class="bg-gray-200">

    <div class="">
        <div class="container">

            <div class="">
                <!-- Header
                -->
                <th:block th:insert="~{inc/product-header.html}"></th:block>

			</th:block>


            </div>
        </div>
    </div>

    <div class="bg-primary">



		            <th:block th:insert="~{inc/product-price.html}"></th:block>

                   <th:block th:insert="~{inc/product-attributes-details.html}"></th:block>

                   <th:block th:insert="~{inc/product-documentation.html}"></th:block>



                    <th:block th:insert="~{inc/product-admin.html}"></th:block>


    </div>
</main>

<!-- Footer -->
<th:block th:insert="~{inc/footer.html}"></th:block>



<script defer src="/vendor/countUp.umd.js"></script>
<script defer src="/vendor/nouislider/dist/nouislider.min.js"></script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Footer -->
<th:block th:insert="~{inc/product-js.html}"></th:block>



</body>

</html>