<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
 	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="${metaTitle}"></title>
	<meta th:if="${metaDescription}" name="description" th:content="${metaDescription}">	
	<meta th:if="${metaKeyword}" name="keywords" th:content="${metaKeyword}">
	
</head>

<body>
    
    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>  
    

	
    <main>	
		
        <!-- Hero -->
        <section th:if="${pageTitle}" class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container" th:classappend="${width}">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 th:text=${pageTitle} class="display-2 mb-3"></h1>
                        <th:block th:if="${verticalConfig != null}" th:with="vConf = ${verticalConfig}, pageLabel=${pageTitle}" th:insert="~{inc/breadcrumb-vertical.html}">
                        </th:block>                        
                    </div>
                </div>
            </div>
        </section>
        
        
 		<section class="section section-lg pt-0">
            <div class="mt-n8 mt-lg-n12 z-2 container" th:classappend="${width}">
            

				            
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card shadow border-gray-300 p-4 p-lg-5">
				           	<div th:if="${editor}">
									<div class=" alert-danger text-center">
										<b><a th:href="${editLink}" target="_blank"> ✎ EDITER</a></b>
									</div>
							</div>

                            <p th:utext="${html}" class="lead"></p>
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

</body>

</html>
