<header class="header-global">
	<nav id="navbar-main" aria-label="Navigation principale"
		class="navbar navbar-main navbar-expand-lg navbar-light navbar-theme-primary headroom headroom--not-bottom headroom--pinned headroom--top bg-white"
	>
		<div class="container position-relative">
			<a class="navbar-brand me-lg-5" href="/"> 
			     <img class="navbar-brand-dark" loading="lazy" src="/assets/img/nudger_logo_v2_light.svg" alt="Le logo de Nudger (clair)"> 
			     <img class="navbar-brand-light" loading="lazy" src="/assets/img/nudger_logo_v2_dark.svg" alt="Le logo de Nudger (sombre)"
			>
			</a>
			<div class="navbar-collapse collapse me-auto" id="navbar_global">
				<div class="navbar-collapse-header">
					<div class="row">
						<div class="col-6 collapse-brand">
							<a href="/"> <img loading="lazy" src="/assets/img/nudger_logo_v2.svg" alt="Le logo de Nudger">
							</a>
						</div>
						<div class="col-6 collapse-close">
							<a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close"
								aria-label="Basculer la navigation"
							></a>
						</div>
					</div>
				</div>

			</div>
			<div class="d-flex align-items-center">
				<div class="navbar-collapse collapse" id="navbar_global">
					<div class="navbar-collapse-header">
						<div class="row">
							<div class="col-6 collapse-brand">
								<a href="/"> <img loading="lazy" src="/assets/img/nudger_logo_v2.svg" alt="Le logo de nudger.fr">
								</a>
							</div>
							<div class="col-6 collapse-close">
								<a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close"
									aria-label="Basculer la navigation"
								></a>
							</div>
						</div>
					</div>
					<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
						<li class="nav-item dropdown"><a href="/ecoscore" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-bs-toggle="dropdown">Catégories<span
								class="fas fa-angle-down nav-link-arrow ms-1"
							></span>
						</a>
							<div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="componentsDropdown">
								<div class="row g-0">
									
									
									<div class="col-lg-6 bg-brand_secondary d-none d-lg-block me-0 me-3 text-center text-white px-3">
										<div class="px-0 py-3 text-center">
											<h1 class="text-white" >Impact Score</h1>
                                            <div class="text-center">
                                                <th:block 
                                                        th:with="rating=3.5, class='star-rating-lg'",
                                                        th:insert="~{inc/impactscore.html}">
                                                </th:block>
                                            </div>
										</div>
										AJOUTER ICI L GUIDE DE LA PAGE VERTICAL ?<br>
										pour le moment impossible, erreur de "positionnement"
									</div>
									
									<th:block th:each="bucket : ${verticalsBuckets}">
										<div  class="col ps-0 py-3">
	                                        <ul class="list-style-none">
	                                            <li th:each="v : ${bucket}"><a  class="dropdown-item" th:href="'/'+${v.i18n(siteLanguage).verticalHomeUrl}" th:text="${v.i18n(siteLanguage).verticalHomeTitle}"></a></li>
	                                        </ul>
	                                    </div>
									</th:block>
									
								</div>
							</div></li>
						<li class="nav-item "><a href="/compensation-ecologique" class="nav-link">Contribution écologique</a></li>
						<li class="nav-item "><a href="/blog" class="nav-link">Blog</a></li>
						<th:block th:if="${user}">
							<li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">Admin<span
									class="fas fa-angle-down nav-link-arrow ms-1"
								></span>
							</a>
								<div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
									<div class="col-auto px-0">
										<div class="list-group list-group-flush">
											<ul class="list-style-none">
												<li class="ms-3">Bonjour <b><span th:text="${user}"> </span></b></li>
												<!--ul th:each="role : ${roles}" class="ms-3">
                                                <li th:text="${role}" class="ms-3"></li>
                                            </ul-->

												<li class="ms-3" th:if="${product}"><a th:href="'/aiAssist?gtin='+${product.gtin}+'&r='+${url}">Génération des textes</a></li>
												<li class="ms-3" th:if="${editLink}"><a target="_blank" th:href="${editLink}">Editer cette page sur le wiki</a></li>
												<li class="ms-3"><a th:href="'/index'+'?r='+ ${baseUrl} + ${url}">Indexation Google de cette page</a></li>
												<li th:if="${vertical}" class="ms-3"><a th:href="'/index/'+${vertical}">Indexation Google de cette verticale</a></li>
												<li class="ms-3"><a th:href="'/flushCache?r='+${url}">Purger le cache</a></li>
												<li class="ms-3"><a th:href="'/reloadConfigs?r='+${url}">Recharger les verticales</a></li>
												<li class="ms-3"><a href="/logout">Se déconnecter</a></li>
											</ul>
										</div>
									</div>
								</div></li>
						</th:block>
						<li th:unless="${pageName=='index'}" class="nav-item">
							<form method="post" id="searchForm" action="/recherche">
								<div class="d-flex align-items-center justify-content-center">
									<div class="input-group input-group__nudger">
										<input type="text" id="searchInput" class="form-control" placeholder="Rechercher" aria-label="Search" aria-describedby="basic-addon1" name="query" data-dashlane-rid="c04fc15a353ceabb"
											data-form-type=""
										>
										<button onclick="document.getElementById('searchForm').submit()" class="btn btn__nudger" type="button">
											<span class="fas fa-search"></span>
										</button>
										<!--hr /-->
									</div>
								</div>
							</form>
						</li>
					</ul>
				</div>
				<button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</nav>
</header>