<footer class="footer pt-6 pb-5 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
                <p>nudger.fr est une approche ouverte pour évaluer écologiquement les biens de consommation et compenser partiellement l'impact de  vos achats en ligne.</p>
               
               
               	<span class="h5">Informations techniques</span>
                <ul class="footer-links mt-2">                   
                    <li class="ms-3" th:if="${genericResponse && genericResponse.duration != 0}">Page générée en <span th:text="${genericResponse.duration}"> </span> ms</li>
                    <th:block th:if="${user}">
	                    <li class="ms-3" >Connecté en tant que <b><span th:text="${user}"> </span></b>, avec les rôles :</li>
                        <ul th:each="role : ${roles}" class="ms-3">
                        	<li th:text="${role}" class="ms-3"></li>
                        </ul>                            
    	                <li class="ms-3" th:if="${editLink}"><a target="_blank" th:href="${editLink}">Editer cette page sur le wiki</a></li>
    	                <li class="ms-3"><a href="/flushCache">Purger le cache</a></li>
    	                <li class="ms-3"><a href="/logout">Se déconnecter</a></li>
                    </th:block>
                </ul>
                
                
            </div>
            <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <span class="h5">nudger.fr</span>
                <ul class="footer-links mt-2">
                    <li class="ms-3"><a  href="/compensation-carbone">Compensation carbone</a></li>
                    <li class="ms-3"><a  href="/opendata">Open data</a></li>
                    <li class="ms-3"><a target="_blank" href="https://github.com/open4good/open4goods">Open source</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Autre</span>
                <ul class="footer-links mt-2">
                    <li class="ms-3"><a href="https://github.com/open4good/open4goods/issues/new"
                            target="_blank">Déclarer un bug ou proposer une évolution</a></li>
                
                    <li class="ms-3"><a href="https://fr.linkedin.com/in/goulven-furet-b448b582">Nous contacter</a></li>
                    
                </ul>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">

                <a href="https://nudger.fr"  class="d-flex justify-content-center mb-3">  
                    <img src="../../assets/img/brand/light.svg" height="30" class="me-2" alt="Logo un-geste">
                    <p class="text-white fw-bold footer-logo-text m-0">nudger.fr</p>
                </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">Copyright © open4goods -<span
                            class="current-year">2021</span>. Produit de bien commun</p>
                </div>
            </div>
        </div>
    </div>
</footer>