<div class="navbar-collapse-header">
    <div class="row">
        <div class="col-6 collapse-brand">
            <a href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>
        </div>
        <div class="col-6 collapse-close">
            <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
        </div>
    </div>
</div>       
            
