<nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-soft">
    <div class="container-fluid position-relative">
        <a class="navbar-brand me-lg-5" href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>

        <div class="navbar-collapse collapse me-auto" id="navbar_global">
	 		<!--/* Navbar mantras*/-->
			<th:block th:insert="~{inc/navbar-logo.html}"></th:block>
			
			<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
              
               <li class="nav-item ">
                	<span> » </span>    
                </li>
                
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="productsUniverse" aria-expanded="false" data-bs-toggle="dropdown">téléviseurs <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="productsUniverse">
                        <div class="row">
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">Le salon</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/about.html">TV's</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/pricing.html">Amplificateurs</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/team.html">Canapés</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/services.html">Services</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/profile.html">Profile</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/contact.html">Contact</a></li>
                                </ul>
                                <h6 class="d-block text-primary">L'électroménager</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/legal.html">Legal center</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/terms.html">Terms &amp; agreement</a></li>
                                </ul>
                                <h6 class="d-block text-primary">La chambre</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/careers.html">Careers</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/career-single.html">Career Single</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">L'informatique</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-app.html">App</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-crypto.html">Crypto</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-freelancer.html">Freelancer</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Les livres</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/support.html">Support center</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/support-topic.html">Support topic</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Les meubles</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blog.html">Blog</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blog-post.html">Blog post</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">User</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/sign-in.html">Sign in</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/sign-up.html">Sign up</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/forgot-password.html">Forgot password</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/reset-password.html">Reset password</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Special</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/404.html">404 Not Found</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/500.html">500 Server Error</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/maintenance.html">Maintenance</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/coming-soon.html">Coming soon</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blank.html">Blank page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="nav-item ">
                	<span> » </span>    
                </li>
                
                
                
                
                <li class="nav-item dropdown">
                    <a href="${url}" th:text="${product.brandAndModel()}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="productDropdown" aria-expanded="false"> <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="productDropdown">
                        <div class="row">
                            <div class="">
			                          <ul class="list-style-none mb-4">
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerEcoscore">Ecoscore et compensation environnementale</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerInfosProduits">Informations produit</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerPrices">Prix neufs et occasions</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerCaracteristiques">Caracteristiques techniques</a></li>
			                          </ul>

                            </div>
                        </div>
                    </div>
                </li>
                
                
                
                

            </ul>
		</div>

 
 		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar-mantras.html}"></th:block>
        

		<!--/* Navbar search*/-->
		<th:block th:insert="~{inc/navbar-search.html}"></th:block> 
 
    </div>
</nav>