 <div class="d-flex align-items-center">
      <a href="/compensation-carbone" class="navbar-brand "><img src="../../assets/img/20.jpg" class="img-fluid" alt="compensation écologique de vos achats"></a>
      <a target="_blank" href="https://github.com/open4good/open4goods" class="navbar-brand"><img src="../../assets/img/opensource.svg" class="img-fluid" alt="premier comparateur de produits open source"></a>
      <a href="/opendata" class="navbar-brand "><img src="../../assets/img/opendata.png" class="img-fluid" alt="premier comparateur de produits open data"></a>
      
      
      <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" th:aria-label="#{site.navigation.toggle}">
          <span class="navbar-toggler-icon"></span>
      </button>                
</div>