<form method="POST" action="/nudge">
	<div th:if="${product.bestPrice()}" class="row">
		<div class="col-8">
			<span class="h4 title">Compensation écologique</span>
			<span class="h4 title">Gratuite pour vous</span>
		</div>

		<div class="col-4">
			<span class="h1 mb-0 text-gray mb-3">				
				<span id="countup-reversment" th:data-max="${product.bestPrice().compensation}"></span> 
				<span th:text="#{'symbol.'+${product.bestPrice().currency}}"></span>				
			</span>			
		</div>	
	</div>



	<label class="my-1 me-2" for="inlineFormCustomSelectPref">Reversés au nom de votre achat</label>
	<select name="nudge" width="100%" class="form-select mb-3" id="inlineFormCustomSelectPref" aria-label="Default select example">
		<option selected="selected" value="DEFAULT">Laisser nudger choisir !</option>
		<option value="1">greenpeace</option>
		<option value="3">Fondation goodplanet</option>
	</select>
			
			
			
			
		<!-- Prices -->	
			
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			  <li th:if="${product.price.occasionOffers().size() > 0}" class="nav-item" role="presentation">
			    <button class="updatePrice nav-link" th:classappend="${product.price.occasionOffers().size() > 0} ? 'active' : '' "  id="pills-occasion-tab" data-bs-toggle="pill" data-bs-target="#pills-occasion" type="button" role="tab" aria-controls="pills-occasion" aria-selected="true">Occasion</button>
			  </li>
			  <li th:if="${product.price.newOffers().size() > 0}" class="nav-item" role="presentation">
			    <button class="updatePrice nav-link" th:classappend="${product.price.occasionOffers().size() > 0} ? '' : 'active' " id="pills-new-tab" data-bs-toggle="pill" data-bs-target="#pills-new" type="button" role="tab" aria-controls="pills-new" aria-selected="false">Neuf</button>
			  </li>
			  <li class="nav-item" role="presentation">
			    <button class="nav-link" id="pills-history-tab" data-bs-toggle="pill" data-bs-target="#pills-history" type="button" role="tab" aria-controls="pills-history" aria-selected="false">Evolution des prix</button>
			  </li>
			</ul>

			<div class="tab-content">
			  <!-- occasion offers -->

			  <div th:if="${product.price.occasionOffers().size() > 0}" class="tab-pane fade" th:classappend="${product.price.occasionOffers().size() > 0} ? 'active show' : '' " id="pills-occasion" role="tabpanel" aria-labelledby="pills-occasion-tab">
			  	   <div  th:with="offersId = 'offresOccasion', offers=${product.price.occasionOffers()}" >
						<th:block th:insert="~{inc/offers-table.html}"></th:block>					
					</div>
			  </div>
			  
			  <!-- new offers -->
			  <div th:if="${product.price.newOffers().size() > 0}" class="tab-pane fade" id="pills-new" role="tabpanel" th:classappend="${product.price.occasionOffers().size() > 0} ? '' : 'active show' " aria-labelledby="pills-new-tab">
				  
				  <div th:if="${product.price.newOffers()}">
			
			  	   <div  th:with="offersId = 'offresNeuves', offers=${product.price.newOffers()}">
						<th:block th:insert="~{inc/offers-table.html}"></th:block>					
					</div>
					
					</div>
			  
			  </div>
			  
			  <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
			   	<canvas id="priceChart"></canvas>
			  </div>
			  
			  
			</div>
			
			
			
			
			
			
			
			
			
			
	<input  th:if="${product.bestPrice()}" type="hidden" id="token" name="token" th:value="${product.bestPrice().affiliationToken}">			
	<input th:if="${product.bestPrice()}" type ="submit" style="width:100%" value="Nudger" formtarget="_blank" class="btn btn-tertiary">

</form>