<div class="table-responsive table-caracteristics-fs mt-4" th:if="${product.attributes.aggregatedAttributes.size()} > 0">
	<h6 class="h6 bg-white position-relative"><span>Caractéristiques principales</span></h6>
	<table class="table">
		<th:block th:each="attribute : ${product.attributes.aggregatedAttributes.values()}">
			<tr>
				<td class="align-middle" th:text="${helper.attributeName(attribute.name)}"></td>
				
				<th:block th:switch="${attribute.name}">
					<td class="align-middle" th:case="'REPAIRABILITY_INDEX'"  th:insert="~{inc/attributes/class_energy.html}"> </td>
					<td class="align-middle" th:case="*" th:text="${attribute.value}"></td>
				</th:block>
				<td class="align-middle">
					<span th:if="${attribute}" th:with="conflicts = ${attribute.hasConflicts()}, sourcesCount=${attribute.sourcesCount()}, distinctValues=${attribute.distinctValues()}">
	
						<!-- /** Conflicts  **/ -->
						<!--img  th:if="${conflicts}" class="help-pointer" height="16" src="/icons/ko.png" data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{attribute.sourcing.conflict(${attribute.sourcesCount()}, ${disctinctValues})}"-->	
						<i th:if="${conflicts}" data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{attribute.sourcing.conflict(${attribute.sourcesCount()}, ${disctinctValues})}" class="fa-solid fa-check"></i>
						<!-- /** No conflicts, 1 source  **/ -->
						<!--img th:unless="${conflicts}" class="help-pointer" height="16" src="/icons/ok.png" data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{attribute.sourcing.noconflict(${attribute.sourcesCount()}, ${disctinctValues})}"-->
						<i th:unless="${conflicts}" th:title="#{attribute.sourcing.noconflict(${attribute.sourcesCount()}, ${disctinctValues})}" class="fa-solid fa-xmark"></i>
						<!-- /**  1 source  **/ -->
						<span th:if="${sourcesCount == 1}" class="help-pointer badge rounded-pill bg-info ml-3" th:text="${sourcesCount}" data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{attribute.sourcing.list(${attribute.sourcesCount()}, ${disctinctValues}, ${attribute.providersToString()})}"></span>
						<!-- /**  multiple source  **/ -->
						<span th:unless="${sourcesCount == 1}" class="help-pointer badge rounded-pill bg-success ml-3" th:text="${sourcesCount}" data-bs-toggle="tooltip" data-bs-placement="top" th:title="#{attribute.sourcing.list(${attribute.sourcesCount()}, ${disctinctValues}, ${attribute.sourcesToString()})}"></span>
					</span>
				</td>
			</tr>
		</th:block>
	</table>
</div>
