

<div id="ecoScore" class="card" style="">



	<div class="nav-wrapper position-relative mb-2">
		<ul class="nav nav-tabs nav-fill flex-column flex-md-row"
			id="tabs-icons-text" role="tablist">
			<li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0 active"
				id="tabs-icons-text-1-tab" data-bs-toggle="tab"
				href="#panel-ecoscore" role="tab"
				aria-controls="tabs-icons-text-1" aria-selected="true"><span
					class="fas fa-palette me-2"></span>Ecoscore</a></li>
					
					

			<li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0"
				id="tabs-icons-text-2-tab" data-bs-toggle="tab"
				href="#panel-radar" role="tab"
				aria-controls="tabs-icons-text-2" aria-selected="false"><span
					class="fas fa-laptop-code me-2"></span>Radar</a></li>

			<li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0"
				id="tabs-icons-text-2-tab" data-bs-toggle="tab"
				href="#panel-detail-ecoscore" role="tab"
				aria-controls="tabs-icons-text-2" aria-selected="false"><span
					class="fas fa-laptop-code me-2"></span>Explications</a></li>

			<li class="nav-item"><a class="nav-link mb-sm-3 mb-md-0"
				id="tabs-icons-text-2-tab" data-bs-toggle="tab"
				href="#panel-datas" role="tab"
				aria-controls="tabs-icons-text-2" aria-selected="false"><span
					class="fas fa-laptop-code me-2"></span>Sources</a></li>
										
								
		</ul>
	</div>



<!-- 
	<ul class="nav nav-tabs">
		<li class="nav-item"><a class="nav-link active"
			aria-current="page" href="#tabs-icons-text-1">Eco-score</a></li>
		<li class="nav-item"><a class="nav-link" href="tabs-icons-text-2">Link</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link disabled" href="#"
			tabindex="-1" aria-disabled="true">Disabled</a></li>
	</ul>

 -->


	<div class="card border-0">
		<div class="card-body p-0">
			<div class="tab-content" id="tabcontent2">
				<div class="tab-pane fade active show" id="panel-ecoscore"
					role="tabpanel" aria-labelledby="panel-ecoscore">
					
					
					
					
					<div>
						<div class="text-center">
				           
				           <img width="350px" src="/icons/ecoscore.png">
						</div>
						<div  class="m-5">
						
							<div th:each="score : ${product.realScores()}" class="progress-wrapper">
							
								<div class="progress-info">
									<span class="h4 progress-tooltip" th:classappend="'bg-'+${score.colorClassName()}" th:text="${score.name}"></span>
									<div class="progress-percentage">
										<!-- 
										<span th:if="${score.relativValue}" th:text="${score.relativValue*20}+'%'"></span>
										 -->
									</div>
								</div>
								<div class="progress">
									<div class="progress-bar" th:classappend="'bg-'+${score.colorClassName()}" role="progressbar"
										  th:attrappend="aria-valuenow = ${score.percent()}, style='width: '+${score.percent()}+'%;'" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
						</div>
						</div>
					</div>
				
				</div>

				</div>
				
				<!-- Detail -->
				<div class="tab-pane fade" id="panel-detail-ecoscore" role="tabpanel"
					aria-labelledby="panel-detail-ecoscore">
					<p>L'écoscore écologique pour le SAMSUNG OLED-85C8 est composé de 4 critères, dont 2 virtuels. Ce score environnemental est calculé en prenant en compte différentes informations environnentales disponibles pour 
					ce téléviseur. Voici la composition du score :
					
					<br/><br/><br/>
					
	
						<table class="table table-hover">
							<tbody>
									<tr th:each="score : ${product.scores}">
									<th scope="row" th:text="${score.key}"></th>
									<td th:text="${score.value}"></td>
								</tr>
							</tbody>
						</table>		
					<br/><br/><br/>
					
					
					  </p>
					<p>En savoir plus<a href="">le mode de calcul et la transparence de l'eco-score</a>. </p>
				</div>
				
				
				<!-- Radar -->
				<div class="tab-pane fade" id="panel-radar" role="tabpanel"
					aria-labelledby="panel-radar">
					
					
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>	
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
				</div>
				
				<!-- Radar -->
				<div class="tab-pane fade" id="panel-datas" role="tabpanel"
					aria-labelledby="panel-datas">
					
				</div>
				
				
			</div>
		</div>
	</div>