

    <section class="section">
		<div class="row text-center justify-content-center">
              <div class="col-md-8 mb-5">
                  <h3 class="display-3">Présentation du SAMSUNG-OLED75C9</h3>
                  <p class="lead">Les grandes lignes</p>

              </div>
        </div>	   
  
	   
	   
			<div  class="container container-semi-fluid">
                <div class="col-12 col-lg-12">
                    <div class="row justify-content-center ">
                        <div class="col-12 col-md-6">
                            <div th:if="${product.aiDescriptions.get('global-description')}" class="row mt-5 mt-lg-0 px-3">
                                <!-- Icon Boxes -->
                                <div id="compensation-carbone" class="card shadow border-gray-300">
                                    <div class="card-body text-center p-4 p-lg-5">
                                        <img src="../../assets/img/pages/design.svg" alt="Web design illustration" class="image-md mb-4">
                                        <h2  class="h4 mb-2">Description générale</h2>
                                        <span  class="h5 text-light "></span>
                                        <p th:utext="${product.aiDescriptions.get('global-description').content.text}">
                                        </p>
                                    </div>
                                </div>
                                <!-- End of Icon Boxes -->
                            </div>


                            <div class="row mt-5 mt-lg-0 px-3">
                                <!-- Icon Boxes -->
                                <div  class="card shadow mt-3 border-gray-300">
                                    <div class="card-body text-center p-4 p-lg-5">
                                        <img src="../../assets/img/pages/design.svg" alt="Web design illustration" class="image-md mb-4">
                                        <h2  class="h4 mb-2">Evolution des prix</h2>
                                        <span  class="h5 text-light "></span>
                                        
                                        <div>
                                        		 <canvas id="priceChart"></canvas>
                                        </div>
                                        <p>
											ça ne serait pas mieux un charts dans ce style pour l'évolution des prix ?

                                            <img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Pushkin_population_history.svg">
                                        </p>
                                    </div>
                                </div>
                                <!-- End of Icon Boxes -->
                            </div>


                        </div>
                        <div class="col-12 col-md-6 mt-lg-5">


                                <!-- Icon Boxes -->
                                <div th:if="${product.aiDescriptions.get('ecological-description')}" id="evaluation-ecologique" class="card shadow border-gray-300 mt-3">
                                     <div class="card-body text-center p-4 p-lg-5">
                                        <img src="../../assets/img/pages/design.svg" alt="Web design illustration" class="image-md mb-4">
                                        <h2  class="h4 mb-2">Bilan écologique</h2>
                                        <span  class="h5 text-light ">SAMSUNG-75C9</span>
                                        <p th:utext="${product.aiDescriptions.get('ecological-description').content.text}">
                                        </p>
                                    </div>
                                </div>
                                <!-- End of Icon Boxes -->
                        
                        
   							<!-- Icon Boxes -->
                                <div id="evaluation-ecologique" class="card shadow border-gray-300 mt-3">
                                     <div class="card-body text-center p-4 p-lg-5">
                                        <img th:if="${product.gtinInfos.country}" th:title="${originCountry}" th:src="'/assets/img/flags/'+${product.gtinInfos.country.toLowerCase()}+'.png'" th:alt="${originCountry}" class="image-md mb-4">
                                        <h2  class="h4 mb-2">Origine</h2>
                                        <span  class="h5 text-light mb-2 " th:text="${originCountry}"></span>
											<p class="mb-4">Cette information est récuperée par les
											premiers chiffres du code barre  (<b><span th:text="${product.gtin().substring(0,3)}"></span></b>), et indique la nationalité de 
											l'organisme qui a délivré le code barre. Cela n'indique pas nécessairement le lieu de production.</p>
				                                    </div>
                                </div>
                                <!-- End of Icon Boxes -->
                                
                                                        
                            
                        </div>
                    </div>
                </div>
            </div>	   
	   </section> 
	   
	   
	   
	   

