<form method="POST" action="/nudge">
	<h5 class="h5 title">Compensation carbone</h6>
	<h2 class="h1 mb-0 text-gray mb-3">				
		<span id="countup-reversment" th:data-max="${product.bestPrice().compensation}"></span> 
		<span th:text="#{'symbol.'+${product.bestPrice().currency}}"></span>				
	</h2>

	<label class="my-1 me-2" for="inlineFormCustomSelectPref">Reversés au nom de votre achat</label>
	<select name="nudge" width="100%" class="form-select mb-3" id="inlineFormCustomSelectPref" aria-label="Default select example">
		<option selected="selected" value="DEFAULT">Laisser nudger choisir !</option>
		<option value="1">greenpeace</option>
		<option value="3">Fondation goodplanet</option>
	</select>
			
	<input type ="submit" value="Nudger" formtarget="_blank" class="btn btn-tertiary">
	<input type="hidden" name="token" th:value="${product.bestPrice().affiliationToken}">			

</form>