<div id="meilleursPrix" class="card">
	<div class="row g-0 align-items-center">
		<div class="col-sm-6">
			<!-- Header -->
			<div class="card-header border-0 bg-white text-center pb-0">
				<h2 class="h3 ">Meilleur prix</h2>
				<span class="d-block"> 
					<span class="display-3 fw-bold">
						<th:block th:text="${product.bestPrice().shortPrice()}"></th:block> 
						
						
						<span class="align-baseline font-medium" th:text="#{'symbol.'+${product.bestPrice().currency}}"></span>
					</span>
				</span>

			</div>
		</div>
		
		<div class="col-sm-6">
			<!-- Content -->
			<div class="card-body pb-0">
				<ul class="list-group list-group-flush price-list mb-4">

					<li th:if="${product.bestPrice().productState}" class="list-group-item border-0"><span class="fas fa-box"></span><span><b th:text="#{'condition.'+${product.bestPrice().productState}}"></b></span></li>
					<li class="list-group-item border-0"><img height="32" width="32" class="me-2" th:src="'/icon/'+${product.bestPrice().datasourceName}" th:title="'icône ' + ${product.bestPrice().shortDataSourceName()}"><span th:text="${product.bestPrice().datasourceName}"></span> </li>
					
						<li class="list-group-item border-0">
									<th:block th:if="${product.offersCount} > 1">
										<a href="#offres">
											<span class="text-success small"> Voir les  </span>
											<span class="h6 mb-0 text-danger">
												<span th:text='${product.offersCount}'></span> offres</span>
										</a>
									</th:block>					
						</li>
				
				</ul>
			</div>
			<!-- End Content -->
		</div>


	</div>
	

	
	
</div>


    <!--/* Product compensation */-->				
	<th:block th:insert="~{inc/product-compensation.html}"></th:block>			