						


<section   class="row align-items-center">
	<aside class="col-lg-3 text-center">

				 
		   <th:block th:insert="~{inc/product-images.html}">	
	</aside>
	
	<div th:if="${product.ecoscore}" class="col-lg-5">
		<!--/* Best price */-->				
		<!--th:block th:insert="~{inc/product-price.html}"></th:block-->

		<div class="p-4">
						<div id="markerEcoscore" class="col-sm-12 col-md-12 col-lg-12 mb-3">
								<th:block th:insert="~{inc/product-ecoscore.html}"></th:block>
						</div>
		
		</div>

	</div>
	<div class="col-lg-4 p-3 border">
		<!--/* Product compensation */-->				
		<th:block th:insert="~{inc/product-compensation.html}"></th:block>
	</div>
</section>
