<div class="table-responsive table-caracteristics-fs mt-4">

	<div th:each="featureGroup, stat : ${features}">
		
		<table class="table">
			<th:block th:each="attr,stat : ${featureGroup.attributes}">
				<tr th:if="${stat.first}">
					<th colspan="2" class="h2  m-2 "><strong th:text="${featureGroup.name}"></strong></th>			
				</tr>
			
				<tr>
					<td class="align-middle" th:text="${attr.name}"></td>
					<td  class="align-middle" th:text="${attr.value}"></td>
				</tr>
			</th:block>
		</table>
	</div>
</div>

