<div class="table-responsive table-caracteristics-fs mt-4">

	<div th:each="featureGroup : ${verticalConfig.featureGroups}">
		
		<table class="table">
			<th:block th:each="feature,stat : ${featureGroup.featuresId}">
				<tr th:if="${stat.first}">
					<th colspan="2" class="h2  m-2 "><strong th:text="${featureGroup.name.i18n(#locale)}"></strong></th>			
				</tr>
			
				<tr th:with="attr = ${product.attributes.attributeByFeatureId(feature)}" >
						<th:block th:if="${attr}">
							<td class="align-middle" th:text="${attr.name}"></td>
							<td  class="align-middle" th:text="${attr.value}"></td>
						</th:block>
				</tr>
			</th:block>
		</table>
	</div>
</div>

