<div th:if="${product.offersCount} > 1" id="offres" class="card shadow my-3 p-4">

	<table id="offersTable" class="table table-striped" style="width: 100%">
		<thead>
			<tr>
				<th>Marchand</th>
				<th>Prix</th>
				<th>Mise à jour</th>
				<th>Etat</th>				
				<th>Compensation</th>
			</tr>
		</thead>
		<tbody>
		
			<tr th:each="offer : ${product.price.offers}">
				<td nowrap><img height="16" width="16" class="me-2" th:src="'/icon/'+${offer.datasourceName}" th:title="'icône ' + ${offer.shortDataSourceName()}">  <a rel=”nofollow” th:href="'/compensation/'+${offer.affiliationToken}"> <span th:text="${offer.datasourceName}"></span></a></td>
				<td><span th:text="${offer.price}"></span> <span th:text="#{'symbol.'+${offer.currency}}"></span></td>
				<td><span th:text="#{'condition.'+${offer.productState}}"></span> </td>
				<td><span th:text="${offer.ago(userLocale)}"></span></td>
				<td><span th:text="${#numbers.formatDecimal(offer.compensation, 1, 2)}"></span> <span th:text="#{'symbol.'+${offer.currency}}"> </span></td>				
			</tr>
		
		</tbody>

	</table>

</div>