<div th:if="${product.attributes.aggregatedAttributes.size()} > 0" class="card shadow mb-3 my-3">
	<div class="card-header"><h2 class="h5">Caractéristiques principales</h2></div>
	<div class="card-body">
		<table class="table table-hover">
			<tbody>
  				<tr th:each="item : ${product.attributes.aggregatedAttributes.values()}">



					<th scope="row" th:text="${item.name}"></th>
					<th:block th:switch="${item.name}">
		                <td th:case="'REPAIRABILITY_INDEX'"  th:insert="~{inc/attributes/class_energy.html}"> </td>
		                <td th:case="*" th:text="${item.value}"></td>
		            </th:block>
				</tr>
			</tbody>
		</table>
	</div>
</div>
