<form method="POST" action="/nudge">
	<div th:if="${product.bestPrice()}" class="row">
		<div class="col-8">
			<span class="h4 title">Contribution écologique</span>
			<div class="h5 title"><a href="/compensation-ecologique">ⓘ Gratuite pour vous</a></div>
		</div>

		<div class="col-4">
			<span class="h1 mb-0 text-gray mb-3">				
				<span id="countup-reversment" th:data-max="${product.bestPrice().compensation}"></span> 
				<span th:text="#{'symbol.'+${product.bestPrice().currency}}"></span>				
			</span>			
		</div>	
	</div>



	<label class="my-1 me-2" for="inlineFormCustomSelectPref">Reversés au nom de votre achat</label>
	<select name="nudge" width="100%" class="form-select mb-3" id="inlineFormCustomSelectPref" aria-label="Choisissez votre cause">
		<option value="nudger" selected="selected">Laisser nudger choisir !</option>
		<th:block th:each="org : ${config.reversementConfig.contributedOrganisations}">
    		<option th:value="${org.key}" th:text="${org.value.name}"></option>
		</th:block>
	</select>
			
	<a href="#markerPrices">
	
		
		   <div th:if="${newTrend.trend == 0}" class="text-center alert alert-info" role="alert">😶‍🌫️ Le prix neuf est stable depuis <span th:text="${newTrend.formatedDuration()}"></span></div>
		   <div th:if="${newTrend.trend == 1}"  class="text-center alert alert-tertiary" role="alert">🧐 Le prix neuf a augmenté de <b><span th:text="${#numbers.formatDecimal(newTrend.variation == null ? 0 : newTrend.variation, 0, 0)}"></span>€</b> depuis <span th:text="${newTrend.formatedDuration()}"></span> </div>
		   <div th:if="${newTrend.trend == -1}" class="text-center alert alert-success" role="alert">Le prix neuf a baissé de <b><span th:text="${#numbers.formatDecimal(newTrend.variation == null ? 0 : newTrend.variation, 0, 0)}"></span>€</b> depuis <span th:text="${newTrend.formatedDuration()}"></span> 😊</div>
		   <!--  
		   <span th:text="#{'trend.'+${product.price.trend}}"></span> 
		   -->
	</a>
			
			
<table th:id="offres" class="table table-striped" style="width: 100%">
	<thead>
		<tr>
			<th>Marchand</th>
			<th>Prix</th>
			<th>Etat</th>
		</tr>
	</thead>
	<tbody>
	
		<th:block  th:each="offer , stats: ${product.price.offers}">
			<tr th:data-token="${offer.affiliationToken}" th:data-compensation="${offer.compensation}"  th:class =" ${stats.first} ? 'selected' : ''">
				<td data-toggle="tooltip" data-placement="top" th:title="${offer.offerName}" nowrap>
					<img height="16" width="16" class="me-2" th:src="'/icon/'+${offer.datasourceName}" th:title="'icône ' + ${offer.shortDataSourceName()}">  
				
					<span>
						 <span th:text="${offer.datasourceName}"></span>
					</span>
				
				</td>
				<td><span th:text="${offer.price}"></span> <span th:text="#{'symbol.'+${offer.currency}}"></span></td>
				<td><span th:text="#{'condition.'+${offer.productState}}"></span></td>
			</tr>
		
		</th:block>
	
	</tbody>

</table>
			
			

	<input th:if="${product.bestPrice()}" type ="submit" style="width:100%" value="Nudger" formtarget="_blank" class="btn-lg btn-primary">

	<input  th:if="${product.bestPrice()}" type="hidden" id="token" name="token" th:value="${product.bestPrice().affiliationToken}">			
			
			

</form>