


<div id="ecoScore" class="card">


	<div class="">
		<nav>
			<div class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-home-tab"
					data-bs-toggle="tab" href="#nav-home" role="tab"
					aria-controls="nav-home" aria-selected="true">Eco-score</a>
					 <a
					class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab"
					href="#nav-profile" role="tab" aria-controls="nav-profile"
					aria-selected="false">Données et modes de calcul</a> 

			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade active show" id="nav-home" role="tabpanel"
				aria-labelledby="nav-home-tab">



				<div class="text-center">
		            <h2 class="">Ecoscore</h5>
		            <strong class="text-success">4.8</strong> / 5
		            <span class="border rounded p-1 bg-warning text-white"><i class="fas fa-star"></i></span>
		            <span class="border rounded p-1 bg-warning text-white"><i class="fas fa-star"></i></span>
		            <span class="border rounded p-1 bg-warning text-white"><i class="fas fa-star"></i></span>
		            <span class="border rounded p-1 bg-warning text-white"><i class="fas fa-star"></i></span>
		            <span class="border rounded p-1 bg-light text-dark"><i class="fas fa-star"></i></span>
				</div>
				
				<div th:each="score : ${product.getScores().values()}" class="progress-wrapper">
				
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-primary" th:text="${score.name}"></span>
						<div class="progress-percentage">
							<!-- 
							<span th:if="${score.relativValue}" th:text="${score.relativValue*20}+'%'"></span>
							 -->
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-primary" role="progressbar"
							 style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				
<!-- 				
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-secondary">Wordpress</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-secondary" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-tertiary">Laravel</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-tertiary" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-dark">Php</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-dark" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-success">Bootstrap</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-success" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-info">Angular</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-info" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>
				<div class="progress-wrapper">
					<div class="progress-info">
						<span class="h4 progress-tooltip bg-danger">Javascript</span>
						<div class="progress-percentage">
							<span>40%</span>
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-danger" role="progressbar"
							style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
							aria-valuemax="100"></div>
					</div>
				</div>


-->






			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel"
				aria-labelledby="nav-profile-tab">
				
				<div class ="">

						<table class="table table-hover">
							<tbody>
								<tr th:each="score : ${product.scores}">
									<th scope="row" th:text="${score.key}"></th>
									<td th:text="${score.value}"></td>
								</tr>
							</tbody>
						</table>		
				</div>		

		</div>
	</div>




	</div>
	
	
	
	
	
	
	
	
	
	
	
	
</div>