<div class="row align-items-center text-center">
	<aside class="col-md-3">
   		<img height="200" th:src="'/images/'+${product.gtin()}+'-cover.png'"	th:alt="${product.names.longestOfferName()}">
	</aside>

	<div class="col-md-9">
		<div class="info-main text-center">
			
			
			<img th:if="${hasBrandLogo}" th:src="'/images/marques/'+${product.brand()}+'.png'">
			
			<th:block th:if="${editor}">
				<input th:if="${product.names.manualName}" size="50" type="text" name="productTitle" id="productTitle" th:value="${product.names.manualName}">
				<input th:unless="${product.names.manualName}" size="50" type="text" name="productTitle" id="productTitle" th:value="${product.names.shortestOfferName()}">
			</th:block>
			
			<th:block th:unless="${editor}">
				<h1 th:if="${product.names.manualName}" th:text="${product.names.manualName}"></h1>	
				<h1 th:unless="${product.names.manualName}" th:text="${product.names.shortestOfferName()}"></h1>					
			</th:block>
					
			<th:block th:if="${null != product.bestPrice()}">
				<p class="text-left" th:if="${null != product.model() && null != product.brand()}" th:utext="#{product.description.withbrandandmodel(${product.model()}, ${product.brand()}, ${#numbers.formatDecimal(product.bestPrice().compensation, 1, 2)}, ${product.names.shortestOfferName()})}"></p>            
	            <p class="text-left" th:unless="${null != product.model() && null != product.brand()}" th:utext="#{product.description.withname(${product.names.shortestOfferName()}, ${#numbers.formatDecimal(product.bestPrice().compensation, 1, 2)})}"></p>            
			</th:block>
		</div>
	</div>
	

	
</div>