

    <section class="section">
		<div class="row text-center justify-content-center">
              <div class="col-md-8 mb-5">
                  <h3 class="display-3">Ressources associées </h3>
                  <p class="lead">Que en dev mode</p>
              </div>
        </div>	   
	   
			<div class="container container-semi-fluid">
                <div class="col-12 col-lg-12">
                    
               <div class="datatable">
					<table id="imagesTable" class="table">
						<thead>
							<th>group</th>
							<th>url</th>
							<th>resourceType</th>
							<th>mimeType</th>
							<th>evicted</th>
							<th>processed</th>
							<th>status</th>
							<th>size</th>
							<th>filename</th>
							<th>ext</th>
							<th>dimensions</th>
							<th>providerName</th>
							<th>timestamp</th>
							<th>cachekey</th>
							<th>md5</th>
							<th>tags</th>
						</thead>
			
						<th:block th:each="r : ${product.resources}">
							<th:block>
								<tr>
									<td class="align-middle"><span th:text="${r.group}"></span></td>
									<td class="align-middle"><a th:href="${r.url}">lien</a><br/><img th:src="${r.url}"> </td>					
									<td class="align-middle"><span th:text="${r.resourceType}"></span></td>
								    <td class="align-middle"><span th:text="${r.mimeType}"></span></td>	
									<td class="align-middle"><span th:text="${r.evicted}"></span></td>
									<td class="align-middle"><span th:text="${r.processed}"></span></td>
									<td class="align-middle"><span th:text="${r.status}"></span></td>
									<td class="align-middle"><span th:text="${r.fileSize}"></span></td>
									<td class="align-middle"><span th:text="${r.fileName}"></span></td>
									<td class="align-middle"><span th:text="${r.extension}"></span></td>
								    <td class="align-middle"><span th:text="${r.tags}"></span></td>									
									<td class="align-middle"><span th:text="${r.providerName}"></span></td>					
									<td class="align-middle"><span th:text="${r.timeStamp}"></span></td>					
									<td class="align-middle"><span th:text="${r.cacheKey}"></span></td>					
									<td class="align-middle"><span th:text="${r.md5}"></span></td>
									<td class="align-middle"><span th:text="${r.tags}"></span></td>					
								</tr>
							</th:block>
						</th:block>
					</table>                  
                </div>
            </div>	   
	   </section> 
	   
	   
	   
	   

