<div class="table-responsive table-caracteristics-fs" th:if="${product.attributes.aggregatedAttributes.size()} > 0">
	<table class="table">
		<tr th:if="${product.brand()}">
			<td class="align-middle">Marque</td>
			<td class="align-middle">
				<img height="35" th:if="${hasBrandLogo}" th:src="'/images/marques/'+${product.brand()}+'.png'">
				<th:block th:unless="${hasBrandLogo}" class="lead" th:text="${product.brand()}"></th:block>
			</td>
		</tr>

		<th:block th:each="item, stat : ${product.alternativeBrands}">
			<tr th:if="${stat.first}">
				<td class="align-middle" th:rowspan="${product.alternativeBrands.size()}">Aussi référencé comme</td>
				<td class="align-middle" th:text="${item}"></td>
			</tr>
			<tr th:unless="${stat.first}">
				<td class="align-middle" th:text="${item}"></td>
				<td class="align-middle" th:text="${item}"></td>
			</tr>
		</th:block>	

		<tr th:if="${product.model()}">
			<td class="align-middle">Modèle</td>
			<td class="align-middle" th:text="${product.model()}"></td>
		</tr>

		<th:block th:each="item, stat : ${product.alternativeIds}">
			<tr th:if="${stat.first}">
				<td class="align-middle" th:rowspan="${product.alternativeIds.size()}">Autres noms</td>
				<td class="align-middle" th:text="${item}"></td>
			</tr>
			<tr th:unless="${stat.first}">
				<td class="align-middle" th:text="${item}"></td>
				<td class="align-middle" th:text="${item}"></td>
			</tr>
		</th:block>
		
		<tr>
			<td class="align-middle">Référencé depuis</td>
			<td class="align-middle" th:text="${product.creationDate(userLocale)}"></td>
		</tr>

		<tr>
			<td class="align-middle">Mise à jour</td>
			<td class="align-middle" th:text="${product.ago(userLocale)}"></td>
		</tr>


		<tr>
			<td class="align-middle" th:text="${product.gtinInfos.upcType}"></td>
			<td class="align-middle"> 	
				<img height="35" class="mlr-3" th:title="${product.gtin()}" th:src="'/images/'+${product.gtin()}+'-gtin.png'" th:alt="${helper.texts.title} +' gtin : ' + ${product.gtin()}">
				<span th:text="${product.gtin()}"></span>
			</td>
		</tr>
		
		
			<tr th:if="${product.pdfs().size()>0}">
				<td colspan="2" class="h2  m-2 "><strong>Documentation</strong></td>					
			</tr>
			
			<tr th:each="item,stat : ${product.pdfs()}">
			
				<td class="align-middle" th:text="${item.bestNameFromTag()}"></td>				
				<td class="align-middle">
					<span class="fa-solid fa-circle-info me-2"></span>
					<a target="_blank" th:href="${item.path()}"> Fichier PDF (<span th:text="${item.humanReadableSize()}"></span>)</a>
				</td>
				
			

			</tr>
			
			
			
	</table>
</div>