<div class="card accordion" id="accordionFilter">


	<!-- The eco-score -->	
	<div class="accordion-item">
		  <h2 class="accordion-header  border-bottom border-2" id="headingEcoscore">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEcoscore" aria-expanded="false" aria-controls="collapseEcoscore">
				<span class="fas fa-question-circle me-2"></span>
				Impact écologique
			</button>
		  </h2>
		  <div id="collapseEcoscore" class="accordion-collapse collapse" aria-labelledby="headingEcoscore" data-bs-parent="#accordionFilter">
			<div class="accordion-body">
	
			  <!-- Range slider container -->							
				<div class="input-slider-range-container mx-3 mt-5" id="slider-ecoscore" data-range-value-min="0" data-range-value-max="5">
					<!-- Range slider values -->
					<div class="row d-none">
						<div class="col-6">
							<span class="range-slider-value value-low" data-range-value-low="0" ></span>
						</div>
						<div class="col-6 text-right">
							<span class="range-slider-value value-high" data-range-value-high="5"></span>
						</div>
				</div>
				<!-- End of range slider values -->
				
			</div>
		  </div>
		</div>
	</div>
	
	<!-- The item condition -->
	<div class="accordion-item">
	  <h2 class="accordion-header border-bottom border-2" id="headingCondition">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCondition" aria-expanded="true" aria-controls="collapseFour">
			<span class="fab fa-leanpub me-2"></span>
			Neuf ou occasion ?
		</button>
	  </h2>
	  <div id="collapseCondition" class="accordion-collapse collapse" aria-labelledby="headingCondition" data-bs-parent="#accordionFilter">
		<div class="accordion-body">

			<div class="row">
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" id="conditionNew">
						<label class="form-check-label" for="cartNeuf">
						  Neuf
						</label>
						<span th:text="${products.itemNew}" class="badge bg-gray badge-pill float-end"></span>
					</div>
				</div>
				
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" id="conditionOccasion">
						<label class="form-check-label" for="conditionOccasion">
						  Occasion
						</label>
						<span th:text="${products.itemOccasion}" class="badge bg-gray badge-pill float-end"></span>
					</div>
				</div>
				
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" id="conditionOccasion">
						<label class="form-check-label" for="cartOccasion">
						  Iconnu
						</label>
						<span th:text="${products.itemUnknown}" class="badge bg-gray badge-pill float-end"></span>
					</div>
				</div>
				
				
				</div>
			</div>			
	  </div>
	</div>
	
	<hr class="bg-light border-2 border-top border-light">


	<!-- The price condition -->
	<div class="accordion-item">
		  <h2 class="accordion-header border-bottom border-2" id="headingPrice">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice">
				<span class="fab fa-leanpub me-2"></span>
				Prix
			</button>
		  </h2>
		  <div id="collapsePrice" class="accordion-collapse collapse" aria-labelledby="headingPrice" data-bs-parent="#accordionFilter">
			<div class="accordion-body">
			  <!-- Range slider container -->							
				<div class="input-slider-range-container mx-3 mt-5" id="slider-price" th:attrappend="data-range-value-min=${products.minPrice}, data-range-value-max=${products.maxPrice}">
					<!-- Range slider values -->
					<div class="row d-none">
						<div class="col-6">
							<span class="range-slider-value value-low" th:attr= "data-range-value-low=${products.minPrice}" ></span>
						</div>
						<div class="col-6 text-right">
							<span class="range-slider-value value-high" th:attr= "data-range-value-high=${products.maxPrice}"></span>
						</div>
				</div>
				<!-- End of range slider values -->			  			  
			</div>
		  </div>
		</div>
	</div>
	
		<!-- The price condition -->
	<div class="accordion-item">
		  <h2 class="accordion-header border-bottom border-2" id="headingOffers">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOffers" aria-expanded="true" aria-controls="collapseOffers">
				<span class="fab fa-leanpub me-2"></span>
				Concurrence
			</button>
		  </h2>
		  <div id="collapseOffers" class="accordion-collapse collapse" aria-labelledby="headingOffers" data-bs-parent="#accordionFilter">
			<div class="accordion-body">
			  <!-- Range slider container -->							
				<div class="input-slider-range-container mx-3 mt-5" id="slider-offers" th:attrappend="data-range-value-min=${products.minOffers}, data-range-value-max=${products.maxOffers}">
					<!-- Range slider values -->
					<div class="row d-none">
						<div class="col-6">
							<span class="range-slider-value value-low" th:attr= "data-range-value-low=${products.minOffers}" > ></span>
						</div>
						<div class="col-6 text-right">
							<span class="range-slider-value value-high" th:attr= "data-range-value-high=${products.maxOffers}" ></span>
						</div>
				</div>
				<!-- End of range slider values -->			  			  
			</div>
		  </div>
		</div>
	</div>
	

	
	<hr class="bg-light border-2 border-top border-light">
	
	
	
	
	
	
	
	<hr class="bg-light border-2 border-top border-light">
		
	<div class="accordion-item">
	  <h2 class="accordion-header  border-bottom border-2" id="headingBrand">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrand" aria-expanded="false" aria-controls="headingBrand">
			<span class="fas fa-microphone-alt me-2"></span>
			Marque
		</button>
	  </h2>
	  <div id="collapseBrand" class="accordion-collapse collapse" aria-labelledby="headingBrand" data-bs-parent="#accordionFilter">
		<div class="accordion-body">
			<!-- Checkboxes -->
			<div class="row">
				<div class="col-12">
					<div th:each="brand : ${products.brands}" class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" th:id="'brand-'+${brand.key}">
						<label  th:text="${brand.key}" class="form-check-label" th:for="'brand-'+${brand.key}"></label>
						<span  th:text="${brand.value}" class="badge bg-gray badge-pill float-end"></span>
					</div>
				</div>
				
			</div>
			<!-- End checkbox -->

			</div>
	  </div>
	</div>
</div>

            
            