<table id="tableProducts" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>Offres</th>
                <th>Origine</th>                                
                <th>Eco-score</th>
                <th>Compensation</th>
                
                <th:block th:each="filter : ${products.customFilters}">
	                <th th:text="${filter.key.name.get(siteLanguage)}"></th>            
                </th:block>
                
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${products.data}" >
               
               
                <td th:if="${p.model()}"><a th:text="${p.model()}" th:href="'/'+${verticalPath}+ '/'+${p.names.name}"></a></td>
                <td th:unless="${p.model()}"><a th:text="${p.bestName()}" th:href="'/'+${verticalPath}+ '/'+${p.names.name}"></a></td>
               
               
               
                <td th:text="${p.brand()}"></td>
                <td th:text="${p.bestPrice.price}"></td>
                <td th:text="${p.offersCount}"></td>
                <td th:text="${p.gtinInfos.country}"></td>                
                
                <td></td>
                <td th:text="${#numbers.formatDecimal(p.bestPrice.compensation, 1, 2)}"></td>
				
                <th:block th:each="filter : ${products.customFilters}">
	                <td th:if="${p.attributes.aggregatedAttributes.get(filter.key.key)}" th:text="${p.attributes.aggregatedAttributes.get(filter.key.key).value }"></td>            
	                <td th:unless="${p.attributes.aggregatedAttributes.get(filter.key.key)}"></td>            

                </th:block>

            </tr>
 
        </tbody>

    </table>