<div class="accordion-item">
		  <h2 class="accordion-header  border-bottom border-2" th:id="'heading'+${id}">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapse'+${id}, aria-controls='collapse'+${id}" aria-expanded="false">
				<span th:if="${icon}" class="fas me-2" th:classappend="${icon}"></span>
				<span th:unless="${icon}" class="fas me-2 fa-question-circle"></span>
				<th:block th:text="${title}"></th:block>
			</button>
		  </h2>
		  <div th:id="'collapse'+${id}" class="accordion-collapse collapse" th:attr="aria-labelledby='heading'+${id}" data-bs-parent="#accordionFilter">
			<div class="accordion-body">
			   
			   <div th:if="${label}" th:text="${label}" class="mb-6 alert" th:classappend="${labelType}" role="alert"></div>
	                
			  <!--/* Range slider container */-->							
				<div class="input-slider-range-container mx-3 mt-5" th:id="'slider-'+${id}" th:attr="data-range-value-min=${min},data-range-value-max=${max}">
					<!-- Range slider values -->
					<div class="row d-none">
						<div class="col-6">
							<span class="range-slider-value value-low" th:attr="data-range-value-low=${min}" ></span>
						</div>
						<div class="col-6 text-right">
							<span class="range-slider-value value-high" th:attr="data-range-value-high=${max}"></span>
						</div>
				</div>
				<!--/* End of range slider values */-->				
			</div>
		  </div>
		</div>
</div>