<div class="card accordion" id="accordionExample2">

	<div class="accordion-item">
	  <h2 class="accordion-header border-bottom border-2" id="headingType">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseType" aria-expanded="true" aria-controls="collapseFour">
			<span class="fab fa-leanpub me-2"></span>
			Type
		</button>
	  </h2>
	  <div id="collapseType" class="accordion-collapse collapse show" aria-labelledby="headingType" data-bs-parent="#accordionExample2">
		<div class="accordion-body">

			<div class="row">
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartNeuf">
						<label class="form-check-label" for="cartNeuf">
						  Neuf
						</label>
						<span class="badge bg-gray badge-pill float-end">25</span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartOccasion">
						<label class="form-check-label" for="cartOccasion">
						  Occasion
						</label>
						<span class="badge bg-gray badge-pill float-end">48</span>
					</div>
				</div>
				
				</div>
			</div>
			
	  </div>
	</div>
	



	<div class="accordion-item">
	  <h2 class="accordion-header border-bottom border-2" id="headingFour">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
			<span class="fab fa-leanpub me-2"></span>
			Prix
		</button>
	  </h2>
	  <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample2">
		<div class="accordion-body">
		  <!-- Range slider container -->							
			<div class="input-slider-range-container mx-3 mt-5" id="slider-score" data-range-value-min="0" data-range-value-max="5">
				<!-- Range slider values -->
				<div class="row d-none">
					<div class="col-6">
						<span class="range-slider-value value-low" data-range-value-low="0" ></span>
					</div>
					<div class="col-6 text-right">
						<span class="range-slider-value value-high" data-range-value-high="5"></span>
					</div>
			</div>
			<!-- End of range slider values -->
		  
		  
		</div>
	  </div>
	</div>
	
	
	
	
	
	
	
	<div class="accordion-item">
	  <h2 class="accordion-header  border-bottom border-2" id="headingFive">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			<span class="fas fa-question-circle me-2"></span>
			Impact écologique
		</button>
	  </h2>
	  <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample2">
		<div class="accordion-body">

		  <!-- Range slider container -->							
			<div class="input-slider-range-container mx-3 mt-5" id="slider-score" data-range-value-min="0" data-range-value-max="5">
				<!-- Range slider values -->
				<div class="row d-none">
					<div class="col-6">
						<span class="range-slider-value value-low" data-range-value-low="0" ></span>
					</div>
					<div class="col-6 text-right">
						<span class="range-slider-value value-high" data-range-value-high="5"></span>
					</div>
			</div>
			<!-- End of range slider values -->
			
		</div>
	  </div>
	</div>
	<div class="accordion-item">
	  <h2 class="accordion-header  border-bottom border-2" id="headingSix">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
			<span class="fas fa-microphone-alt me-2"></span>
			Marque
		</button>
	  </h2>
	  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample2">
		<div class="accordion-body">
			<!-- Checkboxes -->
			<div class="row">
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartCheck6">
						<label class="form-check-label" for="cartCheck6">
						  All Products
						</label>
						<span class="badge bg-gray badge-pill float-end">123</span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartCheck7">
						<label class="form-check-label" for="cartCheck7">
						  Headphones
						</label>
						<span class="badge bg-gray badge-pill float-end">123</span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartCheck8">
						<label class="form-check-label" for="cartCheck8">
						  Speakers
						</label>
						<span class="badge bg-gray badge-pill float-end">123</span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartCheck9">
						<label class="form-check-label" for="cartCheck9">
						  Mouse
						</label>
						<span class="badge bg-gray badge-pill float-end">123</span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-check mb-1">
						<input class="form-check-input" type="checkbox" value="" id="cartCheck10">
						<label class="form-check-label" for="cartCheck10">
						  Stands
						</label>
						<span class="badge bg-gray badge-pill float-end">123</span>
					</div>
				</div>
			</div>
			<!-- End checkbox -->

				</div>
			  </div>
			</div>
		</div>
	</div>
</div>	
            
            