<div class="card accordion" id="ecoAccordionFilter" th:with="accordionId=ecoAccordionFilter">

		<!-- The num offers condition 
		
		TODO : Min / max
	                   min=${products.numericFilters.get('CLASSE_ENERGY').getMinValue},
	                   max=${products.numericFilters.CLASSE_ENERGY.maxValue}">
		

	<th:block th:with="title='Ecoscore',
	                   id='scores.ECOSCORE.relativValue',
					   labelType='alert-success',	
					   icon='fa-cart-plus',                   

	                   min=0,
	                   max=5">

		<th:block th:insert="inc/vertical-filter-item-numeric.html"></th:block>
	</th:block>	
		
		-->
	
	
	<th:block th:with="title='Classe énergétique',
	                   id='scores.CLASSE_ENERGY.relativValue',
					   labelType='alert-success',	
					   icon='fa-cart-plus',                   

	                   min=0,
	                   max=5">
		<th:block th:insert="inc/vertical-filter-item-numeric.html"></th:block>
	</th:block>	
	                   
	                   
	<th:block th:with="title='Réparabilité',
	                   id='scores.REPAIRABILITY_INDEX.relativValue',
					   labelType='alert-success',	
					   icon='fa-cart-plus',                   

	                   min=0,
	                   max=5">
		<th:block th:insert="inc/vertical-filter-item-numeric.html"></th:block>
	</th:block>	
	
		
	<!-- The item condition -->
	<th:block th:with="id='condition',
					   title='Neuf ou occasion ?',
   					   icon='fa-handshake',  
					   label='Les produits d\'occasions coûtent moins cher et réduisent considérablement l\'impact écologique de votre achat !',
					   labelType='alert-success',		
					   visibleSection=10,	   
					   terms=${products.conditions}">
		<th:block th:insert="inc/vertical-filter-item-terms.html"></th:block>
	</th:block>	
	
	<!-- The originating countries -->
	<th:block th:with="id='countries',
					   title='Origine du produit',
					   icon='fa-flag',  					   
					   label='L\'origine du produit est indiqué par le code barre. Ce n\'est pas une garantie sur le lieu de fabrication mais cela peut tout de même fournir une bonne indication.',
					   labelType='alert-success',
					   visibleSection=10,				   
					   terms=${products.countries},
					   termsLineWidget='vertical-filter-item-term-country'
					   
					   ">
		<th:block th:insert="inc/vertical-filter-item-terms.html"></th:block>
	</th:block>	
	
	
</div>

            
            