<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>Nos derniers articles à découvrir | Nudger</title>
	<meta name="description" content="Découvrez la liste des derniers articles de Nudger sur cette page.">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{search.title}">
	<meta property="og:description" th:content="#{search.meta.description}">
	<meta property="og:image"  th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{search.title}">
	<meta name="twitter:description" th:content="#{search.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<th:block th:insert="~{inc/navbar-non-product.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>	
		



        <!-- Hero -->
        <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 text-center">
                        <h1 class="display-2 text-white mb-3">Nos articles à découvrir</h1>
                        <p class="lead">                        	                       
                        	<th:block th:with="path='TEAM/header/'">
                        		<th:block th:insert="~{inc/wiki.html}"></th:block>
                        	</th:block>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row mb-5">
                    <div class="row">
    <div class="col-12 col-sm-10 col-xl-6 mb-5 mb-lg-0">
        <div class="card text-center border-light">
            <div class="card-header">
                <span class="card-text small"><i class="far fa-calendar-alt mr-2"></i> Septembre 2023</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Comment trouver un produit responsable ?</h5>
                <p class="card-text">Vous voulez découvrir comment trouver un produit responsable sur le net ? Nudger vous dit tout.</p>
                <a href="https://nudger.fr/comment-trouver-produit-responsable" class="btn btn-primary btn-sm">En savoir plus</a>
            </div>
            <div class="card-footer">
                <a href="./profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                    <img class="avatar-sm mr-2 img-fluid rounded-circle" src="../../assets/img/team/thomas.jpeg" alt="avatar"> Thomas Vandewalle
                </a>
            </div>
        </div>
    </div>
	    <div class="col-12 col-sm-10 col-xl-6 mb-5 mb-lg-0">
        <div class="card text-center border-light">
            <div class="card-header">
                <span class="card-text small"><i class="far fa-calendar-alt mr-2"></i> Septembre 2023</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Qu'est-ce que l'indice de réparabilité ?</h5>
                <p class="card-text">Nudger vous présente l'indice de réparabilité et ses implications.</p>
                <a href="https://nudger.fr/qu-est-ce-indice-reparabilite" class="btn btn-primary btn-sm">En savoir plus</a>
            </div>
            <div class="card-footer">
                <a href="./profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                    <img class="avatar-sm mr-2 img-fluid rounded-circle" src="../../assets/img/team/thomas.jpeg" alt="avatar"> Thomas Vandewalle
                </a>
            </div>
        </div>
    </div>
	 <div class="col-12 col-sm-10 col-xl-6 mb-5 mb-lg-0">
        <div class="card text-center border-light">
            <div class="card-header">
                <span class="card-text small"><i class="far fa-calendar-alt mr-2"></i> Septembre 2023</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Shopping responsable en ligne</h5>
                <p class="card-text">Vous voulez savoir comment faire son shopping en ligne de manière responsable ? Toutes les infos ici !</p>
                <a href="https://nudger.fr/shopping-responsable-en-ligne" class="btn btn-primary btn-sm">En savoir plus</a>
            </div>
            <div class="card-footer">
                <a href="./profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                    <img class="avatar-sm mr-2 img-fluid rounded-circle" src="../../assets/img/team/thomas.jpeg" alt="avatar"> Thomas Vandewalle
                </a>
            </div>
        </div>
    </div>
	<div class="col-12 col-sm-10 col-xl-6 mb-5 mb-lg-0">
        <div class="card text-center border-light">
            <div class="card-header">
                <span class="card-text small"><i class="far fa-calendar-alt mr-2"></i> Septembre 2023</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Comment valoriser ses produits auprès des clients ?</h5>
                <p class="card-text">Professionnels, apprenez à lire et utiliser l'éco-score comme un pro pour élargir votre clientèle.</p>
                <a href="https://nudger.fr/comment-valoriser-produits-clients" class="btn btn-primary btn-sm">En savoir plus</a>
            </div>
            <div class="card-footer">
                <a href="./profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                    <img class="avatar-sm mr-2 img-fluid rounded-circle" src="../../assets/img/team/thomas.jpeg" alt="avatar"> Thomas Vandewalle
                </a>
            </div>
        </div>
    </div>
	<div class="col-12 col-sm-10 col-xl-6 mb-5 mb-lg-0">
        <div class="card text-center border-light">
            <div class="card-header">
                <span class="card-text small"><i class="far fa-calendar-alt mr-2"></i> Septembre 2023</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Comment cibler les consommateurs responsables ?</h5>
                <p class="card-text">Pour élargir votre audience, vous pouvez cibler les consommateurs responsables en sélectionnant les bons produits. </p>
                <a href="https://nudger.fr/comment-cibler-consommateurs-responsables" class="btn btn-primary btn-sm">En savoir plus</a>
            </div>
            <div class="card-footer">
                <a href="./profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
                    <img class="avatar-sm mr-2 img-fluid rounded-circle" src="../../assets/img/team/thomas.jpeg" alt="avatar"> Thomas Vandewalle
                </a>
            </div>
        </div>
    </div>
</div>
                    
                    
                    
                </div>
            </div>
        </section>
        <section class="section bg-gray-200">
            <div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2 class="h1">Interesé(e) par ce projet ?</h2>
                        <p class="lead py-4 text-gray">Si vous souhaitez participer à l'aventure, de quelque manière que ce soit : </p>
                        <a href="/contact" class="btn btn-lg btn-secondary animate-up-2">Nous contacter</a>
                    </div>
                </div>
            </div>  
        </section>













      

    </main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
</body>

</html>
