
server:
  port: ${SERVER_PORT:8086}
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    min-response-size: 1024
  http2:
    enabled: true
  forward-headers-strategy: NATIVE

    
########################
# Logging configuration
########################
logging: 
    level:
      org.apache.fontbox.ttf.PostScriptTable: ERROR
    file:   
      max-history: 5      
      max-size: 200MB      
      

aggregationLogLevel: warn


management:
  health:
    diskspace:
      threshold: 100GB  
  endpoints:
    web:
      exposure:
        include:
          - "*"          
  endpoint:
    health:      
      enabled: true
      show-details: always
   
spring:
  profiles:
    default: local
  docker:
    compose:
      enabled: true
      file: ../docker-compose.yml
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1
  jackson:
    default-property-inclusion: non-empty
  application:
    name: open4goods-api
  threads:
    virtual:
      enabled: true
  ai:
    openai:
      api-key: ${gen-ai-config.openai-api-key}
      chat:
        options:
          model: ${OPENAI_MODEL:gpt-4o-mini}
          temperature: 1.0
#          response-format:
#            type: JSON_OBJECT
    vertex:
      ai:
        gemini:
          project-id: ${gen-ai-config.vertex-project-id}
          location: ${gen-ai-config.vertex-location}
          api-key: ${gen-ai-config.vertex-api-key}

springdoc:
  swagger-ui:
    disable-swagger-default-url: true

genAiPauseDurationMs: 100

remote-file-caching:
  connection-timeout: 30000
  read-timeout: 30000

google-taxonomy:
  fr: https://www.google.com/basepages/producttype/taxonomy-with-ids.fr-FR.txt
  en: https://www.google.com/basepages/producttype/taxonomy-with-ids.en-US.txt


