<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" id="mantrasDropdown" aria-expanded="false" data-bs-toggle="dropdown">Nos mantras <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
		<div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="mantrasDropdown">
				<ul class="list-style-none">
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/ecoscore">Une information claire : l'eco-score</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/compensation-ecologique">Compensation environnementale</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/opendata">Opensource, opendata et numérique responsable</a></li>
				</ul>  
				
				<h6 class="d-block mb-3 text-primary">User centric</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" th:href="'/feedback/idea?url='+${url}">Une idée ?</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" th:href="'/feedback/issue?url='+${url}">Un bug ?</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/team.html">Nous contacter ?</a></li>
                                </ul>
                                
                                               
		</div>
	</li>
</ul>