<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
	
	<li class="nav-item ">
		<a href="/blog" class="nav-link">Blog</a>		
	</li>
	 
	
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" id="feedbackDropdown" aria-expanded="false" data-bs-toggle="dropdown">Feedback <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
		<div class="dropdown-menu  px-0 py-2 p-lg-4" aria-labelledby="feedbackDropdown">
              <ul class="list-style-none mb-4">
                  <li class="mb-2 megamenu-item"><a rel="nofollow" class="megamenu-link" th:href="'/feedback/idea?url='+${url}">Une idée ?</a></li>
                  <li class="mb-2 megamenu-item"><a rel="nofollow" class="megamenu-link" th:href="'/feedback/issue?url='+${url}">Un bug ?</a></li>
                  <li class="mb-2 megamenu-item"><a class="megamenu-link" href="/contact">Nous contacter</a></li>
              </ul>
		</div>
	</li>
	
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" id="mantrasDropdown" aria-expanded="false" data-bs-toggle="dropdown">Nos valeurs <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
		<div class="dropdown-menu  px-0 py-2 p-lg-4" aria-labelledby="mantrasDropdown">
				<ul class="list-style-none">
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/ecoscore">L'eco-score</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/compensation-ecologique">La compensation environnementale</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/modele-ouvert">Modèle ouvert</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/modele-ouvert">Numérique responsable</a></li>
				</ul>  
		</div>
	</li>

	
	
</ul>