<nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-soft">
    <div class="container-fluid  position-relative">
        <a class="navbar-brand me-lg-5" href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>

        <div class="navbar-collapse collapse me-auto" id="navbar_global">
	 		<!--/* Navbar mantras*/-->
			<th:block th:insert="~{inc/navbar/navbar-logo.html}"></th:block>
			
			<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
              
               <li class="nav-item ">
                	<span> » </span>    
                </li>
                
                <li class="nav-item ">
                    <a th:href="'/'+${verticalConfig.i18n(siteLocale).verticalHomeUrl}" class="nav-link" th:text="${verticalConfig.i18n(siteLocale).verticalHomeTitle}"> <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    
                </li>
                
                <li class="nav-item ">
                	<span> » </span>    
                </li>
                
                
                
                
                <li class="nav-item dropdown">
                    <a th:href="${url}" th:text="${product.brandAndModel()}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="productDropdown" aria-expanded="false"> <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="productDropdown">
                        <div class="row">
                            <div class="">
			                          <ul class="list-style-none mb-4">
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerEcoscore">Ecoscore et compensation environnementale</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerInfosProduits">Informations produit</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerPrices">Prix neufs et occasions</a></li>
			                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="#markerCaracteristiques">Caracteristiques techniques</a></li>
			                          </ul>

                            </div>
                        </div>
                    </div>
                </li>
                
                
                
                

            </ul>
		</div>

 
 		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-mantras.html}"></th:block>
        

		<!--/* Navbar search*/-->
		<th:block th:insert="~{inc/navbar/navbar-search.html}"></th:block> 
 
 		<!--/* Navbar user*/-->
		<th:block th:insert="~{inc/navbar/navbar-user.html}"></th:block>  
    </div>
</nav>