<nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-soft">
    <div class="container container-semi-fluid position-relative">
        <a class="navbar-brand me-lg-5" href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>
        <div class="navbar-collapse collapse me-auto" id="navbar_global">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>
                    </div>
                    <div class="col-6 collapse-close">
                        <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="verticalpagedropdown" aria-expanded="false" data-bs-toggle="dropdown" th:text="${config.i18n(siteLanguage).getVerticalHomeTitle().toLowerCase()}"> <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="verticalpagedropdown">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <ul class="list-style-none mb-4">
                                    
                                    <th:block th:each="v : ${verticals}">
	                                    <li  class="mb-2 megamenu-item"><a class="megamenu-link" th:href="${v.i18n(siteLanguage).getVerticalHomeUrl()}" th:text="${v.i18n(siteLanguage).getVerticalHomeTitle()}"></a></li>
                                    </th:block>
                                </ul>
                               
                            </div>
                            
                        </div>
                    </div>
                </li>
                
                
            </ul>
        </div>

 
 		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-mantras.html}"></th:block>
        

		<!--/* Navbar user*/-->
		<th:block th:insert="~{inc/navbar/navbar-user.html}"></th:block>  

		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-search.html}"></th:block> 

    </div>
</nav>