<nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-soft">
    <div class="container container-semi-fluid position-relative">
        <a class="navbar-brand me-lg-5" href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>
        <div class="navbar-collapse collapse me-auto" id="navbar_global">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>
                    </div>
                    <div class="col-6 collapse-close">
                        <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown" th:text="${vertical}"> <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
                    <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                        <div class="row">
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">TV / Home Cinema</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="/televiseurs">Téléviseurs</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/pricing.html">Pricing</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/team.html">Team</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/services.html">Services</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/profile.html">Profile</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/contact.html">Contact</a></li>
                                </ul>
                                <h6 class="d-block text-primary">Legal</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/legal.html">Legal center</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/terms.html">Terms &amp; agreement</a></li>
                                </ul>
                                <h6 class="d-block text-primary">Career</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/careers.html">Careers</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/career-single.html">Career Single</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">Landings</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-app.html">App</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-crypto.html">Crypto</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/landing-freelancer.html">Freelancer</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Support</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/support.html">Support center</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/support-topic.html">Support topic</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Blog</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blog.html">Blog</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blog-post.html">Blog post</a></li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-4">
                                <h6 class="d-block mb-3 text-primary">User</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/sign-in.html">Sign in</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/sign-up.html">Sign up</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/forgot-password.html">Forgot password</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/reset-password.html">Reset password</a></li>
                                </ul>
                                <h6 class="d-block mb-3 text-primary">Special</h6>
                                <ul class="list-style-none mb-4">
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/404.html">404 Not Found</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/500.html">500 Server Error</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/maintenance.html">Maintenance</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/coming-soon.html">Coming soon</a></li>
                                    <li class="mb-2 megamenu-item"><a class="megamenu-link" href="./html/pages/blank.html">Blank page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
                
            </ul>
        </div>

 
 		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-mantras.html}"></th:block>
        

		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-search.html}"></th:block> 

		<!--/* Navbar user*/-->
		<th:block th:insert="~{inc/navbar/navbar-user.html}"></th:block>  
    </div>
</nav>