<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
	
	<li class="nav-item ">
        <a href="/" class="nav-link">Accueil</a>       
    </li>
    
	<li class="nav-item dropdown">
		<a href="#" class="nav-link dropdown-toggle" id="mantrasDropdown" aria-expanded="false" data-bs-toggle="dropdown">Kézaco ? <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
		<div class="dropdown-menu  px-0 py-2 lg-4 p-lg-4" aria-labelledby="mantrasDropdown">
				<ul class="list-style-none">
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/ecoscore">L'eco-score Nudger</a></li>
					<li class="mb-2 megamenu-item"><a class="megamenu-link" href="/compensation-ecologique">La contribution environnementale</a></li>
				</ul>  
		</div>
	</li>

    <li class="nav-item ">
        <a href="/blog" class="nav-link">Blog</a>       
    </li>
    
        <li class="nav-item ">
        <a href="/contact" class="nav-link">Contact</a>       
    </li>
    	
</ul>