<nav class="navbar navbar-expand-lg navbar-transparent navbar-light navbar-theme-soft">
    <div class="container-fluid  position-relative">
        <a class="navbar-brand me-lg-5" href="/"><img height="35" src="/assets/img/nudger-logo-small.png"></a>

        <div class="navbar-collapse collapse me-auto" id="navbar_global">
	 		<!--/* Navbar mantras*/-->
			<th:block th:insert="~{inc/navbar/navbar-logo.html}"></th:block>
			
			<span> » </span>
			<span class="ms-2" > 
				<a th:href="${url}" th:text="#{'page.breadcrump.'+${page}}"></a> 
			</span>
		</div>

 
 		<!--/* Navbar mantras*/-->
		<th:block th:insert="~{inc/navbar/navbar-mantras.html}"></th:block>
        

		<!--/* Navbar search*/-->
		<th:block th:insert="~{inc/navbar/navbar-search.html}"></th:block> 
 
    </div>
</nav>