 <th:block th:if="${user}">
	<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
		<li class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle" id="adminDropdown" aria-expanded="false" data-bs-toggle="dropdown">Admin <span class="fas fa-angle-down nav-link-arrow ms-1"></span></a>
			<div class="dropdown-menu px-0 py-2 p-lg-4" aria-labelledby="adminDropdown">
					<ul class="list-style-none">
		                    <li class="ms-3" >Bonjour <b><span th:text="${user}"> </span></b></li>
	                        <!-- 
	                        <ul th:each="role : ${roles}" class="ms-3">
	                        	<li th:text="${role}" class="ms-3"></li>
	                        </ul> 
	                         -->
	                        <li class="ms-3" th:if="${product}"><a th:href="'/aiAssist?gtin='+${product.gtin}+'&r='+${url}">Génération des textes</a></li>                           
	    	                <li class="ms-3" th:if="${editLink}"><a target="_blank" th:href="${editLink}">Editer cette page sur le wiki</a></li>
							
							<li class="ms-3"><a th:href="'/index'+'?r='+ ${baseUrl} + ${url}">Indexation Google de cette page</a></li>                           
	    	                <li th:if="${vertical}" class="ms-3"><a th:href="'/index/'+${vertical}">Indexation Google de cette verticale</a></li>                           
	    	                
	    	                
	    	                
	    	                <li class="ms-3"><a th:href="'/flushCache?r='+${url}">Purger le cache</a></li>
	    	                <li class="ms-3"><a th:href="'/reloadConfigs?r='+${url}">Recharger les verticales</a></li>    	                
	    	                <li class="ms-3"><a href="/logout">Se déconnecter</a></li>
					</ul>                 
			</div>
		</li>
	</ul>
</th:block>
        