@use 'sass:map'

$font-family-primary: 'Hanken Grotesk', sans-serif
$font-family-signature: 'Hanken Grotesk', sans-serif

$font-weights: (
  regular: 400,
)

@mixin font-face($name, $weight, $style, $file-base)
  @font-face
    font-family: $name
    font-style: $style
    font-weight: $weight
    font-display: swap
    src: url('~/assets/fonts/HankenGrotesk/#{$file-base}.woff2') format('woff2'), url('~/assets/fonts/HankenGrotesk/#{$file-base}.woff') format('woff'), url('~/assets/fonts/HankenGrotesk/#{$file-base}.ttf') format('truetype')

@include font-face('Hanken Grotesk', map.get($font-weights, 'regular'), normal, 'HankenGrotesk-Regular')
@include font-face('Hanken Grotesk', map.get($font-weights, 'regular'), italic, 'HankenGrotesk-Italic')

:root
  --font-family-base: #{$font-family-primary}
  --font-family-signature: #{$font-family-signature}

.v-theme--light
  --font-family-base: #{$font-family-primary}

html, body
  font-family: var(--font-family-base)

.v-application
  font-family: var(--font-family-base) !important
