
<div class="card shadow border-gray-300 animate-up-3 p-0 h-100" th:id="'detail-'+${score.name}" th:with="worse = ${extrems.get(score.lowestScoreId)}, best = ${extrems.get(score.highestScoreId)}, currentScorePercent = ${score.on20 * 5}">
    <div class="card-header">
        <h3 id="impact-score-title" class="h6 py-0 my-0" th:text="${verticalConfig.availableImpactScoreCriterias.get(score.name).title.i18n(siteLanguage)}"></h3>
    </div>
    <div class="card-body p-4">
        <div class="d-flex align-items-end justify-content-center mt-3 text-gradiant text-gradiant_ecoscore">
            <b class="chiffre__xxl" th:text="${score.on20()}"></b>
            <span class="chiffre__xl">/20</span>
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <div class="badge bg-tertiary p-2">
                Compte pour <b><span th:text="${verticalConfig.ecoscorePercentOf(score.name)}">></span>%</b> dans la note totale
            </div>
        </div>

        <div class="row align-items-center text-start">
            <div class="col-12 col-md-4">
                <img th:if="${img}" th:src="${img}" th:alt="'Icône de performance pour ' + ${verticalConfig.availableImpactScoreCriterias.get(score.name).description.i18n(siteLanguage)}" loading="lazy" class="img-fluid">
            </div>
            <h3 class="col-12 col-md-8 h4">
                <span class="far fa-lightbulb"></span> Explications :
            </h3>
        </div>

        <div class="d-flex align-items-end flex-column">
            <section class="text-start">
                <ul class="list-group">
                    <li class="small list-group-item rounded-0 mb-0" th:if="${worse != null && worse.attributes.indexed.get(score.name) != null}" th:utext="#{${'score.' + score.name + '.explanation.worst'}(
                        ${verticalConfig.i18n(siteLanguage).getVerticalHomeTitle().toLowerCase()},
                        ${worse.attributes.indexed.get(score.name).value},
                        ${worse.scores.get(score.name).on20}
                        
                    )}"></li>

                    <li class="small list-group-item rounded-0 mb-0" th:if="${best != null && best.attributes.indexed.get(score.name) != null}"
                        th:utext="#{${'score.' + score.name + '.explanation.best'}(
                        ${verticalConfig.i18n(siteLanguage).getVerticalHomeTitle().toLowerCase()},
                        ${best.attributes.indexed.get(score.name).value},
                        ${best.scores.get(score.name).on20}
                    )}"></li>

                    <li class="small list-group-item rounded-0 mb-0" th:if="${product.attributes.indexed.get(score.name)}"
                        th:utext="#{${'score.' + score.name + '.explanation.current'}(
                        ${product.attributes.indexed.get(score.name).value},
                        ${score.on20},
                        ${product.bestName}
                    )}"></li>
                </ul>
            </section>

            <!-- Score Scale with Markers -->
            <!-- Section Title -->
            <div class="w-100 mt-auto">
                <h3 class="h4 my-3">Illustration</h3>

                <canvas class="intervalChart"
                    th:data-score="${score.name}"
                    th:data-current-score="${score.value}"
                    th:data-product-image="@{${product.coverImagePath}}"
                    th:data-product-label="${product.brandAndModel}"
                    th:id="'chart-impactscore-scores.'+${score.name}+'.value'"
                    style="height: 300px; width: 100%;">
                </canvas>
            </div>
        </div>
        <!-- Score Scale with Markers + Arrows 
        <div class="overflow-x-auto">
            <div class="position-relative mx-2 my-4" style="height: 160px; min-width: 400px;">

                <div class="gradient-scale position-absolute top-100 start-0 end-0 translate-middle-y rounded-pill"
                     style="height: 10px;"></div>

                <div class="position-absolute text-center" style="left: 0%;">

                    <a th:href="'/'+${verticalPath}+ '/'+${worse.url(siteLanguage)}">
                        <img th:src="@{${worse.coverImagePath}}" 
                             th:alt="'Pire produit : ' + ${worse.brandAndModel}"
                             loading="lazy"
                             class="img-fluid shadow"
                             style="width: 60px; height: 60px; object-fit: cover;">
                    </a>
                    <div class="small mt-1">
                        <a th:href="'/'+${verticalPath}+ '/'+${worse.url(siteLanguage)}" 
                           class="text-decoration-none">
                            <span th:text="${worse.brandAndModel}"></span>
                        </a>
                    </div>
                    <div class="triangle-up mx-auto" style="border-bottom-color: #dc3545; margin-bottom: 6px;"></div>
                </div>

                <div class="position-absolute text-center translate-middle-x"
                     th:style="'left:' + ${score.on20 * 5} + '%'">

                    <img th:src="@{${product.coverImagePath}}"
                         th:alt="'Produit actuel : ' + ${product.brandAndModel}"
                         loading="lazy"
                         class="img-fluid shadow"
                         style="width: 70px; height: 70px; object-fit: cover;">
                    <div class="fw-bold small mt-1">
                        Ce produit
                    </div>
                    <div class="triangle-up mx-auto" style="border-bottom-color: #ffc107; margin-bottom: 6px;"></div>
                </div>

                <div class="position-absolute text-center translate-middle-x" style="left: 100%;">

                    <a th:href="'/'+${verticalPath}+ '/'+${best.url(siteLanguage)}">
                        <img th:src="@{${best.coverImagePath}}"
                             th:alt="'Meilleur produit : ' + ${best.brandAndModel}"
                             loading="lazy"
                             class="img-fluid shadow"
                             style="width: 60px; height: 60px; object-fit: cover;">
                    </a>
                    <div class="small mt-1">
                        <a th:href="'/'+${verticalPath}+ '/'+${best.url(siteLanguage)}"
                           class="text-decoration-none">
                            <span th:text="${best.brandAndModel}"></span>
                        </a>
                    </div>
                    <div class="triangle-up mx-auto" style="border-bottom-color: #28a745; margin-bottom: 6px;"></div>
                </div>

            </div>
        </div>
        
        
        -->
    </div>
</div>