
<div class="card shadow border-gray-300 animate-up-3 p-0 h-100" th:id="'detail-'+${score.name}" th:with="worse = ${extrems.get(score.lowestScoreId)}, best = ${extrems.get(score.highestScoreId)}, currentScorePercent = ${score.on20 * 5}">
    <div class="card-header">
        <h3 id="impact-score-title" class="h6 py-0 my-0" th:text="${verticalConfig.availableImpactScoreCriterias.get(score.name).title.i18n(siteLanguage)}">
            <!-- Criterion Title -->
        </h3>
    </div>
    <div class="card-body p-4">
        <div class="d-flex align-items-end justify-content-center mt-3 text-gradiant text-gradiant_ecoscore">
            <b class="chiffre__xxl" th:text="${score.on20()}"></b>
            <span class="chiffre__xl">/20</span>
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <div class="badge bg-tertiary p-2">
                Compte pour <b><span th:text="${verticalConfig.ecoscorePercentOf(score.name)}"></span>%</b> dans la note totale
            </div>
        </div>
        
        <th:block th:if="${product.virtualScores().size()>0}">
	        <div class="row align-items-center text-start">
                <div class="col-12 col-md-4">
                    <img th:if="${img}" th:src="${img}" th:alt="'Icône de performance pour ' + ${verticalConfig.availableImpactScoreCriterias.get(score.name).description.i18n(siteLanguage)}" loading="lazy" class="img-fluid">
                </div>
                <h3 class="col-12 col-md-8 h4">
                    <span class="far fa-lightbulb"></span> Valeurs manquantes
                </h3>
            </div>
	        <div class="d-flex align-items-end flex-column">
                <section class="text-start mb-4">
                    <ul class="list-group">
                        <li class="small list-group-item rounded-0 mb-0">
                            Les valeurs suivantes sont manquantes. Le score moyen pour la catégorie a été appliqué et le score de qualité de donnée a été dégradé en conséquence.
                        </li>
                    </ul>
                </section>
                <div class="w-100 mt-auto">
                    <div class="table-responsive">
	                    <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" id="teacher2">Critère</th>
                                    <th scope="col" id="males2">Coef</th>
                                    <th scope="col" id="females2">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="score, stat : ${verticalConfig.ecoScoreDetails(product.virtualScores())}">
                                    <td class="text-start"><a th:href="'#detail-'+${score.name}"> <span th:text="${verticalConfig.availableImpactScoreCriterias.get(score.name).title.i18n(siteLanguage)}"></a></span></td>
                                    <td><span th:text="${verticalConfig.impactScoreConfig.criteriasPonderation.get(score.name)}"></span></td>
                                    <td><span th:text="${score.on20()}"></span>/20</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>  
	        </div>
        </th:block>
        
        <th:block th:unless="${product.virtualScores().size()>0}">
            <p>
                Toutes les données nécessaires au calcul de l'Impact Score du <span th:text="${product.bestName()}"></span> sont présentes ! 
            </p>
        </th:block>
    </div>
</div>