<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>La compensation environnementale | Nudger</title>
	<meta name="description" content="Nudger vous révèle ce qu'est la compensation environnementale et vous donne toutes les astuces pour la comprendre !">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{compensation.title}">
	<meta property="og:description" th:content="#{compensation.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{compensation.title}">
	<meta name="twitter:description" th:content="#{compensation.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    

	<!--/* Navbar */-->
	<th:block th:with="page = 'compensation'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>

        <!-- Hero -->
        <section class="section-header pb-5 pb-sm-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 text-center">
                        <div class="mb-4">
                            <a href="./blog.html" class="badge bg-success text-uppercase me-2 px-3">Seo</a>
                            <a href="#" class="badge bg-warning text-uppercase px-3">Marketing</a>
                        </div>
                        <h1 class="display-3 mb-4 px-lg-5" th:text="${post.title}"></h1>
                        <div class="post-meta"> 
                            <span class="fw-bold me-3" th:text="${post.author}"></span> 
                            <span class="post-date me-3" th:text="${post.created}"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
            <article class="container">
                <div class="row justify-content-center">
                    <div th:text="${post.body}" class="col-12 col-lg-8">                          </div>
                </div>
                <div class="row justify-content-sm-center align-items-center py-3 mt-3">
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-9 col-md-6">
                                <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                                <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white"  aria-label="twitter social link"><span class="fab fa-twitter"></span></button>
                                <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-facebook d-inline"  aria-label="facebook social link"><span class="fab fa-facebook-f"></span></button>
                                <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white"  aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                            </div>
                            <div class="col-3 col-md-6 text-right">
                                <span class="far fa-bookmark text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Bookmark story" data-original-title="Bookmark story"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="section section-md bg-white text-black pt-0 line-bottom-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div>
                            <label class="h5 mb-4" for="exampleFormControlTextarea1"><span class="badge badge-md bg-primary text-uppercase me-2">23</span> Comments</label>
                            <textarea class="form-control border border-gray-300-gray" id="exampleFormControlTextarea1" placeholder="Add your comment" rows="6" data-bind-characters-target="#charactersRemaining" maxlength="1000"></textarea>
                            <div class="d-flex justify-content-between mt-3">
                                <small class="fw-light text-dark"><span id="charactersRemaining">
                                        <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                    characters remaining</small>
                                <button class="btn btn-primary animate-up-2" >Send</button>
                            </div>
                            <div class="mt-5">
                                <div class="card bg-gray-200 border-gray-300 rounded p-4 mb-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <span class="font-small">
                                            <a href="#">
                                                <img class="avatar-sm img-fluid rounded-circle me-2"
                                                    src="../../assets/img/team/profile-picture-1.jpg" alt="avatar">
                                                <span class="fw-bold">John Doe</span>
                                        </a>
                                        <span class="ms-2">2 min ago</span>
                                        </span>
                                        <div>
                                            <button class="btn btn-link text-danger" aria-label="report button" >
                                                <span class="far fa-flag"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="m-0">I really like that the Pixel uses a lot of Bootstrap 4's classes to position elements across the website. I also like the fact that we can get a version of the code without Sass if needed. <br><br>                                                            When is the next product coming? :)</p>
                                    <div class="mt-4 mb-3 d-flex justify-content-between">
                                        <div>
                                            <span class="far fa-thumbs-up text-action text-success me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Like comment" data-original-title="Like comment"></span>
                                            <span class="far fa-thumbs-down text-action text-danger me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike comment" data-original-title="Dislike comment"></span>
                                            <span class="font-small fw-light">4 likes</span>
                                        </div>
                                        <a class="text-action fw-light font-small" data-bs-toggle="collapse" role="button" href="#replyContainer1" aria-expanded="false" aria-controls="replyContainer1"><span
                                                class="fas fa-reply me-2"></span> Reply</a>
                                    </div>
                                    <div class="collapse" id="replyContainer1">
                                        <label class="mb-4 d-none" for="exampleFormControlTextarea10">Replay</label>
                                        <textarea class="form-control border" id="exampleFormControlTextarea10" placeholder="Reply to John Doe" rows="6" data-bind-characters-target="#charactersRemainingReply" maxlength="1000"></textarea>
                                        <div class="d-flex justify-content-between mt-3">
                                            <small class="fw-light"><span id="charactersRemainingReply">
                                                    <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                                characters remaining</small>
                                            <button class="btn btn-primary btn-sm animate-up-2" >Send</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-gray-200 border-gray-300 rounded p-4 ms-5 mb-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <span class="font-small">
                                            <a href="#">
                                                <img class="avatar-sm img-fluid rounded-circle me-2"
                                                    src="../../assets/img/team/profile-picture-2.jpg" alt="Bonnie avatar">
                                                <span class="fw-bold">Bonnie Green</span>
                                        </a>
                                        <span class="ms-2">2 min ago</span>
                                        </span>
                                        <div>
                                            <button class="btn btn-link text-danger" aria-label="report button" >
                                                <span class="far fa-flag"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="m-0">Hi John Doe,<br><br>We're happy to hear you like our product. A new one will come soon enough!</p>
                                    <div class="mt-4 mb-3 d-flex justify-content-between">
                                        <div>
                                            <span class="far fa-thumbs-up text-action text-success me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Like comment" data-original-title="Like comment"></span>
                                            <span class="far fa-thumbs-down text-action text-danger me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike comment" data-original-title="Dislike comment"></span>
                                            <span class="font-small fw-light">2 likes</span>
                                        </div>
                                        <a class="text-action fw-light font-small" data-bs-toggle="collapse" role="button" href="#replyContainer2" aria-expanded="false" aria-controls="replyContainer2"><span
                                                class="fas fa-reply me-2"></span> Reply</a>
                                    </div>
                                    <div class="collapse" id="replyContainer2">
                                        <label class="mb-4 d-none" for="exampleFormControlTextarea11">Replay</label>
                                        <textarea class="form-control border" id="exampleFormControlTextarea11" placeholder="Reply to John Doe" rows="6" data-bind-characters-target="#charactersRemainingReply2" maxlength="1000"></textarea>
                                        <div class="d-flex justify-content-between mt-3">
                                            <small class="fw-light"><span id="charactersRemainingReply2">
                                                    <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                                characters remaining</small>
                                            <button class="btn btn-primary btn-sm animate-up-2" >Send</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-gray-200 border-gray-300 rounded p-4 mb-4">
                                    <div class="d-flex justify-content-between mb-4">
                                        <span class="font-small">
                                            <a href="#">
                                                <img class="avatar-sm img-fluid rounded-circle me-2" src="../../assets/img/team/profile-picture-3.jpg" alt="James avatar">
                                                <span class="fw-bold">James Curran</span>
                                            </a>
                                            <span class="ms-2">2 min ago</span>
                                        </span>
                                        <div>
                                            <button class="btn btn-link text-danger" aria-label="report button" >
                                                <span class="far fa-flag"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <p class="m-0">Hey there! We want to say that <span class="text-tertiary">you're
                                            awesome</span> and we think you'll build great websites! Why not use Pixel to make things easier?</p>
                                    <div class="mt-4 mb-3 d-flex justify-content-between">
                                        <div>
                                            <span class="far fa-thumbs-up text-action text-success me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Like comment" data-original-title="Like comment"></span>
                                            <span class="far fa-thumbs-down text-action text-danger me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike comment" data-original-title="Dislike comment"></span>
                                            <span class="font-small fw-light">4 likes</span>
                                        </div>
                                        <a class="text-action fw-light font-small" data-bs-toggle="collapse" role="button" href="#replyContainer3" aria-expanded="false" aria-controls="replyContainer3"><span
                                                class="fas fa-reply me-2"></span> Reply</a>
                                    </div>
                                    <div class="collapse" id="replyContainer3">
                                        <label class="mb-4 d-none" for="exampleFormControlTextarea12">Replay</label>
                                        <textarea class="form-control border" id="exampleFormControlTextarea12" placeholder="Reply to John Doe" rows="6" data-bind-characters-target="#charactersRemainingReply3" maxlength="1000"></textarea>
                                        <div class="d-flex justify-content-between mt-3">
                                            <small class="fw-light"><span id="charactersRemainingReply3">
                                                    <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                                characters remaining</small>
                                            <button class="btn btn-primary btn-sm animate-up-2" >Send</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="extraContent" style="display: none;">
                                    <div class="card bg-gray-200 border-gray-300 p-4 mb-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <span class="font-small">
                                                <a href="#">
                                                    <img class="avatar-sm img-fluid rounded-circle me-2"
                                                        src="../../assets/img/team/profile-picture-2.jpg" alt="Neil avatar">
                                                    <span class="fw-bold">Neil Sims</span>
                                            </a>
                                            <span class="ms-2">2 min ago</span>
                                            </span>
                                            <div>
                                                <button class="btn btn-link text-danger" aria-label="report button" >
                                                    <span class="far fa-flag"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="m-0">I really like that the Pixel uses a lot of Bootstrap 4's classes to position elements across the website. I also like the fact that we can get a version of the code without Sass if needed. <br><br>                                                                When is the next product coming? :)</p>
                                        <div class="mt-4 mb-3 d-flex justify-content-between">
                                            <div>
                                                <span class="far fa-thumbs-up text-action text-success me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Like comment" data-original-title="Like comment"></span>
                                                <span class="far fa-thumbs-down text-action text-danger me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike comment" data-original-title="Dislike comment"></span>
                                                <span class="font-small fw-light">4 likes</span>
                                            </div>
                                            <a class="text-action fw-light font-small" data-bs-toggle="collapse" role="button" href="#replyContainer4" aria-expanded="false" aria-controls="replyContainer4"><span
                                                    class="fas fa-reply me-2"></span> Reply</a>
                                        </div>
                                        <div class="collapse" id="replyContainer4">
                                            <label class="mb-4 d-none" for="exampleFormControlTextarea13">Replay</label>
                                            <textarea class="form-control border" id="exampleFormControlTextarea13" placeholder="Reply to John Doe" rows="6" data-bind-characters-target="#charactersRemainingReply4" maxlength="1000"></textarea>
                                            <div class="d-flex justify-content-between mt-3">
                                                <small class="fw-light"><span id="charactersRemainingReply4">
                                                        <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                                    characters remaining</small>
                                                <button class="btn btn-primary btn-sm animate-up-2" >Send</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card bg-gray-200 rounded border-gray-300 p-4 ms-5 mb-4">
                                        <div class="d-flex justify-content-between mb-4">
                                            <span class="font-small">
                                                <a href="#">
                                                    <img class="avatar-sm img-fluid rounded-circle me-2"
                                                        src="../../assets/img/team/profile-picture-5.jpg" alt="Jose avatar">
                                                    <span class="fw-bold">Jose Leos</span>
                                            </a>
                                            <span class="ms-2">2 min ago</span>
                                            </span>
                                            <div>
                                                <button class="btn btn-link text-danger" aria-label="report button" >
                                                    <span class="far fa-flag"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="m-0">Hi John Doe,<br><br>We're happy to hear you like our product. A new one will come soon enough!</p>
                                        <div class="mt-4 mb-3 d-flex justify-content-between">
                                            <div>
                                                <span class="far fa-thumbs-up text-action text-success me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Like comment" data-original-title="Like comment"></span>
                                                <span class="far fa-thumbs-down text-action text-danger me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Dislike comment" data-original-title="Dislike comment"></span>
                                                <span class="font-small fw-light">2 likes</span>
                                            </div>
                                            <a class="text-action fw-light font-small" data-bs-toggle="collapse" role="button" href="#replyContainer5" aria-expanded="false" aria-controls="replyContainer5"><span
                                                    class="fas fa-reply me-2"></span> Reply</a>
                                        </div>
                                        <div class="collapse" id="replyContainer5">
                                            <label class="mb-4 d-none" for="exampleFormControlTextarea14">Replay</label>
                                            <textarea class="form-control border" id="exampleFormControlTextarea14" placeholder="Reply to John Doe" rows="6" data-bind-characters-target="#charactersRemainingReply5" maxlength="1000"></textarea>
                                            <div class="d-flex justify-content-between mt-3">
                                                <small class="fw-light"><span id="charactersRemainingReply5">
                                                        <!-- this will be filled with 200 from the textarea's maxlength --></span>
                                                    characters remaining</small>
                                                <button class="btn btn-primary btn-sm animate-up-2" >Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 text-center">
                                    <button id="loadOnClick" class="btn btn-primary btn-loading-overlay me-2 mb-2" >
                                        <span class="spinner">
                                            <span class="spinner-border spinner-border-sm" role="status"
                                                aria-hidden="true"></span>
                                        </span>
                                        <span class="ms-1 btn-inner-text">Load more comments</span>
                                    </button>
                                    <p id="allLoadedText" style="display: none;">That's all, Sparky!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

   <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>



<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables-responsive/js/dataTables.responsive.min.js"></script>



<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>


</body>

</html>