<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="${post.title}"></title>
	<meta name="description" th:content="${post.summary}">
			
</head>

<body>
    

	<!--/* Navbar */-->
	<th:block th:with="page = ${post.title}" th:insert="~{inc/navbar/navbar-blog-post.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>

        <!-- Hero -->
        <section class="section-header pb-5 pb-sm-7 bg-primary text-white">
        	

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 text-center">
                        <div class="mb-4">
                        <h1 class="display-3 mb-4 px-lg-5" th:text="${post.title}"></h1>
                        <th:block th:each="item,stat : ${post.category}">
                            <a th:href="'/blog?tag='+${item}" class="badge bg-success text-uppercase me-2 px-3" th:text="${item}"></a>                        
                        </th:block>
                        </div>
                        <div class="post-meta">     
                                <div class="row">
                                    <span class="h6 text-muted small fw-normal mb-0 ms-auto">
                                        <time class="h6 small mb-0" th:datetime="${post.created}" th:text="${#dates.format(post.created, 'EEEE dd MMMM yyyy')}"></time>
                                        <span> par</span>
	                                    <span class="h6 small mb-0" th:text="${post.author}"></span>
                                    </span>
                                </div>          	
                          
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <div class="section section-sm bg-white pt-5 pt-lg-6 text-black">
        

        
        
            <article class="container container-semi-fluid">

	           	<div th:if="${editor}">
						<div class=" alert-danger text-center">
							<b><a th:href="${post.editLink}" target="_blank"> ✎ EDITER</a></b>
						</div>
				</div>
				            
                <div class="row justify-content-center">
                    <div th:utext="${post.body}" class="col-12 col-lg-8"></div>
                </div>
                <div class="row justify-content-sm-center align-items-center py-3 mt-3">
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-9 col-md-6">
                                <h6 class="fw-bolder d-inline mb-0 me-3">Share:</h6>
                                <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-twitter d-inline text-white"  aria-label="twitter social link"><span class="fab fa-twitter"></span></button>
                                <button class="btn btn-sm me-2 btn-icon-only btn-pill btn-facebook d-inline"  aria-label="facebook social link"><span class="fab fa-facebook-f"></span></button>
                                <button class="btn btn-sm btn-icon-only btn-pill bg-orange d-inline text-white"  aria-label="reddit social link"><span class="fab fa-reddit-alien"></span></button>
                            </div>
                            <div class="col-3 col-md-6 text-right">
                                <span class="far fa-bookmark text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Bookmark story" data-original-title="Bookmark story"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

   <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>



<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables-responsive/js/dataTables.responsive.min.js"></script>



<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>


</body>

</html>