<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>Le blog | Nudger</title>
	<meta name="description" content="Suivre l'actualité Nudger">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{compensation.title}">
	<meta property="og:description" th:content="#{compensation.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{compensation.title}">
	<meta name="twitter:description" th:content="#{compensation.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    

	<!--/* Navbar */-->
	<th:block th:with="page = 'blog'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>
 
        <!-- Hero -->
        <section class="section-header bg-primary text-white pb-10 pb-sm-8 pb-lg-11">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-4"><span><a href="/blog/rss"> <img style="height: 100px" src="/icons/rss.png"></a> </span>Le blog Nudger</h1>
                        <p class="lead">Nos actualités et nos billets</p>
                    </div>
                </div>

                <a href="/blog" type="button" class="btn btn-lg" th:classappend="${currentTag == null} ? 'btn-info' : 'btn-primary'">
                       <span>Tous</span>
                       <span class="badge bg-pill bg-success" th:text="${posts.size()}"></span>
                </a>
                                
                <th:block th:each="tag : ${tags}">
	                <a th:href="'/blog/tag/'+${tag.key}" type="button" class="btn btn-lg" th:classappend="${tag.key.equals(currentTag)} ? 'btn-info' : 'btn-primary'">
	                   <span th:text="${tag.key}"></span>
	                   <span class="badge bg-pill bg-success" th:text="${tag.value}"></span>
	                </a>
                </th:block>
                
                
                
                
                
                
            </div>
        </section>
        <section class="section section-lg line-bottom-light">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div th:if="${posts.size() > 0}" class="row">
                    
                    <div th:with="post = ${posts.getFirst()}"class="col-lg-12 mb-5">
                        <div class="card shadow bg-white border-gray-300 flex-lg-row align-items-center g-0 p-4">
                            <a th:href="'/blog/'+${post.url}" class="col-12 col-lg-6">
                            	<img th:src="${post.image}" th:alt="${post.title}" class="card-img-top rounded">
                            </a>
                            <div class="card-body d-flex flex-column justify-content-between col-auto py-4 p-0 p-lg-3 p-xl-5">
                                <a th:href="'/blog/'+${post.url}">
                                    <h2 th:text="${post.title}"></h2>
                                </a>
                                <p th:text="${post.summary}"></p>
                                <div class="d-flex align-items-center mt-3">
                                    <img class="avatar avatar-sm rounded-circle" th:src="'/assets/img/team/'+${post.author}+'.jpeg'" th:alt="${post.author}"> 
                                    <h3 class="h6 small ms-2 mb-0" th:text="${post.author}"></h3>
                                    <span class="h6 text-muted small fw-normal mb-0 ms-auto">
                                        <time th:datetime="${post.created}" th:text="${#dates.format(post.created, 'dd MMMM yyyy')}"></time>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                   
                   <th:block th:each="post,stat : ${posts}" th:unless="${stat.first}">
	                    <div  class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-5">
	                        <div class="card shadow bg-white border-gray-300  p-4 rounded">
	                            <a th:href="'/blog/'+${post.url}">
	                                <img th:src="${post.image}" class="card-img-top rounded" th:alt="${post.title}">
	                            </a>
	                            <div class="card-body p-0 pt-4">
	                                <a th:href="'/blog/'+${post.url}" class="h4" th:text="${post.title}"></a>
	                                <p class="mb-0" th:text="${post.summary}"></p>
	                                <div class="d-flex align-items-center mt-3">
	                                    <img class="avatar avatar-sm rounded-circle" th:src="'/assets/img/team/'+${post.author}+'.jpeg'" th:alt="${post.author}"> 
	                                    <h3 class="h6 small ms-2 mb-0" th:text="${post.author}"></h3>
	                                    <span class="h6 text-muted small fw-normal mb-0 ms-auto">
	                                        <time th:datetime="${post.created}" th:text="${#dates.format(post.created, 'dd MMMM yyyy')}"></time>
	                                    </span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                    </th:block>
                    


                </div>
            </div>
        </section>
    </main>
	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

    <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

 
 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>



<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables-responsive/js/dataTables.responsive.min.js"></script>



<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>


    <script>
        // here you should load content from an Ajax request and when it
        // loads you can disable the button from loading
        $('#loadOnClick').click(function() {
            $button = $(this);
            $loadContent = $('#extraContent');
            $allLoaded = $('#allLoadedText');
            $button.addClass('btn-loading');
            $button.attr('disabled', true);

            setTimeout(function() {
                $loadContent.show();
                $button.hide();
                $allLoaded.show();
            }, 1500);
        });
    </script>

</body>

</html>