<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>La compensation environnementale | Nudger</title>
	<meta name="description" content="Compenseaion écologique et environnementale gratuite pour vous | Nudger">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{compensation.title}">
	<meta property="og:description" th:content="#{compensation.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{compensation.title}">
	<meta name="twitter:description" th:content="#{compensation.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    

	<!--/* Navbar */-->
	<th:block th:with="page = 'compensation'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>


        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-8 col-lg-8 text-center text-md-left">
                        <h1 class="display-2 mb-4">La compensation écologique</h1>
                        <th:block th:with="path='WIDGETS/compensation-1/'">
        <th:block th:insert="inc/wiki.html"></th:block>
		</th:block> 
						</div>
                  <div class="col-12 col-md-4 d-none d-md-block text-center"><img src="../../assets/img/illustrations/about-illustration.svg" alt=""></div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center justify-content-around">
	                <h2 class="h1 mb-5">Le principe de compensation écologique et environnementale</h2>
                    <div class="col-lg-5 mb-5">
                        <img class="organic-radius img-fluid" src="../../assets/img/illustrations/compensation-carbone.jpg" alt="Compensation carbone">
                    </div>
                    <div class="col-lg-7 ">
                        
                        <blockquote class="blockquote text-center">
                    "La compensation écologique ou environnementale, est une stratégie de compensation qui vise à contrebalancer les impacts négatifs d'une activité humaine sur la nature."
			</blockquote>
					                        <th:block th:with="path='WIDGETS/compensation-2/'">
        <th:block th:insert="inc/wiki.html"></th:block>
		</th:block> 
                       </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->
        <section class=" pb-4 bg-gray-200">
            <div class="container mt-5">
                <h2 class="h1 mb-5 text-center">L'action de Nudger en chiffres</h2>            
                
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Visit Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-user"></span>
                            </div>
                            <h3 class="h5">Organismes</h3>
                            <span class="counter display-3 text-gray d-block" th:text="${config.getDistingReversementsOrganisation()}"></span>
                        </div>
                        <!-- End of Visit Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Call Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-money-check"></span>
                            </div>
                            <h3 class="h5">Versements effectués</h3>
                            <span class="counter display-3 text-gray d-block">2</span>
                        </div>
                        <!-- End of Call Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Email Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-euro-sign"></span>
                            </div>
                            <h3 class="h5">Montant reversé</h3>
                            <span><span class="display-3 text-gray d-block" th:text="${config.getTotalReversements()}"></span>€</span>
                        </div>
                        <!-- End of Email Box -->
                    </div>
                </div>
            </div>

        </section>
        
        
        
        
        
        
        
        
              <!-- End of section -->
        <!-- Section -->
        <section class="section mt-5 section-lg pt-0">
           <div class="container">

                
                <div class="card bg-white border-gray-300 ">
	                            <div th:each="item : ${config.reversements}" class="border-bottom px-4 py-5">
	                                <div class="row align-items-center text-center">
	                                    <div class="col-12 col-md-3 pb-3 pb-md-0">
	                                        <img th:src="${item.orgImg}" th:alt="${item.orgName}">
	                                    </div>
	                                    <div class="col-md-5 pb-2 pb-md-0">
	                                        <h3 class="h5 mb-3"><span th:text="${item.amount}"></span> €</h3>
	                                        <p class="mb-0" th:text="${item.orgName}"></p>
	                                    </div>
	                                    <div class="col-md-4 text-md-right"><span class="badge bg-primary" th:text="${item.date}" th:title="${item.comment}"></span></div>
	                                </div>
	                            </div>
	            </div>
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
		        <section class="section section-md">
            <div class="container">
                <div class="row d-flex flex-wrap align-items-center justify-content-around">

                    <div class="col-">
                        <h2 class="h1 mb-5">Quelle différence avec la compensation carbone ?</h2>
						<div>
                        <th:block th:with="path='compensation-3'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
							</div>
                    </div>
					                    <div class="col-">
                        <h2 class="h1 mb-5">À quelles associations ou organismes sont reversés les fonds de Nudger ?</h2>
						<div>
                        <th:block th:with="path='compensation-4'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
							</div>
                    </div>				
            </div>
        </section>
        
        
        
        
        
      
  
        
    </main>
    

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

    <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="../../vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script src="../../vendor/chartist/dist/chartist.min.js"></script>
<script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="../../vendor/@glidejs/glide/dist/glide.min.js"></script>
<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>

<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
</body>

</html>
