<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{search.title}"></title>
	<meta name="title" th:content="#{search.meta.title}">
	<meta name="description" th:content="#{search.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{search.title}">
	<meta property="og:description" th:content="#{search.meta.description}">
	<meta property="og:image"  th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{search.title}">
	<meta name="twitter:description" th:content="#{search.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
    	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-theme-primary">
			<th:block th:insert="inc/navbar-non-product.html"></th:block>
		</nav>
       <!--/* Loader */-->
       <th:block th:insert="inc/preloader.html"></th:block>
	</header>
	
    <main>	
		



        <!-- Hero -->
        <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 text-center">
                        <h1 class="display-2 text-white mb-3">Foire Aux Questions</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-0">
            <div class="section section-md pt-0">
			<div class="container">
			<div class="row justify-content-center mt-4">
			<div class="col-12 col-lg-8">
			<div class="accordion" id="accordionExample1">

			<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">A quoi sert Nudger.fr ?</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Nudger.fr est une plateforme en ligne conçue pour offrir un environnement dans lequel il est possible de comparer les critères écologiques des différents produits sur le marché. Nous évaluons pour vous la majorité des modèles de produits gris, bruns et blancs. En quelques clics, vous pouvez rechercher la référence de téléviseur ou de machine à laver de votre choix et la comparer aux autres modèles équivalents.<br> 
En prime, passer par Nudger.fr permet de voir une partie du montant de son achat reversée à des associations engagées pour la cause environnementale. 
</div>
			</div>
			</div>
			
			<div class="accordion-item"><h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Qu’est-ce que le nudge ?</button></h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Le nudge, ou coup de coude en anglais, pourrait se traduire par un “coup de pouce” en français. Autrement dit, cet anglicisme désigne une petite action qui incite à modifier un comportement. Chez Nudger, nous aspirons à ce que chacun prenne l’habitude de nudger sa consommation  sur notre plateforme. </div>
			</div>
			</div>
			<div class="accordion-item"><h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quelles associations peuvent recevoir les fonds ?</button></h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Chez Nudger, nous considérons que toutes les causes environnementales sont sur le même pied d’égalité. De ce fait, nous pouvons choisir des associations ou des organismes œuvrant dans les différents domaines de l’écologie. </div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading4">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Quel montant les associations touchent-elles ?</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample4" style=""><div class="accordion-body">Nudger reverse 20% de son chiffre d’affaires aux associations et organismes engagés dans la cause environnementale. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading5">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Quels sont les produits évalués sur Nudger.fr ?</button>
			</h2>
			<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample5" style=""><div class="accordion-body">Grâce à nos plateformes partenaires, nous pouvons vous fournir des informations sur la quasi-totalité des modèles de produits gris en vente sur le territoire français. Nudger, c’est plusieurs millions de références évaluées, jugées et classées en permanence pour vous faciliter votre recherche du modèle le plus vertueux !
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading6">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Qu’est-ce qu’un produit gris ?</button>
			</h2>
			<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Le terme de produit gris fait référence à un article de l’écosystème multimédia ou informatique.
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="headingO7">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse8">Qu’est-ce qu’un produit brun ?</button>
			</h2>
			<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Le terme de produit brun fait référence à un article de l’écosystème électroménager, et plus précisément de l’électroménager de loisir (téléviseur, poste radio…). 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading8">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Qu’est-ce qu’un produit blanc ?</button>
			</h2>
			<div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Le terme de produit blanc fait référence à un article de petit ou de gros électroménager (réfrigérateur, machine à laver…)
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading9">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Que veut dire “compensation environnementale” ?</button>
			</h2>
			<div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">La compensation environnementale désigne l’ensemble des actions effectuées pour compenser son impact sur la planète. Nudger.fr est directement un outil de compensation car notre site vous permet de reverser une partie du montant de votre achat à des associations engagées dans la cause environnementale. 

</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading10">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Quelle différence entre compensation carbone et  compensation environnementale ou écologique ?</button>
			</h2>
			<div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Là où la compensation carbone restreint le mode de compensation à un critère, nous jugeons que la compensation environnementale est plus adaptée car les causes à défendre sont multiples. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading11">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">L’écoscore, c’est quoi ?</button>
			</h2>
			<div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">L’écoscore est un modèle de classification écologique des produits disponibles sur le marché. Ce score a été développé par Nudger et se base sur des données factuelles propres à chaque modèle et chaque catégorie d’article. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading12">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">Comment est calculé l’écoscore ?</button>
			</h2>
			<div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">L’écoscore est calculé sur la base de données réelles extraites des fiches produits de chacun des modèles : classe énergétique, indice de réparabilité…
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading13">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">Comment lire l’écoscore ?</button>
			</h2>
			<div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">En tant que particulier, si vous recherchez un modèle vertueux, vous pouvez filtrer votre recherche sur notre site par écoscore. Les modèles à l’écoscore le plus haut sont considérés comme étant le plus vertueux. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading14">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">Comment comparer les modèles ?</button>
			</h2>
			<div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Vous avez plusieurs pistes pour comparer les modèles :<br> 
<ul><li>Vous pouvez accéder depuis la page d’accueil aux différentes catégories de produit disposant chacune de filtres adaptés.</li>
<li>Vous pouvez rechercher librement une référence dans la barre de recherche et la comparer avec des modèles similaires.</li></ul>

</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading15">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">Utilisez-vous des données personnelles ?</button>
			</h2>
			<div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Non, Nudger.fr pense à vous ! Ce site n’utilise aucun cookie. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading16">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">Combien me coûte l’utilisation de Nudger ?</button>
			</h2>
			<div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Rien du tout ! Nudger est entièrement gratuit et voué à le rester. Nous croyons fermement que cette plateforme peut permettre d’améliorer les habitudes de consommation. 
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading17">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">Comment fonctionne les nationalités de codes barres ?</button>
			</h2>
			<div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">Les préfixes internationaux sur les codes-barres sont des chiffres spéciaux qui aident à identifier l'origine du produit. Ils font partie d'un système appelé "Code à barres EAN" (EAN signifie "European Article Number" ou "Numéro d'Article Européen" en français). Le système EAN est utilisé dans le monde entier pour numériser et suivre les produits.<br>
Voici comment cela fonctionne :<br>
Préfixe du pays : Le code EAN commence généralement par un groupe de chiffres, qui indique le pays d'origine du produit. Par exemple, le préfixe "0" à "13" est réservé pour les produits aux États-Unis, "30" à "37" pour la France, "40" à "44" pour l'Allemagne, etc. Chaque pays a ses propres préfixes.<br>
Numéro de l'entreprise : Les chiffres qui suivent le préfixe du pays sont attribués à une entreprise spécifique. Chaque entreprise enregistre son propre numéro d'entreprise, qui est unique. Cela signifie que si une entreprise vend plusieurs produits, chacun d'eux aura le même préfixe de pays suivi de son propre numéro d'entreprise.<br>
Numéro de produit : Les chiffres restants dans le code EAN sont le numéro de produit proprement dit. C'est ce numéro qui identifie un produit spécifique au sein de l'entreprise. Il est unique pour chaque produit que l'entreprise fabrique.<br>
Donc, en résumé, un code EAN se compose d'un préfixe de pays, d'un numéro d'entreprise et d'un numéro de produit. Ensemble, ils fournissent un identifiant unique pour chaque produit, ce qui permet de le suivre, de le gérer dans les bases de données des magasins, et de le vendre dans le monde entier.

</div>
			</div>
			</div>
			
			</div>
			</div>
			</div>
			</div>
			</div>
        </section>
        <section class="section bg-gray-200">
            <div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2 class="h1">Interesé(e) par ce projet ?</h2>
                        <p class="lead py-4 text-gray">Si vous souhaitez participer à l'aventure, de quelque manière que ce soit : </p>
                        <a href="/contact" class="btn btn-lg btn-secondary animate-up-2">Nous contacter</a>
                    </div>
                </div>
            </div>  
        </section>













      

    </main>

	<!--/* Footer */-->
	<th:block th:insert="inc/footer.html"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
</body>

</html>
