<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{search.title}"></title>
	<meta name="title" th:content="#{search.meta.title}">
	<meta name="description" th:content="#{search.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{search.title}">
	<meta property="og:description" th:content="#{search.meta.description}">
	<meta property="og:image"  th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{search.title}">
	<meta name="twitter:description" th:content="#{search.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
    	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-theme-primary">
			<th:block th:insert="inc/navbar-non-product.html"></th:block>
		</nav>
       <!--/* Loader */-->
       <th:block th:insert="inc/preloader.html"></th:block>
	</header>
	
    <main>	
		



        <!-- Hero -->
        <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8 text-center">
                        <h1 class="display-2 text-white mb-3">Foire Aux Questions</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-0">
            <div class="section section-md pt-0">
			<div class="container">
			<div class="row justify-content-center mt-4">
			<div class="col-12 col-lg-8">
			<div class="accordion" id="accordionExample1">

			<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">A quoi sert Nudger.fr ?</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">                        
			<th:block th:with="path='WIDGETS/faq/a-quoi-sert-nudger/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
			
			<div class="accordion-item"><h2 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Qu’est-ce que le nudge ?</button></h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/qu-est-ce-nudge/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   </div>
			</div>
			</div>
			<div class="accordion-item"><h2 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quelles associations peuvent recevoir les fonds ?</button></h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/associations/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    </div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading4">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Quel montant les associations touchent-elles ?</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample4" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/montant-don/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading5">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">Quels sont les produits évalués sur Nudger.fr ?</button>
			</h2>
			<div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample5" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/quels-produits-evalues/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading6">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Qu’est-ce qu’un produit gris ?</button>
			</h2>
			<div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/qu-est-ce-produit-gris/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="headingO7">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse8">Qu’est-ce qu’un produit brun ?</button>
			</h2>
			<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/qu-est-ce-produit-brun/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading8">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Qu’est-ce qu’un produit blanc ?</button>
			</h2>
			<div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/qu-est-ce-produit-blanc/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading9">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Que veut dire “compensation environnementale” ?</button>
			</h2>
			<div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/definition-compensation-environnementale/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    

</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading10">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Quelle différence entre compensation carbone et  compensation environnementale ou écologique ?</button>
			</h2>
			<div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/difference-compensation/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading11">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">L’écoscore, c’est quoi ?</button>
			</h2>
			<div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/qu-est-ce-ecoscore/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading12">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">Comment est calculé l’écoscore ?</button>
			</h2>
			<div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/calcul-ecoscore/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading13">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">Comment lire l’écoscore ?</button>
			</h2>
			<div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/lire-ecoscore/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading14">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">Comment comparer les modèles ?</button>
			</h2>
			<div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/comment-comparer-modeles/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading15">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">Utilisez-vous des données personnelles ?</button>
			</h2>
			<div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/donneees-personnelles/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading16">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse16" aria-expanded="false" aria-controls="collapse16">Combien me coûte l’utilisation de Nudger ?</button>
			</h2>
			<div id="collapse16" class="accordion-collapse collapse" aria-labelledby="heading16" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/prix nudger/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>    
</div>
			</div>
			</div>
						<div class="accordion-item">
			<h2 class="accordion-header" id="heading17">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse17" aria-expanded="false" aria-controls="collapse17">Comment fonctionne les nationalités de codes barres ?</button>
			</h2>
			<div id="collapse17" class="accordion-collapse collapse" aria-labelledby="heading17" data-bs-parent="#accordionExample1" style=""><div class="accordion-body">			<th:block th:with="path='WIDGETS/faq/code-barres/'">
							<th:block th:insert="inc/wiki.html"></th:block>
						</th:block>   

</div>
			</div>
			</div>
			
			</div>
			</div>
			</div>
			</div>
			</div>
        </section>
        <section class="section bg-gray-200">
            <div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <h2 class="h1">Interesé(e) par ce projet ?</h2>
                        <p class="lead py-4 text-gray">Si vous souhaitez participer à l'aventure, de quelque manière que ce soit : </p>
                        <a href="/contact" class="btn btn-lg btn-secondary animate-up-2">Nous contacter</a>
                    </div>
                </div>
            </div>  
        </section>













      

    </main>

	<!--/* Footer */-->
	<th:block th:insert="inc/footer.html"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
</body>

</html>
