<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{index.title}"></title>
	<meta name="title" th:content="#{index.meta.title}">
	<meta name="description" th:content="#{index.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{index.title}">
	<meta property="og:description" th:content="#{index.meta.description}">
	<meta property="og:image" th:content="${url} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{index.title}">
	<meta name="twitter:description" th:content="#{index.meta.description}">
	<meta name="twitter:image" th:content="${url} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    
    <!--/* Navbar */-->
	<th:block th:insert="~{inc/navbar.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main class="bg-gray-200">	
		
       	<!--/* Central */-->
		<section class="section-header py-3">
			<div class="col-12">
				<p class="display-2 mb-2 text-center">nudger<span class="text-secondary-app fw-bold">.fr</span>
				</p>
			</div>	

			<div class="container">		
				<div class="row">
					<div class="col-12 col-lg-2 d-flex align-items-center justify-content-center">                       	
						<img class="navbar-brand-light" src="../../assets/img/nudger-logo.png" alt="nudger.fr logo dark">
					</div>
				
				
					<div class="col-12 col-lg-10">
					
						<p class="lead text-gray mt-2">
								<th:block th:with="path='WIDGETS/accueil-jumbotron/'">
									<th:block th:insert="~{inc/wiki.html}"></th:block>
								</th:block>
						</p>
				
						<form method="post" id="searchForm" action="/recherche">
							<div class="d-flex flex-wrap mt-lg-2">
								<div class="input-group input-group-lg">
										<input type="text" id="searchInput" class="form-control" th:placeholder="'Rechercher dans ' + ${#numbers.formatDecimal(totalItems, 0, 'COMMA', 0, 'POINT')} + ' produits'" aria-label="Search" aria-describedby="basic-addon1" name="query">
										<button onclick="document.getElementById('searchForm').submit()" class="btn btn-primary" type="button"><span class="fas fa-search"></span></button>
									</div>
							</div>
						</form>
													
					</div>
				</div>	
			</div>
		</section>

		<section class="bg-primary mt-4 text-center py-4">
			<h1 class="mb-3 text-white-50">Consommons peu, consommons bien</h1>
			<p class="lead text-white mb-0">Un coup de main éthique et ouvert pour amoindrir l'impact de votre shopping en ligne.</p>
		</section>
       

		<div class="container container-semi-fluid py-5">
			<div class="row justify-content-between align-items-center">
								
				
				<div class="col-12 col-md-12 text-center">
					<div class="row justify-content-center">
				
	
						<div class="col-12 col-md-3 col-lg-3 mb-3 mb-lg-0">
							<div class="card bg-white border-gray-300 text-gray p-4 h-100">
								<div class="card-header bg-white border-0 pb-0">
									<h2 class="h4 m-0">Eco-score</h2>
								</div>
								<div class="card-body">
									<p>
										<th:block th:with="path='WIDGETS/accueil-ecoscore/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                
									</p>
									<a href="#evaluation-ecologique" class="btn btn-sm btn-primary animate-up-2 mt-3">Score écologique</a>
								</div>
							</div>
						</div>                    

						<div class="col-12 col-md-3 col-lg-3 mb-3 mb-lg-0">
							<div class="card bg-white border-gray-300 text-gray p-4 h-100">
								<div class="card-header bg-white border-0 pb-0">
									<h2 class="h4 m-0">Compensation</h2>
								</div>
								<div class="card-body">
									<p>
										<th:block th:with="path='WIDGETS/accueil-compensation/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                
									</p>
									<a href="#compensation-carbone" class="btn btn-sm btn-primary animate-up-2 mt-3">Compensation écologique</a>
								</div>
							</div>
						</div>
						
						<div class="col-12 col-md-3 col-lg-3 mb-3 mb-lg-0">
							<div class="card bg-white border-gray-300 text-gray p-4 h-100">
								<div class="card-header bg-white border-0 pb-0">
									<h2 class="h4 m-0">Modèle ouvert</h2>
								</div>
								<div class="card-body">
									<p>
										<th:block th:with="path='WIDGETS/accueil-modele-ouvert/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                
									</p>
									<a href="#modele-ouvert" class="btn btn-sm btn-primary animate-up-2 mt-3">Modèle ouvert</a>
								</div>
							</div>
						</div>
						
						
						<div class="col-12 col-md-3 col-lg-3 mb-3 mb-lg-0">
							<div class="card bg-white border-gray-300 text-gray p-4 h-100x ">
								<div class="card-header bg-white border-0 pb-0">
									<h2 class="h4 m-0">Data responsable</h2>
								</div>
								<div class="card-body">
									<p>
										<th:block th:with="path='WIDGETS/accueil-data-responsable'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                
									</p>
									<a href="#data-responsable" class="btn btn-sm btn-primary animate-up-2 mt-3">Data responsable</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<section class="bg-black text-center py-4">
			<h1 class="mb-3 text-white-50">Les chiffres clés</h1>
			<p class="lead text-white mb-0">Avec animation, c'est plus funky</p>
		</section>

	   <section class="container text-center py-4">
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block">150€</span>
					<span class="lead">Montant du coup de pouce à date de Nudger pour la planète</span>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block">15M+ Offres commerciales</span>
					<span class="lead">Un des comparateurs les plus fournis</span>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block">8703</span>
					<span class="lead">Nombre de produits disponibles dans nos univers, pour lesquels nous disposons d'un bilan environnemental.</span>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block">+50M produits</span>
					<span class="lead">Disponibles en open data, reprenant l'intégralité de l'inventaire. La référence en matière de bases de codes barres dans l'opendata français.</span>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block">+270k lignes de codes</span>
					<span class="lead">Disponibles en open source. Bien commun et transparence !</span>
				</div>

				<div class="col-12 col-md-6 col-lg-4 py-3">
					<div class="icon icon-shape icon-shape-secondary me-2 me-md-0 mb-2">
						<span class="fas fa-box-open"></span>
					</div>
					<span class="counter display-3 text-secondary d-block" th:text="${partners.size()}"></span>
					<span class="lead">Nombre de partenaires de notre démarche. Toutes les plus grandes enseignes !</span>
				</div>
			</div>
	   </section>

	   <section class="bg-black text-center py-4">
			<h1 class="mb-3 text-white-50">Nos catégories évaluées</h1>
			<p class="lead text-white mb-0">L'assurance de bien choisir</p>
		</section>

		<section class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3" th:each ="vertical : ${verticals}">
					<div class="blog-card">
						<div class="card shadow">
							<a th:href="'/'+${vertical.homeUrl.i18n(siteLanguage)}"><img th:src="${vertical.homeLogo.i18n(siteLanguage)}" class="card-img-top rounded-top" alt="Themesberg office"></a>
							<div class="card-body">
								<h2 class="h5">
									<a th:href="'/'+${vertical.homeUrl.i18n(siteLanguage)}" th:text="${vertical.homeTitle.i18n(siteLanguage)}"></a>
								</h2>
								<p class="card-text my-2" th:text="${vertical.homeDescription.i18n(siteLanguage)}"></p>
							</div>
							<div class="card-footer bg-white border-0 px-0 py-0">
								<div class="d-grid">
									<a class="btn btn-sm btn-secondary rounded-0 rounded-bottom" th:href="'/'+${vertical.homeUrl.i18n(siteLanguage)}">
										<span class="fas fa-book-open me-1"></span> Découvrir
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

   
		<section class="bg-black mt-4 text-center py-4">
			<h1 class="mb-3 text-white-50">Notre philosophie : le bien commun</h1>
			<p class="lead text-white mb-0">Découvrez nos valeurs et nos atouts</p>
		</section>
	   
	   
		<div class="container my-5">
			<div class="d-flex justify-content-start">
				<div class="col-12 col-md-10">
					<!-- Icon Boxes -->
					<div class="card shadow">
						<div class="row g-0 align-items-center">
							<div class="col-md-4">
								<img src="../../assets/img/pages/design.svg" alt="Web design illustration" class="card-img-top rounded-top">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="h5 card-title mt-3">Compensation environnementale</h3>
									<p class="card-text">
										<th:block th:with="path='WIDGETS/accueil-compensation-full/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                           
									</p>
									<a href="/compensation-carbone" class="btn btn-primary btn-sm">En savoir plus sur la compensation carbone</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Icon Boxes -->
				</div>
			</div>

			<div class="d-flex justify-content-end mt-3">
				<div class="col-12 col-md-10">
					<!-- Icon Boxes -->
					<div class="card shadow">
						<div class="row g-0 align-items-center">
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="h5 card-title mt-3">Data responsable</h3>
									<p class="card-text">
										<th:block th:with="path='WIDGETS/accueil-data-responsable-full/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>
									</p>
									<a href="/donnees-personnelles" class="btn btn-primary btn-sm">En savoir plus sur l'utilisation de vos données</a>
								</div>
							</div>
							<div class="col-md-4">
								<img src="../../assets/img/pages/support.svg" alt="Web design illustration" class="card-img-top rounded-top">
							</div>
						</div>
					</div>
					<!-- End of Icon Boxes -->
				</div>
			</div>    
			
			<div class="d-flex justify-content-start mt-3">
				<div class="col-12 col-md-10">
					<!-- Icon Boxes -->
					<div class="card shadow">
						<div class="row g-0 align-items-center">
							<div class="col-md-4">
								<img src="../../assets/img/pages/technologies.svg" alt="Web design illustration" class="card-img-top rounded-top">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="h5 card-title mt-3">Comparaison de prix</h3>
									<p class="card-text">
										<th:block th:with="path='WIDGETS/accueil-comparaison-prix-full/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                          
									</p>
									<a href="#" class="btn btn-primary btn-sm">En savoir plus sur la comparaison de prix</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Icon Boxes -->
				</div>
			</div>

			<div class="d-flex justify-content-end mt-3">
				<div class="col-12 col-md-10">
					<!-- Icon Boxes -->
					<div class="card shadow">
						<div class="row g-0 align-items-center">
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="h5 card-title mt-3">Evaluation écologique</h3>
									<p class="card-text">
										<th:block th:with="path='WIDGETS/accueil-ecoscore-full/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>   
									</p>
									<a href="/donnees-personnelles" class="btn btn-primary btn-sm">En savoir plus sur l'évaluation environnementale</a>
								</div>
							</div>
							<div class="col-md-4">
								<img src="../../assets/img/pages/support.svg" alt="Web design illustration" class="card-img-top rounded-top">
							</div>
						</div>
					</div>
					<!-- End of Icon Boxes -->
				</div>
			</div>  

			<div class="d-flex justify-content-start mt-3">
				<div class="col-12 col-md-10">
					<!-- Icon Boxes -->
					<div class="card shadow">
						<div class="row g-0 align-items-center">
							<div class="col-md-4">
								<img src="../../assets/img/pages/code.svg" alt="Web design illustration" class="card-img-top rounded-top">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h3 class="h5 card-title mt-3">Open-source et Open-data</h3>
									<p class="card-text">
										<th:block th:with="path='WIDGETS/accueil-modele-ouvert-full/'">
											<th:block th:insert="~{inc/wiki.html}"></th:block>
										</th:block>                                         
									</p>
									<a href="/opendata" class="btn btn-primary btn-sm">En savoir plus sur le modèle ouvert</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End of Icon Boxes -->
				</div>
			</div>        
		</div>       
	</main>

<!--/* Footer */-->
<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>


<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Vendor JS -->

<!-- 
<script src="/webjars/headroom.js/headroom.min.js"></script>
<script src="/webjars/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
 -->



<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>




<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>

<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<script>
$(document).ready(function() {
	// Product search input
	$('#searchInput').on("change",function (e) {
    	$('#searchForm').attr("action","/recherche/"+encodeURIComponent($('#searchInput').val()));
    });
} );


</script>

</body>

</html>
