<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>Base de données GTIN, EAN et ISBN en libre accès | Nudger</title>
	<meta name="description" content="Nudger vous donne la possibilité d'accéder à une grande base de données ISBN gratuitement et librement">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{opendata.title}">
	<meta property="og:description" th:content="#{opendata.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{opendata.title}">
	<meta name="twitter:description" th:content="#{opendata.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<th:block th:with="page = 'opendata'" th:insert="~{inc/navbar/navbar-page.html}"></th:block>

    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>	
		
       <!--/* Hero */-->
        <section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Open Data : Base de données GTIN, EAN et ISBN en libre accès</h1>
                    </div>
                </div>
            </div>
        </section>


		<section class="section section-lg pt-0">
			<div class="container mt-n8 mt-lg-n12 z-2">
				<div class="row justify-content-center">
					<div class="col">
						<div class="card shadow border-gray-300 p-4">
							<div class="row">
								<div class="col-lg-3 text-center">
									<img height="200" src="/assets/img/opendata.jpg" alt="code barre en opendata">
								</div>
								<div class="col-lg-9 my-auto">
									<p class="lead"><strong>Libérez la donnée !</strong> Nous mettons à disposition une extraction complète de notre base de données, celle-ci est notamment utile pour le grand nombre d'articles identifiés par leurs codes barres (GTIN / EAN13 / UPC / ISBN). Ces données sont mises à jour <b>une fois par semaine</b>, et proviennent de l'agrégation de contenu que nous réalisons autour des catalogues d'affiliations.</p>
								</div>
							</div>

							<h2 class="h3 mt-4">Conditions d'utilisation</h2>
							<ul class="text-secondary">
								<li class="pb-2">Ces données sont délivrées sous <a href="/assets/ETALAB-Licence-Ouverte-v2.0.pdf" target="_blank">licence ouverte</a>, et sont donc librement utilisables, sans restrictions d'usages.</li>
								<li class="pb-2">Vous devez par contre <b>indiquer la provenance de ces données</b>, en mentionnant la page produit quand elle est disponible, ou avec un lien vers la page d'accueil de <a href="https://nudger.fr">nudger.fr</a> quand la page produit n'est pas disponible.</li>
							</ul>

							<div class="card shadow px-4 py-4">
								<div class="card-body">
									<div class="row text-center">
										<div class="col-md-4">
											<h3 class="h5">&nbsp;</h3>
											<table class="table table-borderless">
												<tbody>
												<tr>
													<th scope="row">Mise à jour</th>
												</tr>
												<tr>
													<th scope="row">Taille du fichier</th>
												</tr>
												<tr>
													<th scope="row">Nombre de produits</th>
												</tr>
												</tbody>
											</table>
										</div>

										<div class="col-md-4">
											<h3 class="h5">Dataset GTIN</h3>
											<table class="table table-hover">
												<tbody>
												<tr>
													<td th:text="${#dates.format(gtinLastUpdated, 'dd MMM yyyy, HH:mm')}"></td>
												</tr>
												<tr>
													<td th:text="${gtinFileSize}"></td>
												</tr>
												<tr>
													<td th:text="${#numbers.formatDecimal(countGTIN, 0, 'COMMA', 0, 'POINT')}"></td>
												</tr>
												</tbody>
											</table>
											<a href="/opendata/gtin" class="btn btn-primary mt-3">
												Voir les détails et télécharger
											</a>
										</div>

										<div class="col-md-4">
											<h3 class="h5">Dataset ISBN</h3>
											<table class="table table-hover">
												<tbody>
												<tr>
													<td th:text="${#dates.format(isbnLastUpdated, 'dd MMM yyyy, HH:mm')}"></td>
												</tr>
												<tr>
													<td th:text="${isbnFileSize}"></td>
												</tr>
												<tr>
													<td th:text="${#numbers.formatDecimal(countISBN, 0, 'COMMA', 0, 'POINT')}"></td>
												</tr>
												</tbody>
											</table>
											<a href="/opendata/isbn" class="btn btn-primary mt-3">
												Voir les détails et télécharger
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>

<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
<script>
$(document).ready(function() {
    $('#searchInput').on("change",function (e) {
    	$('#searchForm').attr("action","/recherche/"+encodeURIComponent($('#searchInput').val()));
    });
} );
</script>

</body>

</html>
