<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{product.title(${product.names.shortestOfferName()})}"></title>
	<meta name="title" th:content="#{product.meta.title(${product.names.shortestOfferName()})}">	

	<th:block th:if="${null != product.bestPrice()}">
		<meta name="description" th:if="${null != product.model() && null != product.brand()}" th:content="#{product.meta.description.withbrandandmodel(${product.model()}, ${product.brand()}, ${#numbers.formatDecimal(product.bestPrice().compensation, 1, 2)}, ${product.names.shortestOfferName()})}">              
	    <meta name="description" th:unless="${null != product.model() && null != product.brand()}" th:content="#{product.meta.description.withname(${product.names.shortestOfferName()}, ${#numbers.formatDecimal(product.bestPrice().compensation, 1, 2)})}">
	</th:block>
	
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{product.title(${product.names.shortestOfferName()})}">
	<meta property="og:description" th:content="#{product.meta.description(${product.names.shortestOfferName()})}">
	<meta property="og:image" th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{product.title(${product.names.shortestOfferName()})}">
	<meta name="twitter:description" th:content="#{product.meta.description(${product.names.shortestOfferName()})}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="/webjars/datatables-responsive/css/responsive.dataTables.min.css">



</head>

<body>
    

<!--/* Navbar */-->
<th:block th:insert="~{inc/navbar-product.html}"></th:block>
<!--/* Loader */-->
<th:block th:insert="~{inc/preloader.html}"></th:block>

<main>

        <div class="section section-lg pt-5 bg-gray-200">
			        
            <div class="container">
				<div class="card shadow p-4">
				
					<th:block th:if="${editor}">
						<form method="post" th:action="${url}">	
							<input value="Enregistrer les modifications" type="submit">			
					</th:block>
							
       				<!--/* Header */-->				
					<th:block th:insert="~{inc/product-header.html}"></th:block>
               								


					<div th:if="${null != product.bestPrice()}" class="row mt-3">
						
	       				<!--/* Best price */-->				
						<div id="markerEcoscore" class="col-sm-12 col-md-12 col-lg-6 mb-3">
							<th:block th:insert="~{inc/product-ecoscore.html}"></th:block>										
						</div>

						<div class="col-sm-12 col-md-12 col-lg-6 mb-3">

		       				<!--/* Best price */-->				
							<th:block th:insert="~{inc/product-price.html}"></th:block>										
							
						</div>
					</div>	
					
				</div>
				
				
				
				<div class = "row mt-3">
					<div id="markerInfosProduits" class="col-lg-6">
						<!-- Identity -->
						<th:block th:insert="~{inc/product-referentiel-attributes.html}"></th:block>										
					</div>
					
					<div class="col-lg-6">
			      		<!--/* Attributes */-->				
						<th:block th:insert="~{inc/product-attributes.html}"></th:block>
					</div>
				</div>
						
						
	
	
				
										
				
   				<!--/* Descriptions */-->				
				<th:block th:insert="~{inc/product-descriptions.html}"></th:block>							

							
   				 <!--/* Product origin 
				 <th:block th:insert="~{inc/product-origin.html}"></th:block>
   				 */-->				
             
  				 <!--/* Product all prices */-->
				 <div id="markerPrices">
					 <th:block th:insert="~{inc/product-all-prices.html}"></th:block>
				 </div>
  				 
				 <div class="row mt-3">
      				<!--/* Referentiel attributes */-->									
					<div id="markerCaracteristiques" class="col-lg-12">
	      				<!--/* Fonctionnalites */-->				
						<div class="mt-3"  th:if="${product.attributes.features.size > 0}" th:insert="~{inc/product-features.html}"></div>
					</div>



					<!--/* Attributes */-->				
						<th:block th:insert="~{inc/product-unmatched-attributes.html}"></th:block>					



					<div class=" col-lg-12">
	

						<!--  Authenticated section -->						
						 <th:block th:if="${user}">
						 
							<div class="card shadow mb-3 my-3">
								<div class="card-header"><h2 class="h5">Mode développement</h2></div>
								<p>Cette section n'apparait qu'a là nudger team</p>
								<div class="card-body">
	
			
				      				<!--/* Categories */-->				
									<th:block th:insert="~{inc/product-categories.html}"></th:block>
		
				      				<!--/* Texts */-->				
									<th:block th:insert="~{inc/product-descriptions-old.html}"></th:block>		
									</div>
								</div>

						 
											
						</th:block>

					</div>
					
										
				</div>	
  				 			
			</div>
			
			<th:block th:if="${editor}">
				</form>				
			</th:block>			
		</div>  
</main>

<!--/* Product footer */-->				
<th:block th:insert="~{inc/footer.html}"></th:block>
    

    <!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>


<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>


<!-- 


<script src="../../vendor/onscreen/dist/on-screen.umd.min.js"></script>
<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="../../vendor/jarallax/dist/jarallax.min.js"></script>
<script src="../../vendor/chartist/dist/chartist.min.js"></script>
<script src="../../vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>

<script src="../../vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="../../vendor/@glidejs/glide/dist/glide.min.js"></script>
 --> 

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables-responsive/js/dataTables.responsive.min.js"></script>



<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
<script>
$(document).ready(function() {

	// Enable tooltips
  	$('[data-bs-toggle="tooltip"]').tooltip();

	// Responsive datatables
	if (($("#offersTableOccasion")).length) {
		$('#offersTableOccasion').DataTable({
				responsive: true		
		}			
		);		
	}
	
	if (($("#offersTableNew")).length) {
		$('#offersTableNew').DataTable({
				responsive: true		
		}			
		);		
	}
	
	
	
	if ($("#allAttributes").length) {
		$('#allAttributes').DataTable({
				responsive: true		
		});
	}


// Countup on reversement

// CountUp

var options = {
  duration: 3,
  useEasing : false,
  useGrouping : false,
  separator : ',',
  decimal : '.',
  decimalPlaces: 2,
  prefix : '',
  suffix : ''
};


var reversment = new countUp.CountUp("countup-reversment", $("#countup-reversment").attr("data-max"), options);
setTimeout(reversment.start(), 5000);























// Ecoscore radar chart


						
						const data = {
						  labels: [
						    'Eating',
						    'Drinking',
						    'Sleeping',
						    'Designing',
						    'Coding',
						    'Cycling',
						    'Running'
						  ],
						  datasets: [{
						    label: 'My First Dataset',
						    data: [65, 59, 90, 81, 56, 55, 40],
						    fill: true,
						    backgroundColor: 'rgba(255, 99, 132, 0.2)',
						    borderColor: 'rgb(255, 99, 132)',
						    pointBackgroundColor: 'rgb(255, 99, 132)',
						    pointBorderColor: '#fff',
						    pointHoverBackgroundColor: '#fff',
						    pointHoverBorderColor: 'rgb(255, 99, 132)'
						  }, {
						    label: 'My Second Dataset',
						    data: [28, 48, 40, 19, 96, 27, 100],
						    fill: true,
						    backgroundColor: 'rgba(54, 162, 235, 0.2)',
						    borderColor: 'rgb(54, 162, 235)',
						    pointBackgroundColor: 'rgb(54, 162, 235)',
						    pointBorderColor: '#fff',
						    pointHoverBackgroundColor: '#fff',
						    pointHoverBorderColor: 'rgb(54, 162, 235)'
						  }]
						};
						
						
						
						const config = {
						  type: 'radar',
						  data: data,
						  options: {
						    elements: {
						      line: {
						        borderWidth: 3
						      }
						    }
						  },
						};
						
						
						  const ctx = document.getElementById('radarScore');
						
						  new Chart(ctx, config);











// Price chart


						
						const data2 = {
 labels: [ // Date Objects
    Utils.newDate(0),
    Utils.newDate(1),
    Utils.newDate(2),
    Utils.newDate(3),
    Utils.newDate(4),
    Utils.newDate(5),
    Utils.newDate(6)
  ],
  datasets: [{
    label: 'My First dataset',
    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
    borderColor: Utils.CHART_COLORS.red,
    fill: false,
    data: Utils.numbers(NUMBER_CFG),
  }, {
    label: 'My Second dataset',
    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
    borderColor: Utils.CHART_COLORS.blue,
    fill: false,
    data: Utils.numbers(NUMBER_CFG),
  }, {
    label: 'Dataset with point data',
    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.green, 0.5),
    borderColor: Utils.CHART_COLORS.green,
    fill: false,
    data: [{
      x: Utils.newDateString(0),
      y: Utils.rand(0, 100)
    }, {
      x: Utils.newDateString(5),
      y: Utils.rand(0, 100)
    }, {
      x: Utils.newDateString(7),
      y: Utils.rand(0, 100)
    }, {
      x: Utils.newDateString(15),
      y: Utils.rand(0, 100)
    }],
  }]
						};
						
						
						
					const config2 = {
  type: 'line',
  data: data2,
  options: {
    plugins: {
      title: {
        text: 'Chart.js Time Scale',
        display: true
      }
    },
    scales: {
      x: {
        type: 'time',
        time: {
          // Luxon format string
          tooltipFormat: 'DD T'
        },
        title: {
          display: true,
          text: 'Date'
        }
      },
      y: {
        title: {
          display: true,
          text: 'value'
        }
      }
    },
  },
};
						
						
						  const ctx2 = document.getElementById('priceChart');
						
						  new Chart(ctx2, config2);



























} );
</script>

</body>

</html>
