<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
	<!-- Importing meta tags and CSS files -->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>

	<!-- Primary Meta Tags -->
	<title th:text="${helper.getMetaTitle()}"></title>
	<meta name="description" th:content="${helper.texts.get('meta-description')}">

	<!-- Open Graph / Facebook Meta Tags -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="${helper.texts.get('opengraph-title')}">
	<meta property="og:description" th:content="${helper.texts.get('opengraph-description')}">
	<meta property="og:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="${helper.texts.get('twitter-title')}">
	<meta name="twitter:description" th:content="${helper.texts.get('twitter-description')}">
	<meta name="twitter:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="/webjars/datatables-responsive/css/responsive.dataTables.min.css">

	<!-- Conditional CSS for highlight.js if user is authenticated -->
	<link th:if="${user}" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
	<link href="/vendor/lightgallery/dist/css/lightgallery-bundle.min.css" rel="stylesheet">

	<style>
		/* Customizing carousel control icons */
		.carousel-control-prev-icon::before {
			content: '\f060';
			font-family: "Font Awesome 5 Free";
			font-size: 5rem;
			color: gray;
			font-weight: 900;
		}

		.carousel-control-next-icon:before {
			font-family: "Font Awesome 5 Free";
			content: "\f061";
			font-size: 5rem;
			color: gray;
			font-weight: 900;
		}

		/* Style for selected row in DataTables */
		table.dataTable tbody tr.selected {
			font-size: 1.5em;
		}

		.active-period-btn {
			background-color: #166d12 !important;
			color: white !important;
			border: 2px solid #1c8418 !important;
		}

		.btn:focus {
			outline: none !important;
			box-shadow: none !important;
		}

		.btn {
			transition: none !important;
		}
	</style>
</head>

<body>

<!-- Barre de navigation -->
<th:block th:insert="~{inc/navbar/navbar-product.html}"></th:block>
<!-- Préchargeur -->
<th:block th:insert="~{inc/preloader.html}"></th:block>

<main th:with="images = ${product.images()}" class="bg-gray-200">
	<div class="section section-lg pt-5">
		<div class="container-fluid">

			<!-- Affichage du titre du produit -->
			<h1 th:unless="${product.vertical}" class="h1 title text-uppercase text-center" th:text="${product.bestName()}"></h1>
			<h1 th:if="${product.vertical}" class="h1 title text-uppercase text-center" th:text="${helper.texts.title}"></h1>

			<div class="card shadow p-4">
				<!-- En-tête du produit -->
				<th:block th:insert="~{inc/product-header.html}"></th:block>
			</div>

			<!-- Présentation du produit -->
			<th:block th:insert="~{inc/product-presentation.html}"></th:block>

			<!-- Descriptions écologiques -->
			<th:block th:insert="~{inc/product-ecological.html}"></th:block>

			<!-- Prix du produit -->
			<th:block th:insert="~{inc/product-price.html}"></th:block>

			<!-- Détails des attributs du produit -->
			<th:block th:insert="~{inc/product-attributes-details.html}"></th:block>

			<div class="row mt-3">
				<div class="col-lg-12">

					<!-- Section réservée aux utilisateurs authentifiés -->
					<th:block th:if="${user}">

						<!-- Catégories du produit -->
						<th:block th:insert="~{inc/product-categories.html}"></th:block>

						<!-- Tableau des attributs non appariés -->
						<div class="col-lg-4">
							<th:block th:insert="~{inc/product-unmatched-attributes.html}"></th:block>
						</div>

						<!-- Mode développement : informations supplémentaires -->
						<div class="card shadow mb-3 my-3">
							<div class="card-header">
								<h2 class="h5">Mode Développement</h2>
							</div>
							<p>Cette section est visible uniquement par l'équipe Nudger.</p>
							<div class="card-body">
								<!-- Affichage de la taxonomie du produit -->
								<h1 th:text="'taxonomy : ' + ${product.googleTaxonomyId}"></h1>

								<!-- Ressources liées au produit -->
								<th:block th:insert="~{inc/product-resources.html}"></th:block>

								<!-- Catégories mappées du produit -->
								<div class="card shadow my-3">
									<div class="card-header">
										<h2 class="h5">Catégories Mappées</h2>
									</div>
									<div class="card-body">
										<th:block th:each="item, stat : ${product.mappedCategories}">
											<div class="alert alert-primary" role="alert">
												<span th:text="${item.key + ' : ' + item.value}"></span>
											</div>
										</th:block>
									</div>
								</div>
							</div>
						</div>

						<!-- Affichage des données JSON brutes -->
						<div class="card shadow my-3">
							<div class="card-header">
								<h2 class="h5">JSON</h2>
							</div>
							<div class="card-body">
                                    <pre style="height: 500px">
                                        <code id="json-output" class="json"></code>
                                    </pre>
								<!-- Script pour formater et mettre en évidence le JSON -->
								<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
								<script th:inline="javascript">
									/*<![CDATA[*/
									const jsonObject = /*[[${raw}]]*/ '';
									/*]]>*/

									// Stringify et formatage de l'objet JSON
									const jsonString = JSON.stringify(jsonObject, null, 2);

									// Insérer le JSON formaté dans l'élément <code>
									document.getElementById('json-output').textContent = jsonObject;

									// Appliquer la mise en évidence syntaxique
									hljs.highlightAll();
								</script>
							</div>
						</div>

					</th:block>
				</div>
			</div>
		</div>
	</div>
</main>

<!-- Pied de page du produit -->
<th:block th:insert="~{inc/footer.html}"></th:block>

<!-- Scripts principaux -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<!-- Scripts des fournisseurs -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<!-- Chart.js et adaptateur de date -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<!-- jQuery et DataTables -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>

<!-- Compteur animé -->
<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>

<!-- Scripts personnalisés -->
<script src="../../assets/js/pixel.js"></script>
<script src="../../assets/js/pixel-custom.js"></script>

<!-- LightGallery pour la galerie d'images -->
<script src="/vendor/lightgallery/dist/lightgallery.min.js"></script>
<script src="/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	// Variable globale pour le compteur
	var reversment;

	// Fonction pour initialiser DataTable
	function initTable(tableId) {
		// Initialiser DataTable avec les options spécifiées
		tableNew = $(tableId).DataTable({
			searching: false,
			paging: false,
			info: false,
			select: 'single',
			"order": [ [1, 'asc'] ]
		});

		// Gestionnaire d'événements pour le clic sur une ligne du tableau
		tableNew.on('click', 'tbody tr', (e) => {
			let classList = e.currentTarget.classList;

			// Récupérer les attributs de données de la ligne cliquée
			token = $(e.currentTarget).attr('data-token');
			compensation = $(e.currentTarget).attr('data-compensation');

			// Mettre à jour le token (par exemple, dans un champ caché)
			$("#token").val(token);

			var countUpUpdateoptions = {
				duration: 1,
				useEasing: false,
				useGrouping: false,
				separator: ',',
				decimal: '.',
				decimalPlaces: 2,
				prefix: '',
				suffix: ''
			};

			// Mettre à jour le compteur avec la nouvelle valeur de compensation
			$("#countup-reversment").attr("data-max", compensation);
			reversment.update(compensation);

			// Gérer la classe 'selected' pour la ligne active
			tableNew.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
			classList.add('selected');
		});
	}

	// Récupération et formatage des données de prix
	const newPriceHistoryData = /*[[${product.price.newPricehistory}]]*/ [];
	const occasionPriceHistoryData = /*[[${product.price.occasionPricehistory}]]*/ [];

	// Mappage des données uniquement si elles ne sont pas vides
	const newPriceHistory = newPriceHistoryData.length > 0 ? newPriceHistoryData.map(({ timestamp: x, price: y }) => ({ x, y })) : [];
	const occasionPriceHistory = occasionPriceHistoryData.length > 0 ? occasionPriceHistoryData.map(({ timestamp: x, price: y }) => ({ x, y })) : [];

	// Fonction pour filtrer les données en fonction de la date
	function filterDataByDate(data, startDate) {
		return data.filter(item => new Date(item.x) >= startDate);
	}

	const today = new Date();

	// Définir les plages de dates pour le filtrage
	const dateRanges = {
		'15days': new Date(today.getTime() - (15 * 24 * 60 * 60 * 1000)),
		'3months': new Date(today.getFullYear(), today.getMonth() - 3, today.getDate()),
		'6months': new Date(today.getFullYear(), today.getMonth() - 6, today.getDate()),
		'max': null // Toutes les données
	};

	// Fonction pour obtenir les données filtrées en fonction de la période
	function getFilteredData(data, period) {
		if (dateRanges[period]) {
			return filterDataByDate(data, dateRanges[period]);
		} else {
			return data; // Retourne toutes les données pour 'max'
		}
	}

	$(document).ready(function () {

		///////////////////////////////////
		// Initialisation du compteur CountUp
		///////////////////////////////////
		var countUpoptions = {
			duration: 3,
			useEasing: false,
			useGrouping: false,
			separator: ',',
			decimal: '.',
			decimalPlaces: 2,
			prefix: '',
			suffix: ''
		};

		// Initialiser le compteur pour l'élément avec l'ID 'countup-reversment'
		reversment = new countUp.CountUp("countup-reversment", $("#countup-reversment").attr("data-max"), countUpoptions);
		setTimeout(reversment.start(), 5000);

		///////////////////////////////////
		// Initialisation de DataTables
		///////////////////////////////////

		// Initialiser le tableau des offres
		initTable('#offres');

		// Initialiser le tableau des attributs s'il existe
		if ($("#allAttributes").length) {
			$('#allAttributes').DataTable({
				responsive: true
			});
		}

		// Initialiser le tableau des images s'il existe
		if ($("#imagesTable").length) {
			$('#imagesTable').DataTable({
				responsive: true
			});
		}

		///////////////////////////////////
		// Activer les tooltips Bootstrap
		///////////////////////////////////
		$('[data-bs-toggle="tooltip"]').tooltip();

		///////////////////////////////////
		// Initialisation des graphiques de prix
		///////////////////////////////////

		// Initialiser le graphique des prix neufs seulement s'il y a des données
		if (newPriceHistory.length > 0) {
			const newPriceCtx = document.getElementById('newPriceChart').getContext('2d');
			const newPriceChart = new Chart(newPriceCtx, {
				type: 'line',
				data: {
					datasets: [{
						label: 'Prix Neuf',
						fill: true,
						data: getFilteredData(newPriceHistory, '3months'),
						backgroundColor: '#4cb1ff',
						borderColor: '#41a3ef',
						borderWidth: 2,
						tension: 0,
						pointRadius: 0,
						pointHoverRadius: 6,
						pointHitRadius: 10,
					}]
				},
				options: {
					interaction: {
						mode: 'nearest',
						intersect: false
					},
					scales: {
						x: {
							type: 'time',
							time: {
								unit: 'day',
								displayFormats: {
									day: 'dd/MM/yyyy'
								},
								tooltipFormat: 'dd/MM/yyyy'
							},
							title: {
								display: true,
								text: 'Date'
							}
						},
						y: {
							title: {
								display: true,
								text: 'Prix (€)'
							}
						}
					}
				}
			});

			// Gestionnaires d'événements pour les boutons du graphique "Prix Neuf"
			document.getElementById('btn-new-15days').addEventListener('click', function () {
				updateChart(newPriceChart, newPriceHistory, '15days');
				setActiveButton(this, 'new');
			});

			document.getElementById('btn-new-3months').addEventListener('click', function () {
				updateChart(newPriceChart, newPriceHistory, '3months');
				setActiveButton(this, 'new');
			});

			document.getElementById('btn-new-6months').addEventListener('click', function () {
				updateChart(newPriceChart, newPriceHistory, '6months');
				setActiveButton(this, 'new');
			});

			document.getElementById('btn-new-max').addEventListener('click', function () {
				updateChart(newPriceChart, newPriceHistory, 'max');
				setActiveButton(this, 'new');
			});

			// Définir le bouton '3 mois' comme actif par défaut
			setActiveButton(document.getElementById('btn-new-3months'), 'new');
		}

		// Initialiser le graphique des prix d'occasion seulement s'il y a des données
		if (occasionPriceHistory.length > 0) {
			const usedPriceCtx = document.getElementById('usedPriceChart').getContext('2d');
			const usedPriceChart = new Chart(usedPriceCtx, {
				type: 'line',
				data: {
					datasets: [{
						label: 'Prix d\'Occasion',
						fill: true,
						data: getFilteredData(occasionPriceHistory, '3months'),
						backgroundColor: '#ff6384',
						borderColor: '#fa486e',
						borderWidth: 2,
						tension: 0,
						pointRadius: 0,
						pointHoverRadius: 6,
						pointHitRadius: 10,
					}]
				},
				options: {
					interaction: {
						mode: 'nearest',
						intersect: false
					},
					scales: {
						x: {
							type: 'time',
							time: {
								unit: 'day',
								displayFormats: {
									day: 'dd/MM/yyyy'
								},
								tooltipFormat: 'dd/MM/yyyy'
							},
							title: {
								display: true,
								text: 'Date'
							}
						},
						y: {
							title: {
								display: true,
								text: 'Prix (€)'
							}
						}
					}
				}
			});

			// Gestionnaires d'événements pour les boutons du graphique "Prix d'Occasion"
			document.getElementById('btn-used-15days').addEventListener('click', function () {
				updateChart(usedPriceChart, occasionPriceHistory, '15days');
				setActiveButton(this, 'used');
			});

			document.getElementById('btn-used-3months').addEventListener('click', function () {
				updateChart(usedPriceChart, occasionPriceHistory, '3months');
				setActiveButton(this, 'used');
			});

			document.getElementById('btn-used-6months').addEventListener('click', function () {
				updateChart(usedPriceChart, occasionPriceHistory, '6months');
				setActiveButton(this, 'used');
			});

			document.getElementById('btn-used-max').addEventListener('click', function () {
				updateChart(usedPriceChart, occasionPriceHistory, 'max');
				setActiveButton(this, 'used');
			});

			// Définir le bouton '3 mois' comme actif par défaut
			setActiveButton(document.getElementById('btn-used-3months'), 'used');
		}

		// Fonction pour mettre à jour le graphique avec les données filtrées
		function updateChart(chart, data, period) {
			chart.data.datasets[0].data = getFilteredData(data, period);
			chart.update();
		}

		// Fonction pour définir visuellement le bouton actif
		function setActiveButton(activeButton, chartType) {
			const buttonGroupSelector = chartType === 'new' ? '.btn-group .btn[id^="btn-new"]' : '.btn-group .btn[id^="btn-used"]';
			const buttons = document.querySelectorAll(buttonGroupSelector);
			buttons.forEach(button => {
				button.classList.remove('btn-primary', 'active-period-btn');
				button.classList.add('btn-secondary');
			});
			activeButton.classList.remove('btn-secondary');
			activeButton.classList.add('btn-primary', 'active-period-btn');
		}

		///////////////////////////////////
		// Initialisation de la galerie d'images
		///////////////////////////////////

		// Récupérer l'élément du carousel
		let carouselEl = document.getElementById('bootstrap-gallery-carousel');

		// Créer une instance de Bootstrap Carousel avec les options spécifiées
		const carousel = new bootstrap.Carousel(carouselEl, {
			interval: 10000,
			wrap: false,
		});

		// Ajouter un écouteur d'événements pour 'slide.bs.carousel'
		carouselEl.addEventListener('slide.bs.carousel', (event) => {
			const container = document.querySelector('.carousel-inner');
			window.lightGallery(container, {
				plugins: [lgThumbnail],
				selector: '.lg-item',
			});
		});
	});
	/*]]>*/
</script>

</body>

</html>