<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:include="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{search.title}"></title>
	<meta name="title" th:content="#{search.meta.title}">
	<meta name="description" th:content="#{search.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{search.title}">
	<meta property="og:description" th:content="#{search.meta.description}">
	<meta property="og:image"  th:content="${baseUrl} + '/assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{search.title}">
	<meta name="twitter:description" th:content="#{search.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	
	<!-- CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap-select-1.14.0-beta2/css/bootstrap-select.min.css">	
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
    	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-theme-primary">
			<th:block th:include="inc/navbar-non-product.html"></th:block>
		</nav>
	</header>
	
    <main>	
       <!--/* Loader */-->
       <th:block th:include="inc/preloader.html"></th:block>
		


       <!--/* Search panel */-->
        <section class="pt-7 pb-4 bg-primary text-white ">
          <form id="searchForm" method="post">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <h1 class="mb-3">Rechercher dans les produits</h1>
                        <p class="lead px-lg-5 mb-5">Vous êtes dans la recherche globale, une recherche détaillée est disponible dans chaque catégorie de produits.</p>
                            <div class="form-group bg-white shadow-soft rounded-pill mb-4 px-3 py-2">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="input-group input-group-merge shadow-none">
                                            <div class="input-group-text bg-transparent border-0"><span class="fas fa-search"></span></div>
                                            <input id="searchInput" name="query" th:value="${query}" type="text" class="form-control border-0 form-control-flush shadow-none pb-2" placeholder="Rechercher un produit" required>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-block btn-primary rounded-pill">Chercher</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    

	     				    
	     				    
                </div>
                
                

	       
	       
            </div>


			<div class="container-fluid row">
			
			
				<!--  Price -->
				<div class="col-12 col-md-3 col-lg-3 mt-4">
					<div class="card shadow">
						<div class="card-header">
							<h4 class="text-dark h5">Prix</h4>
						</div>
						<div class="card-body">
							
							<div class="input-slider-range-container mx-2" id="slider-price" min-value="" th:attr="data-range-value-min=${results.minPrice}, data-range-value-max=${results.maxPrice}" >
								<!-- Range slider container -->
								<div></div>
								<!-- Range slider values -->
								<div class="row d-none">
									<div class="col-6">
										<span class="range-slider-value value-low" th:attr="data-range-value-low=${results.minPrice}"></span>
									</div>
									<div class="col-6 text-right">
										<span class="range-slider-value value-high" th:attr="data-range-value-high=${results.maxPrice}"></span>
									</div>
								</div>
								<!-- End of range slider values -->
							</div>

						</div>
					</div>
				</div>

				<!--  Condition -->
				<div class="col-12 col-md-2 col-lg-2 mt-4">
					<div class="card shadow">
							<div class="card-header">
								<h4 class="text-dark h5">Etat</h4>
							</div>
							<div class="text-dark card-body">
									<div class="row">
										<div th:if="${results.itemNew >0}" class="col-12">
											
											<div class="form-check mb-1">
												<input class="form-check-input" type="checkbox" value="" id="cartCheck8">
												<label class="form-check-label" for="cartCheck8">Neuf</label>
												<span class="badge bg-gray badge-pill float-end" th:text="${results.itemNew}"></span>
											</div>

										</div>
										<div th:if="${results.itemOccasion > 0}" class="col-12">
											<div class="form-check mb-1">
												<input class="form-check-input" type="checkbox" value="" id="cartCheck9">
												<label class="form-check-label" for="cartCheck9">Occasion</label>
												<span class="badge bg-gray badge-pill float-end" th:text="${results.itemOccasion}"></span>
											</div>
										</div>
										<div th:if="${results.itemUnknown > 0}" class="col-12">
											<div class="form-check mb-1">
												<input class="form-check-input" type="checkbox" value="" id="cartCheck10">
												<label class="form-check-label" for="cartCheck10" th:text="${results.itemUnknown}"></label>
												<span class="badge bg-gray badge-pill float-end" th:text="${results.itemUnknown}"></span>
											</div>
										</div>
									</div>
	
							</div>
						</div>
				</div>
				
				
				
				<!--  Offers count -->
				<div class="col-12 col-md-3 col-lg-3 mt-4">
					<div class="card shadow">
						<div class="card-header">
							<h4 class="text-dark h5">Nombre d'offres</h4>
						</div>
						<div class="card-body">
							<div class="input-slider-range-container mx-2" id="slider-offers-count"  th:attr="data-range-value-min=${results.minOffers}, data-range-value-max=${results.maxOffers}" >
								<!-- Range slider container -->
								<div></div>
								<!-- Range slider values -->
								<div class="row d-none">
									<div class="col-6">
										<span class="range-slider-value value-low" th:attr="data-range-value-low=${results.minOffers}"></span>
									</div>
									<div class="col-6 text-right">
										<span class="range-slider-value value-high" th:attr="data-range-value-high=${results.maxOffers}"></span>
									</div>
								</div>
								<!-- End of range slider values -->
							</div>

						</div>
					</div>
				</div>				
				
				<!--  Categories -->
				<div class="col-12 col-md-4 col-lg-4 mt-4">
					<div class="card shadow">
						<div class="card-header">
							<h4 class="text-dark h5">Catégories</h4>
						</div>
						<div class="card-body">

							<div class="row">
							 
							 
							    <div class="form-group">
							      <select class="form-control text-dark selectpicker" data-live-search="true" data-width="100%" multiple data-actions-box="true">
									<th:block th:each="item : ${results.categories}">
								        <option>
								        	<th:block th:text="${item.key}"></th:block>
								        	(<th:block th:text="${item.value}"></th:block>)
								        </option>
									
									</th:block>
							      </select>

							  </div>
							</div>



						</div>
					</div>
				</div>				


				
				
				
			</div>

			<div class="pattern bottom"></div>
			</form>
        </section>


       <section>
       

	       
       </section> 
                
       
       <!--/* Verticals results */-->
        <section class="section section-md bg-white">        
         	<div class="container container-semi-fluid">
                <div class="row justify-content-center">
        
			        <div th:each="item: ${results.data}" class="col-12 col-md-12 mb-3">			        	
			        	<th:block th:with="item = ${item}">
				        	<th:block th:include="inc/search-card.html"></th:block>        
			        	</th:block>   
			        </div>
	        	</div>
	        </div>
        </section>
       
       
     
      

    </main>

	<!--/* Footer */-->
	<th:block th:include="inc/footer.html"></th:block>	

<!-- Core -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>



<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>

<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<!-- Bootstrap select -->
<script src="/vendor/bootstrap-select-1.14.0-beta2/js/bootstrap-select.min.js"></script>
<script src="/vendor/bootstrap-select-1.14.0-beta2/js/i18n/defaults-fr_FR.min.js"></script>

<script>
$(document).ready(function() {
	// search feature
    $('#searchInput').on("change",function (e) {
    	$('#searchForm').attr("action","/recherche/"+($('#searchInput').val()));
    });
		
	
	
	var prevent = 0;
    $('.input-slider-range-container').on('change', function(e) {
		prevent++;    	
    	if (prevent > 2) {
    		alert("ss");
    		
    	}
    	
    });
	
    
} );
</script>
</body>

</html>
