<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:include="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{index.title}"></title>
	<meta name="title" th:content="#{index.meta.title}">
	<meta name="description" th:content="#{index.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{index.title}">
	<meta property="og:description" th:content="#{index.meta.description}">
	<meta property="og:image" th:content="${url} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{index.title}">
	<meta name="twitter:description" th:content="#{index.meta.description}">
	<meta name="twitter:image" th:content="${url} + 'assets/img/brand/light.svg'">

	<!-- Datatable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
    	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
			<th:block th:include="inc/navbar-non-product2.html"></th:block>
		</nav>
	</header>
	
    <main>	
       <!--/* Loader */-->
       <th:block th:include="inc/preloader.html"></th:block>
  
        <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
            <div class="container container-semi-fluid">

				<!--/* Hero */-->						
				<div class="row mb-2">							
					<div class="card shadow">
						<div class=" align-items-center">
							
								<div class="d-flex flex-wrap align-items-center row">
			                        <div class="col-lg-2 text-center">
			                                <img class="mt-2" width="150" th:src="${config.homeLogo.i18n(siteLanguage)}">
			                        </div>
			                        <span class="col-lg-10">
			                                <h1 class="mt-2 text-center" th:text="${config.homeTitle.i18n(siteLanguage)}"></h1>
			                                <div class="row p-2 mb-4"> 
			                					<th:block th:with="path='WIDGETS/partenaires/'">
			                     					<th:block th:include="inc/wiki.html"></th:block>
			                     				</th:block>
			                				</div>		
			                				
			                        </span> 
								</div>
	                    </div>
					</div>
				</div>
						
                <div class="row ">
                
                	<!--/* Left column */-->                	
                    <div class="col-lg-3 mb-3 mb-lg-0">
                    
                		<!--/* Guides */-->	
						<div class="row card shadow mb-2">
							<div class="card-header"><h2 class="h5">Les guides</h2></div>
							<div class="card-body">
								<ul class="list-group list-group-flush price-list">
									<li class="list-group-item border-0"><img height="16" width="16" class="me-2" src="/icon/fnac.com" title="icône fnac"><a href="">Téléviseurs : quel impact écologique ?</a> </li>
									<li class="list-group-item border-0"><span class="fas fa-box"></span><a href="">Bien choisir sa TV ! </a></li>
									<li class="list-group-item border-0"><span class="fas fa-clock"></span><a>OLED, QLED, LCD : Les différences</a> </li>
								
								</ul>
							</div>
						</div>                    
                                        
				        <!--/* Filters */-->	
						<div class="row card shadow mb-2">
							<div class="card-header"><h2 class="h5">Filtres</h2></div>
							<div class="card-body">
                    			<th:block th:include="inc/vertical-filters.html"></th:block>
								
							</div>
						</div>  				        					
					</div>

					<!--/* Right column */-->
					<div class="col-lg-9">
						<div class="ms-1 row card shadow">
							<th:block th:include="inc/vertical-table.html"></th:block>
						</div>

					</div>
				</div>
        	</div>
       	</div>
    </main>

	<!--/* Footer */-->
	<th:block th:include="inc/footer.html"></th:block>	

<!-- Core -->
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>

<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>

<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.2.1/mustache.min.js"></script>

<!-- Ajax loaded table template -->
<div id="tpl_place" class="hidden"></div>

<!-- Setting up variables -->
<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var vertical = /*[[${config.id}]]*/ '';
	    var siteLanguage = /*[[${siteLanguage}]]*/'';
	    var baseUrl = /*[[${baseUrl}]]*/'';
	    var verticalPath = /*[[${verticalPath}]]*/'';
	    
	    
	    
	/*]]>*/
</script>

<script>

	<!-- Datatable init function -->
	var table;
	
	function initDatatable () {
		
		return $('#tableProducts').DataTable({
	    	searching: false,
	        "bLengthChange": false,	 
	        "processing": true,
	        "serverSide": true,
	        "orderMulti": false,
	        "pageLength": 10,
	        "ajax": {
	            "url": "/"+verticalPath+"/paginated",
	            "dataSrc": "data",
	            "data": function ( data ) {
	 //process data before sent to server.
	 				return data;
	         }},
	        "columns": [
                { 
                	"data": "attributes.referentielAttributes.MODEL.keyword", 
                	"name" : "Modèle",
                	"title" : "Modèle",
                	render: function(cell, type, data) {
        				var template = $('#template-id').html();
        				Mustache.parse(template);

        				return Mustache.render(template, {
        					data : data,
        					vertical: vertical,
           					productUrl : baseUrl+verticalPath+'/'+data.names.name,
           					imageUrl : baseUrl+verticalPath+'/'+data.names.name+'/image.png',           					
        					name : (data.attributes.referentielAttributes.MODEL == null ? data.names.name : data.attributes.referentielAttributes.MODEL)
        				});                	
                	}
                },
                
                { 
                	"data": "attributes.referentielAttributes.BRAND.keyword", 
                	"name" : "Marque",
                	"title" : "Marque",
                	render: function(cell, type, data) {
                        return  data.attributes.referentielAttributes.BRAND == null ? "" : data.attributes.referentielAttributes.BRAND ;
                    }
                },
  
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },
                { "data": "id", "name" : "ID", "title" : "ID"  },

	                ]    
	 	});
		
		
		
		
	};



	// On document Load
	$(document).ready(function() {
		
		// Loading templates 
		$.ajax({
			url : '/tpl_table.html',
			dataType : 'html',
			cache : true, // otherwise will get fresh copy every page load
			success : function(e) {
				// script loaded, do stuff!

				$("#tpl_place").html(e);

				// Init table 
			
	    		table = initDatatable();

				
				
			}
		});
		


	} );
</script>

</body>

</html>
