<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:include="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="#{index.title}"></title>
	<meta name="title" th:content="#{index.meta.title}">
	<meta name="description" th:content="#{index.meta.description}">
		
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{index.title}">
	<meta property="og:description" th:content="#{index.meta.description}">
	<meta property="og:image" th:content="${url} + 'assets/img/brand/light.svg'">
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{index.title}">
	<meta name="twitter:description" th:content="#{index.meta.description}">
	<meta name="twitter:image" th:content="${url} + 'assets/img/brand/light.svg'">

	<!-- Datatable -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
    	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-theme-secondary">
			<th:block th:include="inc/navbar-non-product.html"></th:block>
		</nav>
	</header>
	
    <main>	
       <!--/* Loader */-->
       <th:block th:include="inc/preloader.html"></th:block>
		
  
        <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
            <div class="container-semi-fluid">

                <div class="row ">
                
                	<!--/* Left column */-->                	
                    <div class="col-lg-3 mb-3 mb-lg-0">
                    
                    
                    
                		<!--/* Guides */-->	
						<div class="card shadow mb-2">
							<div class="card-header"><h2 class="h5">Les guides</h2></div>
							<div class="card-body">
								<ul class="list-group list-group-flush price-list">
									<li class="list-group-item border-0"><img height="16" width="16" class="me-2" src="/icon/fnac.com" title="icône fnac"><a href="">Téléviseurs : quel impact écologique ?</a> </li>
									<li class="list-group-item border-0"><span class="fas fa-box"></span><a href="">Bien chosir sa TV ! </a></li>
									<li class="list-group-item border-0"><span class="fas fa-clock"></span><a>OLED, QLED, LCD : Les différences</a> </li>
								
								</ul>
							</div>
						</div>                    
                                        
				        <!--/* Filters */-->						
                    	<th:block th:include="inc/vertical-filters.html"></th:block>
					</div>

					<!--/* Right column */-->
					<div class="col-lg-9">

						<div class="row">							
							<!--/* Hero */-->						
							<div class="card shadow">
								<div class="row align-items-center">
							
									
										<div class="d-flex flex-wrap align-items-center row">
					                        <div class="col-lg-2 text-center">
					                                <img class="mt-2" width="150" src="https://media.istockphoto.com/id/173240143/fr/photo/t%C3%A9l%C3%A9vision-avec-deux-masques-de-d%C3%A9tourage.jpg?s=612x612&w=0&k=20&c=GhzC3IyvkmRp9shUBHICxM_1Lsur2uWkpNKf2F22p8s=" alt="logo tv">
					                        </div>
					                        <span class="col-lg-10">
					                                <h1 class="mt-2 text-center">Nos téléviseurs </h1>
					                                <div class="row p-2"> 
					                					<th:block th:with="path='WIDGETS/partenaires/'">
					                     					<th:block th:include="inc/wiki.html"></th:block>
					                     				</th:block>
					                				</div>		
					                				
					                        </span> 
										</div>
				                        
				                        
		
			                    </div>
							</div>
						</div>
						

						
						<div class="row p-3 mt-2 card shadow">
							<th:block th:include="inc/vertical-table.html"></th:block>
						</div>

					</div>
				</div>
        	</div>
       	</div>




 
 
 
 
 
 
 
 
 
 
 

    </main>

	<!--/* Footer */-->
	<th:block th:include="inc/footer.html"></th:block>	

<!-- Core -->
<script src="../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

<script src="../../vendor/nouislider/distribute/nouislider.min.js"></script>


<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>

<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<script>
	$(document).ready(function() {
		
		<!-- Table init -->
	    var table = $('#example').DataTable();
			
		
	} );
</script>

</body>

</html>
