<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
 	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="${metaTitle}"></title>
	<meta th:if="${metaDescription}" name="description" th:content="${metaDescription}">	
</head>

<body>
    
	<!--/* Navbar */-->
	<th:block th:insert="~{inc/navbar/navbar-non-product.html}"></th:block>
    <!--/* Loader */-->
    <th:block th:insert="~{inc/preloader.html}"></th:block>
	
    <main>	
		
      <section th:if="${pageTitle}" class="section-header pb-9 pb-lg-12">
            <div class="container" th:classappend="${width}">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <p class="display-2" th:utext="${pageTitle}"></p>                       
                    </div>
                </div>
            </div>
        </section>
        
      
		<section class="section section-lg pt-0">
            <div class="container mt-n7 mt-lg-n12 z-2" th:classappend="${width}">

	           	<div th:if="${editor}">
						<div class=" alert-danger text-center">
							<b><a th:href="${editLink}" target="_blank">EDITER</a></b>
						</div>
				</div>
				            
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card border-gray-300 p-4 p-md-5">
                    
                          <th:block th:utext="${html}"></th:block>
                          
                          
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>

<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

</body>

</html>
