<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
 	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
    
	<!-- Primary Meta Tags -->
	<title th:text="${metaTitle}"></title>
	<meta th:if="${metaDescription}" name="description" th:content="${metaDescription}">	
	<meta th:if="${metaKeyword}" name="keywords" th:content="${metaKeyword}">
	
</head>

<body>
    
	<!--/* Navbar */-->
	<header class="header-global">
     	<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark navbar-theme-primary">
			<th:block th:insert="~{inc/navbar/navbar-non-product.html}"></th:block>
		</nav>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
	</header>
	
    <main>	
		
        <!-- Hero -->
        <section th:if="${pageTitle}" class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
            <div class="container" th:classappend="${width}">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 th:text=${pageTitle} class="display-2 mb-3"></h1>
                    </div>
                </div>
            </div>
        </section>
        
        
 		<section class="section section-lg pt-0">
            <div class="mt-n8 mt-lg-n12 z-2" th:classappend="${width}">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="card shadow border-gray-300 p-4 p-lg-5">
                            <p th:utext="${html}" class="lead"></p>
                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

<!-- Core -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="../../vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<!-- pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>
</body>

</html>
