<!DOCTYPE html>
<html th:lang="${siteLocale.language}">
<head>
    <!--/* [# th:comment="Meta and CSS includes" /] */-->
    <th:block th:insert="inc/header-meta.html"></th:block>

    <!-- Primary Meta Tags -->
    <title>L'Impact Score : Eco score pour les produits éléctroniques et éléctriques | Nudger</title>
    <meta name="description"
          content="Nudger vous propose d'évaluer l'impact environnemental de vos produits avec notre écoscore. Achetez malin, achetez responsable ! ☀️"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" th:content="${url}"/>
    <meta property="og:title" th:content="#{ecoscore.title}"/>
    <meta property="og:description" th:content="#{ecoscore.meta.description}"/>
    <meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" th:content="${url}"/>
    <meta name="twitter:title" th:content="#{ecoscore.title}"/>
    <meta name="twitter:description" th:content="#{ecoscore.meta.description}"/>
    <meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'"/>
</head>

<body class="ecoscore">
    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>

<main>
    <!--div class="mt-2" th:with="page='ecoscore'" th:insert="~{inc/breadcrumb-1level.html}"></div-->
    <!--/* [# th:comment="Hero Section" /] */-->
    <section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <div class="display-2 mb-3">L’Impact Score : évaluation de l'impact environnemental de vos produits</div>
                    <th:block th:with="path='ECOSCORE/1/'">
                        <div class="lead" th:insert="~{inc/wiki.html}"></div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card shadow border-gray-300 p-4 p-lg-5">
                        <h2 class="h3 mb-4">Qu’est-ce que l’Impact Score&nbsp;?</h2>
                        <th:block th:with="path='ECOSCORE/2/'">
                            <th:block th:insert="~{inc/wiki.html}"></th:block>
                        </th:block>
                        <div class="col-12 col-md-6 mx-auto">
                            <img class="organic-radius img-fluid" src="/assets/img/ecologie1.jpg" alt="Exemple d'impact écologique" loading="lazy"/>
                        </div>

                        <h2 id="ecoscore-transparent-innovant" class="h3 my-4">Notre ecoscore&nbsp;: transparent, innovant et performant</h2>
                        <th:block th:with="path='ECOSCORE/3/'">
                            <th:block th:insert="~{inc/wiki.html}"></th:block>
                        </th:block>
                        <div class="col-12 col-md-6 mx-auto">
                            <img class="organic-radius img-fluid" src="/assets/img/ecologie2.jpg" alt="Illustration d'un écoscore transparent et innovant" loading="lazy"/>
                        </div>

                        <h2 id="calcule-impact-score" class="h3 my-4">Comment est calculé l'Impact Score&nbsp;?</h2>
                        <p>
                            Les règles de calcul de l'ecoscore sont expliquées sur chaque produit, au travers de l'explication détaillée de l'évaluation dans la section "bilan écologique". Surtout, chaque catégorie de produit dispose de ses propres critères et pondérations. Voici la liste des catégories que nous couvrons, vous trouverez le détail des critères et coefficients via les liens ci-dessous.
                        </p>
                        <div class="card border-gray-300 mb-1 py-3 col-12 col-md-6 mx-auto" th:each="item, stat : ${verticals}">
                            <div class="card-body d-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                                <a class="w-100" th:href="${item.i18n(siteLanguage).verticalHomeUrl}+'/ecoscore'" th:text="${item.i18n(siteLanguage).verticalHomeTitle}">
                                    <span class="icon icon-xs ms-auto">
                                        <span class="fas fa-chevron-right"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="my-4">
                            <th:block th:with="path='ECOSCORE/4/'">
                                <th:block th:insert="~{inc/wiki.html}"></th:block>
                            </th:block>
                        </div>

                        <h2 class="h3 mt-4">Critères et coefficients de l'ecoscore téléviseurs</h2>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom du critère</th>
                                        <th scope="col">Coefficient (0-1)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${impactscore.texts.i18n(siteLanguage).criteriasAnalysis}" th:with="attr = ${verticalConfig.attributesConfig.getAttributeConfigByKey(item.key)}">
                                        <td>
                                            <span th:text="${attr.name.i18n(siteLanguage)}">Critère</span>
                                        </td>
                                        <td>
                                            <span th:text="${verticalConfig.impactScoreConfig.criteriasPonderation.get(attr.key)}">0.0</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th scope="row">Total</th>
                                    <td>
                                        <b>
                                            <span th:text="${verticalConfig.getEcoscoreCriteriasSum()}"></span>
                                        </b>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="my-4">
                            <th:block th:with="path='ECOSCORE/4-1/'">
                                <th:block th:insert="~{inc/wiki.html}"></th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--/* [# th:comment="Footer" /] */-->
<th:block th:insert="inc/footer.html"></th:block>

</body>
</html>
