<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

	<!--/* Metas and CSS */-->
	<th:block th:insert="inc/header-meta.html"></th:block>
    
	<!-- Primary Meta Tags -->
	<title>Impact Score Nudger : Un écoscore pour les <th:block th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle}"></th:block></title>
	<meta name="description" content="">
		
	<!-- Open Graph / Facebook 
	<meta property="og:type" content="website">
	<meta property="og:url" th:content="${url}">
	<meta property="og:title" th:content="#{ecoscore.title}">
	<meta property="og:description" th:content="#{ecoscore.meta.description}">
	<meta property="og:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	-->
	
	<!-- Twitter 
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" th:content="${url}">
	<meta name="twitter:title" th:content="#{ecoscore.title}">
	<meta name="twitter:description" th:content="#{ecoscore.meta.description}">
	<meta name="twitter:image" th:content="${baseUrl} + 'assets/img/brand/light.svg'">
	-->
	
</head>

<body>
    

    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>  
    
    <main>

	<div class="section section-header pb-7 pb-md-10 bg-primary overflow-hidden">
            <div class="container z-2">
                <div class="row justify-content-center text-white text-center">
                    <div class="col-12 col-md-10">
                        <div class="mb-3">
                            <h1 class="display-3 font-size-md-down-5 fw-light mb-0">Impact-Score <span class="fw-bold" th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle}"></span></h1>

							<!--  Breadcrumb 
							TODO : I18n
							-->
							<th:block th:with="vConf = ${verticalConfig}, pageLabel='Impact Score'"  
                                     th:insert="~{inc/breadcrumb-vertical.html}">
							</th:block>


						</div>
                        
                        <p class="my-4 px-0 px-lg-7 lead" th:with="path='pages/impactscore-vertical-jumbotron'">
                            <th:block th:insert="~{inc/wiki.html}"></th:block>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <section class="section section-md pt-0">
            <div class="container">
                <div class="col-12 col-lg-12">
                    <div class="row justify-content-center mt-n7 z-2">
                        <div class="col-12 col-md-12">
                            <div class="row mt-5 mt-lg-0 px-3">
                                <!-- Icon Boxes -->
                                <div class="card shadow border-gray-300">
                                    <div class="card-body p-4 p-lg-5">

										<div class="row align-items-center">
											<div class="col-md-3 p-4">
												<img class="img-fluid" style="height: 150px" src="/assets/img/svg/nudger_ecolo.svg"
													alt="ImpactScore Nudger">

											</div>
											<div class="col-12 col-md-9 mt-4 mt-md-0">
												<h2 class="h4 mb-2">Impact Score ?</h2>
												<p>
													Cette page est spécifique au calcul d'impact
													environnemental des <a th:href="'/'+${verticalConfig.i18n(siteLanguage).verticalHomeUrl}"
														th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle.toLowerCase()}"></a>,
													vous pouvez consulter ici les critères et les pondérations
													qui sont spécifiquement appliquées aux <span
														th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle.toLowerCase()}"></span>.
													L'Impact Score de Nudger est une démarche innovante
													d'évaluation environnementale, utilisant des systèmes d'IA
													pour passer l'évaluation écologique des produits
													électriques et électroniques à l'échelle
												</p>
												<a href="/ecoscore"
													class=" float-end btn btn-sm btn-primary">En savoir	plus</a>
											</div>
										</div>



									</div>
                                </div>
                                <!-- End of Icon Boxes -->
                                <!-- Icon Boxes -->
                               
                        
                                <!-- End of Icon Boxes -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        <section>
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-12 col-lg-6">
						<div class="d-flex flex-wrap justify-content-lg-start">
							<div class="my-4">
								<div class="d-flex">
									<div class="me-3 me-md-4">
										<div class="icon icon-md icon-secondary-app">
											<span class="fas fa-circle-dot"></span>
										</div>
									</div>
									<div>
                                       <h2 class="h4">Objectif</h2>
                                        <p th:text="${impactscore.texts.i18n(siteLanguage).purpose}"></p>
	
									</div>
								</div>
							</div>
							<div class="my-4">
								<div class="d-flex">
									<div class="me-3 me-md-4">
										<div class="icon icon-md icon-secondary-app">
											<span class="fas fa-database"></span>
										</div>
									</div>
									<div>
                                        <h2 class="h4">Données disponibles</h2>
                                         <p th:text="${impactscore.texts.i18n(siteLanguage).availlableDatas}"></p>
                                          <th:block th:each = "item  : ${impactscore.criteriasPonderation.keySet()}" >
		                                         <th:block th:with="attr = ${verticalConfig.attributesConfig.getAttributeConfigByKey(item)}">
	    	                                         <h3 class="h6" th:if="${attr}" th:text="${attr.name.i18n(siteLanguage)}"></h3>
		                                         </th:block>
		                                         <p th:text="${verticalConfig.availableImpactScoreCriterias.get(item).description.i18n(siteLanguage)}"></p>
                                           </th:block>
                                         
									</div>
								</div>
							</div>
	
						</div>
					</div>
					<div class="col-12 col-lg-5">
						<img class="d-none d-lg-inline-block"
							th:src="'/images/verticals/' + ${verticalConfig.id} + '.jpg'"
							th:alt="'Ecoscore' + ${vertical}">
					</div>
				</div>
			</div>




		</section>
        
        
        
        
        
        
        
        
        
        
        
    
        
        <div class="section section-md bg-gray-200">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="text-center">Critères retenus</h1>
                     <div class="lead text-center" th:with="path='pages/impactscore-vertical-criterias'">
                            <th:block th:insert="~{inc/wiki.html}"></th:block>
                        </div>
                        				<div class="row mt-4">
						<div th:each="item, stat : ${impactscore.texts.i18n(siteLanguage).criteriasAnalysis}" class="col-12 col-sm-6 col-md-4">
							<!-- Step -->
							<div th:with="attr = ${verticalConfig.attributesConfig.getAttributeConfigByKey(item.key)}" class="step text-center">
								<div class="step-shape shape-gray-300 rounded-circle mb-4">
									<span class="step-icon icon-primary">
									   <span th:if="${attr}" th:class="'fas '+${attr.faIcon}"></span>
									</span>
								</div>
								<h2 th:if="${attr}" class="h5 step-title"><span th:text="${attr.name.i18n(siteLanguage)}"></span></h2>
								<b><span th:text="${#numbers.formatDecimal(impactscore.criteriasPonderation.get(item.key) * 100, 0, 0)}"></span>%</b>
								<p th:text="${item.value}"></p>
							</div>
							<!-- End of Step -->
						</div>
					
					</div>


				</div>
            </div>
        </div>
        
        <section class="section">
        
                    <div class="container">
                    <div class="card shadow border-gray-300">
                        <div class="card-body p-4 p-lg-5">

                            <div class="row align-items-center">
                                <div class="col-md-3 p-4">
                                    <img class="img-fluid" style="height: 200px"
                                        src="/icons/categories/ecoscore/revue_critique.jpg"
                                        alt="ImpactScore Nudger">

                                </div>
                                <div class="col-12 col-md-9 mt-4 mt-md-0">
                                    <h2 class="h3 mb-2">Revue critique</h2>
                                    <p
                                        th:text="${impactscore.texts.i18n(siteLanguage).criticalReview}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            <div class="container-fluid">

	



				<div class="row justify-content-center">
                        <div class="mt-6 text-center">
                            <h2 class="h1 fw-light">Transparence et traçabilité
                            </h2>
                            <p class="lead mb-5">Nudger est construit dans un modèle ouvert, <a href="/opensource">open-source</a> et <a href="/opendata">open-data</a>. Notre éco-score sur les <span th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle.toLowerCase()}"> </span> est à ce titre ouvert et transparent.</p>
                        </div>
                </div>
                

                <div>

                      <div class="row p-6">
							<div class="col-lg-8">

							<div class="card">
								<div class="card-header">Synthèse et déploiement</div>
								<div class="card-body">
									<table class="table table-hover table-responsive-sm">
										<tbody>
											<tr>
												<th scope="col" id="teacher">Nom</th>
												<th scope="col" id="teacher">Coef. proposé</th>
                                                <th scope="col" id="teacher">Coef. appliqué</th>
                                                
											</tr>

											<tr th:each="item, stat : ${impactscore.texts.i18n(siteLanguage).criteriasAnalysis}" th:with="attr = ${verticalConfig.attributesConfig.getAttributeConfigByKey(item.key)}">
												<td headers="secondyear Forsyth females"><span th:text="${attr.name.i18n(siteLanguage)}"></span></td>
                                                <td headers="secondyear Forsyth females"><span th:text="${impactscore.criteriasPonderation.get(attr.key)}"></span></td>
                                                <td headers="secondyear Forsyth females"><span th:text="${verticalConfig.impactScoreConfig.criteriasPonderation.get(attr.key)}"></span></td>

											</tr>
											
										</tbody>
									</table>
									
									   <div>
                                             Ce tableau permet de confronter les coefficients proposés par le système d'IA (Coef. proposé) à ceux actuellement utilisés par Nudger (Coef. appliqué). Les coefficients sont appliquées dans le									   
									         <a target="_blank" rel="nofollow" th:href="'https://github.com/open4good/open4goods/blob/main/verticals/src/main/resources/verticals/'+${verticalConfig.id}+'.yml'"> fichier de configuration des <span
                                                        th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle.toLowerCase()}"></span></a>.
									   </div>
									
									         
									         
								</div>
							</div>

						</div>
							
							<div class="col-lg-4">
								<div class="card shadow border-gray-300">
									<div class="card-body p-4 p-lg-5">

										<div class="row align-items-center">
												<h2 class="text-center h4 mb-2">En discuter</h2>
												<p> Nudger est un comparateur open-source, la définition de l'Impact Score (et plus généralement de la catégorie '<span th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle}"></span>') est disponible sur <a target="_blank" rel="nofollow" th:href="'https://github.com/open4good/open4goods/blob/main/verticals/src/main/resources/verticals/'+${verticalConfig.id}+'.yml'">github</a>. 
												    N'hésitez pas à <a target="_blank" rel="nofollow" href="https://github.com/open4good/open4goods/issues/new">créer une issue</a> si vous souhaitez discuter autour de l'élaboration de l'Impact Score !												
												</p>
												<a rel="nofollow" target="_blank" href="https://github.com/open4good/open4goods">
    												<img class="img-fluid" src="/icons/github.png" alt="Comparateur écologique sur github">
												</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>                
            </div>





			<div class="p-6">
				<div class="card">
					<div class="card-header">Audit de génération IA de l'impact score</div>
					<div class="card-body">



						<h3>Système d'IA utilisé</h3>

						<p>Informations sur le service et le modèle d'IA utilisé pour générer cet ImpactScore</p>
						<ul class="ps-3">
							<li class="small">Service IA : <span th:text="${prompt.aiService}"></span></li>
							<li class="small">Modèle : <span th:text="${prompt.options.model}"></span></li>
						</ul>



						<h3>User Prompt</h3>
						<p>Ceci est l'instruction envoyée au modèle d'IA. A noter que nous utilisons un des modèles les plus performants (o1-preview), qui ne prend pas en compte le prompt système, ni la
							température.</p>


						<pre class="bg-gray-200 mb-4">
                                            <code th:utext="${prompt.userPrompt}"></code>
                        </pre>

						<h3>Réponse</h3>
						<p>Ceci est la réponse du sysème d'IA, au format JSON</p>
						<pre class="bg-gray-200">
                                            <code class="json" th:utext="${impactscore.aiJsonResponse}"></code>
                                        </pre>

					</div>


				</div>
			</div>

		</section>
        
        
        
        

    </main>
    

	<!--/* Footer */-->
	<th:block th:insert="inc/footer.html"></th:block>	

  
</body>

</html>