<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
	<title>Déclarer un bug | Nudger</title>
    <link rel="canonical" th:href="${baseUrl}+'feedback/issue'" />
    
	<!--/* Metas and CSS */-->
	<th:block th:insert="~{inc/header-meta.html}"></th:block>
	
</head>

<body>
    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>  
	
    <main>	
  		
		<section class="section-header bg-primary text-white pb-9 pb-lg-12 mb-4 mb-lg-6" data-background="../../assets/img/pages/form-image.jpg" style="background: url(&quot;../../assets/img/pages/form-image.jpg&quot;);">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 text-center">
						<h1 class="display-2 mb-3">
							<span>
								<img class="mt-2" width="75" src="/icons/bug.png">
							</span> Déclarer un bug ! </h1>
						
						<div class="mt-2" th:with="page='issue'" th:insert="~{inc/breadcrumb-1level.html}"></div>
							
						<div class="mt-3 mb-4 text-center">
							<span class="fw-normal">Cette déclaration d'incident sera <a target="_blank" href="https://github.com/open4good/open4goods/issues">disponible publiquement sur github</a>. Vous pourrez y suivre la prise en charge. </span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-lg pt-0">
			<div class="container mt-n8 mt-lg-n12 z-2">
				<div class="row justify-content-center">
					<div class="col">
						<div class="card border-light p-4 p-lg-5">
							
							<form action="/feedback" method="post" class="mt-4">
					
								<div class="mb-4">
									<label for="name">Votre pseudo</label>
									<div class="input-group">
										<span class="input-group-text" id="basic-addon3"><span
											class="fas fa-user-circle"></span></span> <input type="text"
											class="form-control" placeholder="e.g. LouloueDu29"
											id="author" name="author" value="NudgerAnonyme" >
									</div>
								</div>

	

								<div class="mb-4">
									<label for="name">Titre du problème</label>
									<div class="input-group">
										<span class="input-group-text" id="basic-addon3"><span
											class="fas fa-header"></span></span> <input type="text"
											class="form-control" placeholder="Problème en quelques mots"
											id="title" name="title" required="required" >
									</div>
								</div>
								

								<div class="mb-4">
									<label for="message">Détails</label>
									<textarea  class="form-control"
										id="message" name="message" rows="4" required="required" placeholder="N'hésitez pas à donner le maximum de détails, plus la demande est précise plus elle a de chance d'être résolue !"></textarea>
								</div>


								<div class="mb-4">
									<label for="name">Combien de "air" dans "nudger" ?</label>
									<div class="input-group">
										<span class="input-group-text" id="basic-addon3"><span
											class="fas fa-user-question"></span></span> <input type="text"
											class="form-control" placeholder="?"
											id="captcha" name="captcha" >
									</div>
								</div>

								
								<div class="d-grid">
									<input type="hidden" name="type" value="bug">
									<button type="submit" class="btn btn-primary">Déclarer l'incident</button>
								</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

	<!--/* Footer */-->
	<th:block th:insert="~{inc/footer.html}"></th:block>	

</body>

</html>
