<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>
    <!-- Importing meta tags and CSS files -->
    <th:block th:insert="~{inc/header-meta.html}"></th:block>

    <!-- Primary Meta Tags -->
    <title th:text="${helper.getMetaTitle()}"></title>
    <meta name="description" th:content="${helper.texts.get('meta-description')}">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" th:content="${helper.texts.get('opengraph-title')}">
    <meta property="og:description" th:content="${helper.texts.get('opengraph-description')}">
    <meta property="og:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- No indexing if not a verticalized page -->
    <meta th:unless="${product.vertical}" name="robots" content="noindex">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" th:content="${url}">
    <meta name="twitter:title" th:content="${helper.texts.get('twitter-title')}">
    <meta name="twitter:description" th:content="${helper.texts.get('twitter-description')}">
    <meta name="twitter:image" th:content="${baseUrl} + '/images/'+${product.gtin()}+'-cover.png'">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables-responsive/css/responsive.dataTables.min.css">

    <!-- Conditional CSS for highlight.js if user is authenticated -->
    <link th:if="${user}" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/default.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <link href="/vendor/lightgallery/dist/css/lightgallery-bundle.min.css" rel="stylesheet">

    <!--style>
        .carousel-control-prev-icon::before {
            content: '\f060';
            font-family: "Font Awesome 5 Free";
            font-size: 5rem;
            color: gray;
            font-weight: 900;
        }

        .carousel-control-next-icon:before {
            font-family: "Font Awesome 5 Free";
            content: "\f061";
            font-size: 5rem;
            color: gray;
            font-weight: 900;
        }

        /* Style for selected row in DataTables */
        table.dataTable tbody tr.selected {
            font-size: 1.5em;
        }

        .active-period-btn {
            background-color: #253154 !important;
            color: white !important;
            border: 2px solid #28365d !important;
        }

        .btn:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        .btn {
            transition: none !important;
        }
    </style-->
</head>

<body>

<!-- Navbar -->
<th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>


<main th:with="images = ${product.images()}" class="bg-gray-200">
    <!-- Loader -->
    <th:block th:insert="~{inc/preloader.html}"></th:block>

    <section class="section-header pb-0">
        <div class="row">
            <th:block th:insert="~{inc/wip.html}"></th:block>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-5">
                    <h2 th:unless="${product.vertical}" class="h4 mb-0 text-center" th:text="${product.bestName()}"></h2>

                    <h2 th:if="${product.vertical}" class="h4 mb-0 text-center" th:text="${product.bestName()}"></h2>
                </div>

                <div class="col-12 col-md-6 mb-5">
                    <h2 class="h4 mb-0 text-center">Où acheter cette TV au meilleur prix ?</h2>
                </div>
            </div>
        </div>
        <div class="container fixed-bottom">
            <nav class="mb-0">
                <div class="nav nav-tabs shadow border-soft bg-white rounded justify-content-center p-2 p-lg-4">
                    <a href="https://themesberg.com/themes" class="nav-item nav-link mr-lg-3">All themes</a> <a href="https://themesberg.com/templates/premium" class="nav-item nav-link mr-lg-3">Premium themes</a>
                    <a href="https://themesberg.com/templates/free" class="nav-item nav-link mr-lg-3">Free themes</a> <a href="https://themesberg.com/templates/bootstrap" class="nav-item nav-link mr-lg-3">Bootstrap</a>
                    <a href="https://themesberg.com/templates/tailwind-css" class="nav-item nav-link mr-lg-3">Tailwind CSS</a> <a href="https://themesberg.com/templates/react" class="nav-item nav-link mr-lg-3">React</a>
                    <a href="https://themesberg.com/templates/laravel" class="nav-item nav-link mr-lg-3">Laravel</a> <a href="https://themesberg.com/templates/figma" class="nav-item nav-link mr-lg-3">Figma</a>
                </div>
            </nav>  
        </div>          
    </section>

    <div class="section section-sm pt-0">
        <div class="container">
            <div class="row">
                <!-- Header -->
                <th:block th:insert="~{inc/product-header.html}"></th:block>
            </div>
        </div>
    </div>
    <div class="section section-lg pt-6 pb-5 bg-white">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <!-- Presentation -->
                <th:block th:insert="~{inc/product-presentation.html}"></th:block>
            </div>
        </div>
    </div>
    <div class="section section-lg pt-6 pb-5">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <section id="markerPresentation">
                    <div class="col-12 mb-5 text-center">
                        <h2 class="h4 mb-0">Présentation</h2>   
                    </div>
                    
                    <div class="row pt-5 pt-md-0">
                        <div class="col-12 col-lg-5 mb-3 mb-lg-0">
                            <!-- Identity -->
                            <div  class="card border-gray-300 p-2 mb-lg-4">
                                <div class="card-body p-2 d-none d-lg-block">
                                    <div class="mb-4">														
                                        <span class="h5">Identité</h3>
                                    </div>
                                    <th:block th:insert="~{inc/product-referentiel-attributes.html}"></th:block>
                                </div>
                            </div>
                            <!-- Caracteristiques principales -->
                            <div class="card border-gray-300 p-2">
                                <div class="card-body p-2 d-none d-lg-block">
                                    <div class="mb-4">														
                                        <span class="h5">Caractéristiques</h3>
                                    </div>
			
                                    <th:block th:insert="~{inc/product-attributes.html}"></th:block>

                                    <a href="#markerCaracteristiques" class="w-100 btn btn__nudger mt-4">Toutes les caractéristiques</a>
                                </div>
                            </div>
                            
                        </div>                  
                        
                        <!-- Description -->
                        <div class="col-12 col-lg-7">
                            <div th:if="${globalDescriptionParagraphs}" class="row">
                                <!-- Icon Boxes -->
                                <div class="col-12 mb-4">
                                    <div class="card border-gray-300 pt-2 pb-4">
                                        <div class="card-body pt-2">
                                            <div class="mb-4">														
                                                <span class="h5">Téléviseur <span th:text="${product.bestName()}"></span></h3>
                                            </div>
                                            <p class="card-text">
                                                <span th:each="paragraph : ${globalDescriptionParagraphs}" th:utext="${paragraph + '<br/><br/>'}"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Icon Boxes -->
                            </div>
        
                            <div class="row">
                                <!-- Avantages -->
                                <div th:if="${pros}" class="col-12 mb-4">
                                    <!-- Icon Box -->
                                    <div class="card border-gray-300">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="icon icon-primary">
                                                    <span class="fas fa-plus"></span>
                                                </div>
                                                <span class="h5 ms-3">Avantages</span>
                                            </div>
                                            <ul class="list-group list-group-flush price-list">
                                                <li th:each="pro : ${pros}" class="list-group-item rounded-0" th:text="${pro}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End of Icon Box -->
                                </div>
        
                                <!-- Inconvénients -->
                                <div th:if="${cons}" class="col-12 mb-4">
                                    <!-- Icon Box -->
                                    <div class="card border-gray-300">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center mb-3">
                                                <div class="icon icon-primary">
                                                    <span class="fas fa-minus"></span>
                                                </div>
                                                <span class="h5 ms-3">Inconvénients</span>
                                            </div>
                                            <ul class="list-group list-group-flush price-list">
                                                <li th:each="con : ${cons}" class="list-group-item rounded-0" th:text="${con}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End of Icon Box -->
                                </div>
                            </div>
                        </div>
                    </div>
        </section> 
            </div>
        </div>
    </div>
    <div class="section section-lg pt-6 pb-5 bg-white">
        <div class="container">
            <div class="row justify-content-center mt-4">

            <div class="row">
                <div class="col-12 col-lg-6 coucou" th:if="${product.ecoscore != null  && null != verticalConfig}">
                    <!--/* Best price */-->				
                    <!--th:block th:insert="~{inc/product-price.html}"></th:block-->
                </div>
            </div>
            <div class="row">
                <!-- Descriptions -->
                <th:block th:insert="~{inc/product-ecological.html}"></th:block>
            </div>
            <div class="row">
                <!-- Product prices -->
                <th:block th:insert="~{inc/product-price.html}"></th:block>
            </div>
            <div class="row">
                <!-- Product attributes details -->
                <th:block th:insert="~{inc/product-attributes-details.html}"></th:block>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Authenticated section -->
                    <th:block th:if="${user}">

                        <h1 class="text-center"> Mode admin</h1>
                        <div class="text-center">
                        <a target="_blank" th:text="'Source JSON de '+ ${product.gtin()}" th:href="'https://api.nudger.fr/product/?gtin='+${product.gtin()}"></a>
                        </div>
                        <!-- Categories
                        <th:block th:insert="~{inc/product-categories.html}"></th:block>
                        -->



                            <!-- Offer names -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card shadow my-3">
                                        <div class="card-header">
                                            <h2 class="h5">Offernames</h2>
                                        </div>
                                        <div class="card-body">
                                            <ul>
                                                <li th:each="item, stat : ${product.offerNames}"
                                                    th:text="${item}"></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Mapped categories -->
                                <div class="card shadow my-3">
                                    <div class="card-header">
                                        <h2 class="h5">Categories</h2>
                                    </div>
                                    <div class="card-body">
                                        <th:block th:each="item, stat : ${product.categoriesByDatasources}">
                                            <div class="alert alert-primary" role="alert">
                                                <span th:text="${item.key + ' : ' + item.value}"></span>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>


                            <!-- Unmatched Attribute table -->
                        <th:block th:insert="~{inc/product-unmatched-attributes.html}"></th:block>
<!-- Resources -->
                        <th:block th:insert="~{inc/product-resources.html}"></th:block>

                    </th:block>

                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<th:block th:insert="~{inc/footer.html}"></th:block>

<!-- Core JS -->
<script src="../../vendor/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<!-- Vendor JS -->
<script src="../../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="../../vendor/vivus/dist/vivus.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/webjars/datatables/js/dataTables.bootstrap5.min.js"></script>

<script src="../../vendor/countup.js/dist/countUp.umd.js"></script>
<!-- Pixel JS -->
<script src="../../assets/js/pixel.js"></script>
<!-- Custom sources -->
<script src="../../assets/js/pixel-custom.js"></script>

<script src="/vendor/lightgallery/dist/lightgallery.min.js"></script>
<script src="/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Global variable for the counter
    var reversment;

    // Function to initialize DataTable
    function initTable(tableId) {
        // Initialize DataTable with specified options
        tableNew = $(tableId).DataTable({
            searching: false,
            paging: false,
            info: false,
            select: 'single',
            "order": [ [1, 'asc'] ]
        });

        // Event handler for row click in the table
        tableNew.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;

            // Retrieve data attributes from the clicked row
            token = $(e.currentTarget).attr('data-token');
            compensation = $(e.currentTarget).attr('data-compensation');

            // Update the token (e.g., in a hidden field)
            $("#token").val(token);

            var countUpUpdateoptions = {
                duration: 1,
                useEasing: false,
                useGrouping: false,
                separator: ',',
                decimal: '.',
                decimalPlaces: 2,
                prefix: '',
                suffix: ''
            };

            // Update the counter with the new compensation value
            $("#countup-reversment").attr("data-max", compensation);
            reversment.update(compensation);

            // Handle 'selected' class for the active row
            tableNew.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
            classList.add('selected');
        });
    }

    // Retrieve and format price data
    const newPriceHistoryData = /*[[${product.price.newPricehistory}]]*/ [];
    const occasionPriceHistoryData = /*[[${product.price.occasionPricehistory}]]*/ [];

    // Map data only if they are not empty
    const newPriceHistory = newPriceHistoryData.length > 0 ? newPriceHistoryData.map(({ timestamp: x, price: y }) => ({ x, y })) : [];
    const occasionPriceHistory = occasionPriceHistoryData.length > 0 ? occasionPriceHistoryData.map(({ timestamp: x, price: y }) => ({ x, y })) : [];

    // Function to filter data based on date
    function filterDataByDate(data, startDate) {
        return data.filter(item => new Date(item.x) >= startDate);
    }

    const today = new Date();

    // Define date ranges for filtering
    const dateRanges = {
        '15days': new Date(today.getTime() - (15 * 24 * 60 * 60 * 1000)),
        '3months': new Date(today.getFullYear(), today.getMonth() - 3, today.getDate()),
        '6months': new Date(today.getFullYear(), today.getMonth() - 6, today.getDate()),
        'max': null // All data
    };

    // Function to get filtered data based on the period
    function getFilteredData(data, period) {
        if (dateRanges[period]) {
            return filterDataByDate(data, dateRanges[period]);
        } else {
            return data; // Return all data for 'max'
        }
    }

    $(document).ready(function () {

        ///////////////////////////////////
        // Initialize CountUp counter
        ///////////////////////////////////
        var countUpoptions = {
            duration: 3,
            useEasing: false,
            useGrouping: false,
            separator: ',',
            decimal: '.',
            decimalPlaces: 2,
            prefix: '',
            suffix: ''
        };

        // Initialize the counter for the element with ID 'countup-reversment'
        reversment = new countUp.CountUp("countup-reversment", $("#countup-reversment").attr("data-max"), countUpoptions);
        setTimeout(reversment.start(), 5000);

        ///////////////////////////////////
        // Initialize DataTables
        ///////////////////////////////////

        // Initialize the offers table
        initTable('#offres');

        // Initialize attributes table if it exists
        if ($("#allAttributes").length) {
            $('#allAttributes').DataTable({
                responsive: true
            });
        }

        // Initialize images table if it exists
        if ($("#imagesTable").length) {
            $('#imagesTable').DataTable({
                responsive: true
            });
        }

        ///////////////////////////////////
        // Activate Bootstrap tooltips
        ///////////////////////////////////
        $('[data-bs-toggle="tooltip"]').tooltip();

        ///////////////////////////////////
        // Initialize price charts
        ///////////////////////////////////

        // Initialize the 'New Price' chart only if data is available
        if (newPriceHistory.length > 0) {
            let defaultPeriod = '3months';
            if (!hasDataInPeriod(newPriceHistory, defaultPeriod)) {
                defaultPeriod = 'max';
            }

            const newPriceCtx = document.getElementById('newPriceChart').getContext('2d');
            const newPriceChart = new Chart(newPriceCtx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Prix Neuf',
                        fill: true,
                        data: getFilteredData(newPriceHistory, defaultPeriod),
                        backgroundColor: '#4cb1ff',
                        borderColor: '#41a3ef',
                        borderWidth: 2,
                        tension: 0,
                        pointRadius: 0,
                        pointHoverRadius: 6,
                        pointHitRadius: 10,
                    }]
                },
                options: {
                    interaction: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'dd/MM/yyyy'
                                },
                                tooltipFormat: 'dd/MM/yyyy'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Prix (€)'
                            }
                        }
                    }
                }
            });

            // Set the active button
            setActiveButton(document.getElementById('btn-new-' + defaultPeriod), 'new');

            // Disable buttons without data
            ['15days', '3months', '6months'].forEach(period => {
                if (!hasDataInPeriod(newPriceHistory, period)) {
                    const button = document.getElementById('btn-new-' + period);
                    button.disabled = true;
                    button.classList.add('disabled');
                }
            });

            // Event handlers for 'New Price' chart buttons
            document.getElementById('btn-new-15days').addEventListener('click', function () {
                updateChart(newPriceChart, newPriceHistory, '15days');
                setActiveButton(this, 'new');
            });

            document.getElementById('btn-new-3months').addEventListener('click', function () {
                updateChart(newPriceChart, newPriceHistory, '3months');
                setActiveButton(this, 'new');
            });

            document.getElementById('btn-new-6months').addEventListener('click', function () {
                updateChart(newPriceChart, newPriceHistory, '6months');
                setActiveButton(this, 'new');
            });

            document.getElementById('btn-new-max').addEventListener('click', function () {
                updateChart(newPriceChart, newPriceHistory, 'max');
                setActiveButton(this, 'new');
            });
        }

        // Initialize the 'Used Price' chart only if data is available
        if (occasionPriceHistory.length > 0) {
            let defaultPeriod = '3months';
            if (!hasDataInPeriod(occasionPriceHistory, defaultPeriod)) {
                defaultPeriod = 'max';
            }

            const usedPriceCtx = document.getElementById('usedPriceChart').getContext('2d');
            const usedPriceChart = new Chart(usedPriceCtx, {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'Prix d\'Occasion',
                        fill: true,
                        data: getFilteredData(occasionPriceHistory, defaultPeriod),
                        backgroundColor: '#ff6384',
                        borderColor: '#fa486e',
                        borderWidth: 2,
                        tension: 0,
                        pointRadius: 0,
                        pointHoverRadius: 6,
                        pointHitRadius: 10,
                    }]
                },
                options: {
                    interaction: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                unit: 'day',
                                displayFormats: {
                                    day: 'dd/MM/yyyy'
                                },
                                tooltipFormat: 'dd/MM/yyyy'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Prix (€)'
                            }
                        }
                    }
                }
            });

            // Set the active button
            setActiveButton(document.getElementById('btn-used-' + defaultPeriod), 'used');

            // Disable buttons without data
            ['15days', '3months', '6months'].forEach(period => {
                if (!hasDataInPeriod(occasionPriceHistory, period)) {
                    const button = document.getElementById('btn-used-' + period);
                    button.disabled = true;
                    button.classList.add('disabled');
                }
            });

            // Event handlers for 'Used Price' chart buttons
            document.getElementById('btn-used-15days').addEventListener('click', function () {
                updateChart(usedPriceChart, occasionPriceHistory, '15days');
                setActiveButton(this, 'used');
            });

            document.getElementById('btn-used-3months').addEventListener('click', function () {
                updateChart(usedPriceChart, occasionPriceHistory, '3months');
                setActiveButton(this, 'used');
            });

            document.getElementById('btn-used-6months').addEventListener('click', function () {
                updateChart(usedPriceChart, occasionPriceHistory, '6months');
                setActiveButton(this, 'used');
            });

            document.getElementById('btn-used-max').addEventListener('click', function () {
                updateChart(usedPriceChart, occasionPriceHistory, 'max');
                setActiveButton(this, 'used');
            });
        }

        // Function to update the chart with filtered data
        function updateChart(chart, data, period) {
            chart.data.datasets[0].data = getFilteredData(data, period);
            chart.update();
        }

        // Function to check if data is available in a given period
        function hasDataInPeriod(data, period) {
            return getFilteredData(data, period).length > 0;
        }

        // Function to visually set the active button
        function setActiveButton(activeButton, chartType) {
            const buttonGroupSelector = chartType === 'new' ? '.btn-group .btn[id^="btn-new"]' : '.btn-group .btn[id^="btn-used"]';
            const buttons = document.querySelectorAll(buttonGroupSelector);
            buttons.forEach(button => {
                button.classList.remove('btn-primary', 'active-period-btn');
                button.classList.add('btn-secondary');
            });
            activeButton.classList.remove('btn-secondary');
            activeButton.classList.add('btn-primary', 'active-period-btn');
        }

        ///////////////////////////////////
        // Initialize image gallery
        ///////////////////////////////////

        // Get the carousel element
        let carouselEl = document.getElementById('bootstrap-gallery-carousel');

        // Create a Bootstrap Carousel instance with specified options
        const carousel = new bootstrap.Carousel(carouselEl, {
            interval: 10000,
            wrap: false,
        });

        // Add event listener for 'slide.bs.carousel'
        carouselEl.addEventListener('slide.bs.carousel', (event) => {
            const container = document.querySelector('.carousel-inner');
            window.lightGallery(container, {
                plugins: [lgThumbnail],
                selector: '.lg-item',
            });
        });
    });
    /*]]>*/
</script>

</body>

</html>