<!DOCTYPE html>
<html th:lang="${siteLocale.language}">

<head>

    <!--/* Metas and CSS */-->
    <th:block th:insert="~{inc/header-meta.html}"></th:block>
    
    <!-- Primary Meta Tags -->
    <title th:text="#{index.title}"></title>
    <meta name="title" th:content="${verticalConfig.i18n(siteLanguage).verticalMetaTitle}">
    <meta name="description" th:content="${verticalConfig.i18n(siteLanguage).verticalMetaDescription}">
        
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" th:content="${verticalConfig.i18n(siteLanguage).productMetaOpenGraphTitle}">
    <meta property="og:description" th:content="${verticalConfig.i18n(siteLanguage).productMetaOpenGraphTitle}">
    <meta property="og:image" th:content="${url} + 'assets/img/brand/light.svg'">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <!-- TODO : Image of the category -->
    <meta name="twitter:url" th:content="${url}">
    <meta name="twitter:title" th:content="${verticalConfig.i18n(siteLanguage).productMetaTwitterTitle}">
    <meta name="twitter:description" th:content="${verticalConfig.i18n(siteLanguage).productMetaTwitterDescription}">
    <!-- TODO : Image of the category -->
    <meta name="twitter:image" th:content="${url} + 'assets/img/brand/light.svg'">

    <link rel="stylesheet" type="text/css" href="/webjars/datatables/css/dataTables.bootstrap5.min.css">
    
    <style>
    tbody, td, tfoot, th, thead, tr {
         border-style: none;
    }   
    
    
    /* Force the table to stretch full width in list view */
        #tableProducts {
            table-layout: auto !important; /* Instead of fixed */
            width: 100% !important;
        }

        /* Ensure the single-colspan cell (list view) takes all horizontal space */
        #tableProducts td[colspan] {
            width: 100% !important;
            display: table-cell; /* force it back to a normal table cell */
        }

        /* Remove border in "card mode" */
        .table-bordered.card {
            border: 0 !important;
        }

        /* Hide thead in card mode (since we prepend column labels) */
        .card thead {
            display: none;
        }

        /* Each <tr> in card view floats and has a fixed width (typical “card deck” style) */
        .cardTr {
            float: left;
            width: 20em; /* adjust to your liking, or use 100% for single-column cards */
            margin: 0.5em;
            border: 1px solid #bfbfbf;
            border-radius: 0.5em;
            background-color: transparent !important;
            box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
        }


        /* Turn each cell into a block when in card mode */
        .cardTd {
            display: block;
            border: 0;
        }
    
    </style>
    
</head>

<body>
    
    <header>
        <!--/* Loader */-->
        <th:block th:insert="~{inc/preloader.html}"></th:block>
        <!--/* Navbar */-->
        <th:block th:insert="~{inc/navbar/navbar-home.html}"></th:block>
    </header>
    
    <main>  
  
        <div class="section section-lg mb-6">
            <div class="container container-semi-fluid">

                <!--/* Hero */-->                       
                <div class="row mb-2">                          
                    <div class="card shadow">
                        <div class=" align-items-center">
                            
                                <div class="d-flex flex-wrap align-items-center row">
                                    <div class="col-lg-2 text-center">
                                            <img class="mt-2" width="150" th:src="'/images/verticals/' + ${vertical} + '.jpg'">
                                    </div>
                                    <div class="col-lg-10">
                                            <h1 class="mt-2 text-center" th:text="${verticalConfig.i18n(siteLanguage).verticalHomeTitle}"></h1>
                                            <p class="row p-2 mb-4" th:text="${verticalConfig.i18n(siteLanguage).verticalHomeDescription}"> </p>        
                                    </div> 
                                </div>
                        </div>
                    </div>
                </div>
                        
                <div class="row ">
                
                    <!--/* Left column */-->                    
                    <div class="col-lg-3 mb-3 mb-lg-0">
                    
                    
                    
                        <!--/* Calcul impact score */--> 
                        <div class="row card shadow mb-2">
                            <div class="card-header"><h2 class="h5">Impact Score téléviseur</h2></div>
                            <div class="card-body">
                                Nudger a développé un score d'impact écologique pour les téléviseurs.
                                <a class="btn btn-primary btn-sm"  th:href="'/' + ${verticalPath} + '/ecoscore'">
                                    Eco score téléviseurs
                                </a>
                                
                                
                            </div>
                        </div>

                        <!--/* Acces rapide */--> 
                        <div class="row card shadow mb-2">
                            <div class="card-header"><h2 class="h5">Accès rapide</h2></div>
                            <div class="card-body">
                             
                             <th:block th:each="subsetGroup : ${verticalConfig.getSubsetGroups()}">
                             
                                <span th:text="${subsetGroup.key}"></span>
                                
                                <ul>
                                <li th:each="subset : ${subsetGroup.value}">
                                    <a th:href="'/'+${verticalPath} +'/' + ${subset.url.i18n(siteLanguage)}" th:text="${subset.title.i18n(siteLanguage)}"></a>
                                </li>
                                </ul>
                             
                             </th:block>
                             
                             
                             
                                
                                
                            </div>
                        </div>
                        

                            
                        <!--/* Guides */--> 
                        <div th:if="${verticalConfig.i18n(siteLanguage).getWikiPages().size() > 0}" class="row card shadow mb-2">
                            <div class="card-header"><h2 class="h5">Les guides</h2></div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush price-list">
                                    <li th:each="item : ${verticalConfig.i18n(siteLanguage).getWikiPages()}" class="list-group-item border-0">
                                        <span class="fas" th:classappend="${item.faIcon}" ></span>
                                        <a th:href="'/' + ${verticalPath} + '/'+ ${item.verticalUrl}" th:text="${item.title}"></a> 
                                    </li>                               
                                </ul>
                            </div>
                        </div>   
                        

                        <!--/* Blog posts */--> 
                        <div th:if="${posts.size()>0}" class="row card shadow mb-2">
                            <div class="card-header"><h2 class="h5">On en parle dans le blog</h2></div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush price-list">
                                    <li th:each="post : ${posts}" class="list-group-item border-0">                                     
                                        <a th:href="'/blog/'+${post.url}" th:text="${post.title}"></a> 
                                    </li>
                                </ul>
                            </div>
                        </div>   
                        

                        
                        
                        
                                                                    
                    </div>

                    <!--/* Right column */-->
                    <div class="col-lg-9">
                        <div class="ms-1 row card shadow">


							<div class="dt-buttons">
								<div class="dt-buttons btn-group">
				
								</div>
						
							</div>
							
							
                                <th:block th:insert="~{inc/vertical-filters-price.html}"></th:block>
							
							
                                <th:block th:insert="~{inc/vertical-filters-eco.html}"></th:block>


                                <th:block th:insert="~{inc/vertical-filters-technical.html}"></th:block>
							
							
							
							
							
							
	                           						
							
    							<th:block th:insert="~{inc/vertical-table.html}"></th:block>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--/* Footer */-->
    <th:block th:insert="~{inc/footer.html}"></th:block>    

    <!-- Specific vertical rendering scripts -->
    <th:block th:insert="~{inc/vertical-script.html}"></th:block>    

    
    
    
<script>
/////////////////////
// Filter togglers
///////////////////// 
  document.addEventListener("DOMContentLoaded", function () {
    // Add event listeners to all accordion headers
    document.querySelectorAll(".accordion-button").forEach(function (button) {
      button.addEventListener("click", function () {
        const targetId = this.getAttribute("data-target");
        const targetElement = document.getElementById(targetId);

        if (targetElement.classList.contains("show")) {
          // Collapse the body if it is visible
          targetElement.classList.remove("show");
          this.setAttribute("aria-expanded", "false");
        } else {
          // Expand the body if it is hidden
          targetElement.classList.add("show");
          this.setAttribute("aria-expanded", "true");
        }
      });
    });
  });
</script>




</body>

</html>
